@import "../flexible";
@import "../reset.css";
@import "../weui.min.css";
@import "//at.alicdn.com/t/font_u5ko7wbksu1sjor.css";

$gold-color: #aa8e68;
.auth {
  .title {
    font-size: 16px;
    text-align: center;
    margin-top: 20px;
  }
  .weui-cell {
    font-size: 14px;
    .weui-label{
      width: 80px;
    }
    .weui-vcode-btn {
      font-size: 13px;
      color: #ff211a;
    }
  }

  .weui-cell_select {
    .weui-select {
      color: #555;
    }
  }
  .submit{
    padding: px2rem(100);
    .weui-btn_primary {
      background: #1cafa5;
      &:active {
        background: #1cafa5;
        opacity: .8;
      }
    }
    .tip{
      font-size: 12px;
      color: #ff211a;
      margin: px2rem(20) 0px;
      text-align: center;
    }
  }
  .error{
    font-size: 12px;
    color: #ff211a;
  }
}

