@import "../flexible";
@import "../reset.css";
@import "../weui.min.css";
@import "//at.alicdn.com/t/font_qtbo5kyqr89kvs4i.css";

$color: #1bb0a5;
html, body {
  background: #fafafa;
}

.nav-box {
  .nav-img {
    width: 100%;
    a, img {
      position: relative;
      width: 100%;
      height: px2rem(320);
    }
    .to {
      position: absolute;
      bottom: 0px;
      width: 100%;
      height: px2rem(70);
      line-height: px2rem(70);
      background: rgba(0, 0, 0, .4);
      color: white;
      .main {
        font-size: 15px;
        margin: 2px px2rem(16);
      }
    }
    .login-bar {
      background: white;
      padding: px2rem(16);
      font-size: 14px;
      .go-btn {
        float: right;
        height: 22px;
        line-height: 22px;
        font-size: 12px;
        border-radius: 10px;
        background: #1bb0a5;
      }
    }
  }
}

.grid-menu {
  td {
    width: 50%;
    box-sizing: border-box;
    padding: px2rem(22) px2rem(22) 0px px2rem(20);
    vertical-align: middle;
    text-align: center;
  }
  tr td:last-child {
    padding-left: 0px;
  }
  .gird-item {
    display: inline-block;
    width: 100%;
    color: #333333;
    text-align: left;
    background: white;
    padding: px2rem(60) px2rem(28);
    box-sizing: border-box;
    h3 {
      font-size: 16px;
      font-weight: normal;
      margin-bottom: px2rem(6);
    }
    .iconfont {
      color: $color;
      font-size: 30px;
      margin-right: px2rem(20);
    }
    p {
      color: #888;
    }
  }
}