@charset "UTF-8";
/*
    @author xiao
    @des: APP端基础方法
    @使用心得:
        -适配方案参考淘宝开源库lib.flexible
        -布局rem动态适配
        -字体dpr动态适配
        -和文字相关的布局用px写死比较好。。。因为用rem会和没有用rem布局的字体有错位
        -目前市面上有三种代表的适配方案：
            1. 直接750设计稿除以2适配所有机型，布局采用百分比：代表网站 拉勾网
            2. 动态改变html font-size基准，所有元素以rem适配：代表网站 小米网
            3. 动态改变html font-size基准，所有除字体相关元素以外的rem适配，字体只按分辨率适配：代表网站 淘宝网
 */
/**
 * 基本思想描述：
 * 多屏适配布局问题
 * 移动端布局，为了适配各种大屏手机，目前最好用的方案莫过于使用相对单位rem。
 * 基于rem的原理，我们要做的就是: 针对不同手机屏幕尺寸和dpr动态的改变根节点html的font-size大小(基准值)。
 * 这里我们提取了一个公式(rem表示基准值)
 * rem = document.documentElement.clientWidth * dpr / 10
 * 说明：
 * 1）乘以dpr，是因为页面有可能为了实现1px border页面会缩放(scale) 1/dpr 倍(如果没有，dpr=1)。
 * 2）除以10，是为了取整，方便计算(理论上可以是任何值)
 * 所以就像下面这样，html的font-size可能会：
 * iPhone3gs: 320px / 10 = 32px
 * iPhone4/5: 320px * 2 / 10 = 64px
 * iPhone6: 375px * 2 / 10 = 75px
 * iPhone6plus: 414 * 3 / 10 = 124.2px
 */
/*
    px转换成rem
 */
/*
    默认已iPhone6的750为基准开发
    font-size 不推荐转换成rem
    原因：我们不希望文本在Retina屏幕下变小，
    另外，我们希望在大屏手机上看到更多文本，
    以及，现在绝大多数的字体文件都自带一些点阵尺寸，通常是16px和24px，所以我们不希望出现13px和15px这样的奇葩尺寸。
    注意设计稿是2x屏幕, 所以1x屏幕需要除以2
 */
/**
 *  为了和字体适配一样的非字体元素准备的转化方法
 */
@import url(../reset.css);
@import url(../weui.min.css);
@import "//at.alicdn.com/t/font_u5ko7wbksu1sjor.css";
.triangle-up {
  position: absolute;
  bottom: 0px;
  left: 50%;
  z-index: 100;
  display: inline-block;
  width: 0;
  height: 0;
  border-left: 5px solid transparent;
  border-right: 5px solid transparent;
  border-bottom: 5px solid #333;
  margin-left: -4px; }

.container, .page {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.nav-box .nav-img {
  width: 100%; }
  .nav-box .nav-img a, .nav-box .nav-img img {
    position: relative;
    width: 100%;
    height: 4.26667rem; }
  .nav-box .nav-img .to {
    position: absolute;
    bottom: 0px;
    width: 100%;
    height: 0.93333rem;
    line-height: 0.93333rem;
    background: rgba(0, 0, 0, 0.4);
    color: white; }
    .nav-box .nav-img .to .main {
      font-size: 15px;
      margin: 2px 0.21333rem; }
  .nav-box .nav-img .login-bar {
    background: white;
    padding: 0.21333rem;
    font-size: 14px; }
    .nav-box .nav-img .login-bar .go-btn {
      float: right;
      height: 22px;
      line-height: 22px;
      font-size: 12px;
      border-radius: 10px;
      background: #1bb0a5; }

.weui-navbar .weui-navbar__item {
  padding: 8px 0px;
  border-bottom: 1px solid white;
  background: white; }
  .weui-navbar .weui-navbar__item .tup {
    display: none; }
.weui-navbar .weui-bar__item_on {
  border-bottom: 1px solid #586c94;
  background: #fafafa; }
  .weui-navbar .weui-bar__item_on .tup {
    display: inline-block; }

.art-list {
  border-top: 1px solid #e5e5e5; }

.weui-media-box {
  padding: 0.26667rem 0.4rem;
  background: white;
  box-sizing: border-box; }
  .weui-media-box .weui-media-box__hd {
    width: 2.13333rem;
    height: 2.13333rem;
    line-height: 2.13333rem; }
  .weui-media-box .weui-media-box__desc {
    line-height: 0.42667rem; }

.weui-navbar + .weui-tab__panel {
  padding-top: 40px; }
  .weui-navbar + .weui-tab__panel .weui-panel__bd {
    display: none; }

.weui-media-box_appmsg .weui-media-box__thumb {
  vertical-align: middle; }

.weui-tabbar {
  position: fixed; }

.weui-tabbar__icon > i, i.weui-tabbar__icon {
  font-size: 20px; }

/*# sourceMappingURL=main.css.map */
