@import "../flexible";
@import "../reset.css";
@import "../weui.min.css";
@import "//at.alicdn.com/t/font_z0yyuqlor2uik9.css";

$color: #1cafa5;
.mt20 {
  margin-top: px2rem(20) !important;
}

.user-box {
  font-size: 13px;
  .user-info {
    padding: px2rem(40) 0px;
    text-align: center;
    background: rgba(54, 130, 144, 0.9);
    .headshot {
      border: 3px solid white;
    }
    .phone {
      margin-top: px2rem(10);
      color: white;
    }
  }
  .weui-panel {
    background: none;
    .weui-cells {
      font-size: 15px;
      .iconfont {
        color: $color;
        font-size: 18px;
        margin-right: px2rem(20);
      }
      &:before {
        top: 0;
        border-top: 1px solid #e5e5e5;
        -webkit-transform-origin: 0 100%;
        transform-origin: 0 100%;
        -webkit-transform: scaleY(.5);
        transform: scaleY(.5);
      }
    }
  }
}

.logout {
  padding: px2rem(100);
  .weui-btn_primary {
    background: #1cafa5;
    &:active {
      background: #1cafa5;
      opacity: .8;
    }
  }
}
