body {
  background: white;
}
.addr_top {
  padding: 0.3rem;
  padding-bottom: 0px;
  display: flex;
}
.addr_top .title_box {
  display: flex;
  align-items: center;
}
.addr_top .title_box .title {
  overflow: hidden;
  font-size: 0.3rem;
  color: #222;
  width: calc(100vw - 1.5rem);
  font-weight: 700;
}
.addr_top .title_box img {
  width: 0.32rem;
  margin-left: 0.1rem;
}
.addr_top .addr_detail {
  padding-top: 0.1rem;
}
.films-swiper-box {
  background-color: #f3f5f7;
}
.films-swiper-box .swiper-container {
  width: 100%;
  height: 2.6rem;
}
.films-swiper-box .swiper-container .swiper-slide {
  text-align: center;
  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
  transition: 300ms;
  transform: scale(0.8);
}
.films-swiper-box .swiper-container .swiper-slide img {
  margin-top: 0.2rem;
  width: 1.4rem;
  height: 1.86rem;
  display: block;
  transition: all 0.2s;
  border-radius: 0.06rem;
}
.films-swiper-box .swiper-container .swiper-slide-active,
.films-swiper-box .swiper-container .swiper-slide-duplicate-active {
  transform: scale(1);
}
.films-swiper-box .film_desc {
  text-align: center;
}
.films-swiper-box .film_desc .title {
  font-size: 0.36rem;
  color: #222;
  font-weight: bold;
  padding-top: 0.2rem;
}
.films-swiper-box .film_desc .desc {
  color: #888;
  padding: 0.2rem;
}
.scrollXBox {
  width: 100%;
  white-space: nowrap;
  overflow-x: scroll;
  -webkit-overflow-scrolling: touch;
  overflow-y: hidden;
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background: #fff;
  border-bottom: 1px solid #eee;
}
.scrollXBox .date-item {
  display: inline-block;
  position: relative;
  font-size: 0.26rem;
  color: #aaa;
  padding: 0.05rem 0.3rem;
  padding-right: 0.15rem;
  border-radius: 0.5rem;
}
.scrollXBox .date-item.active {
  font-weight: 700;
  color: #333333;
}
.scrollXBox .date-item.active::after {
  content: "";
  width: 0.5rem;
  height: 3px;
  position: absolute;
  bottom: -10px;
  left: 50%;
  margin-left: -0.25rem;
  background: #ee0a24;
  border-radius: 5px;
}
.movie_list {
  line-height: 1;
  padding: 0px 0.3rem;
  --main-color: #ee3d37;
}
.movie_list .item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0.4rem 0px;
  color: #888;
  font-size: 0.24rem;
  border-bottom: 1px solid #eee;
}
.movie_list .item .left {
  display: flex;
  align-items: flex-start;
}
.movie_list .item .left .arrow-icon {
  width: 0.32rem;
  margin: 0px 0.2rem;
  margin-top: 0.2rem;
}
.movie_list .item .left p {
  padding: 0.06rem 0px;
  margin: 0px;
}
.movie_list .item .left .date {
  font-size: 0.36rem;
  color: #222;
  margin-right: 0.1rem;
}
.movie_list .item .center {
  color: #ffb415;
}
.movie_list .item .center .price {
  font-size: 0.36rem;
  font-weight: 700;
}
.movie_list .item .right .btn {
  color: #fff;
  font-size: 0.28rem;
  background: var(--main-color);
  display: table;
  padding: 0.14rem 0.28rem;
  -webkit-box-shadow: 0 0.03rem 0.06rem 0 rgba(var(--main-color), 0.4);
  box-shadow: 0 0.03rem 0.06rem 0 rgba(var(--main-color), 0.4);
  border-radius: 0.35rem;
}
