@charset "utf-8";
@import "../common/reset.css";
@import "../common/common.css";
@import "../lib/viewer.min.css";
@import "../lib/swiper-3.4.0.min.css";

.swiper-slide img {
  max-width: 100%;
  max-height: 100%;
}
.swiper-button-prev {
  background: url(../../img/common/arrow-left.png) left 0px no-repeat;
  -webkit-background-size: 35%;
  background-size: 35%;
}
.swiper-button-next {
  background: url("../../img/common/arrow-right.png") right 0px no-repeat;
  -webkit-background-size: 35%;
  background-size: 35%;
}

/*户口图*/
.house-title {
  font-size: 15px;
  color: #fff;
  text-align: center;
  line-height: 2.6;
  background: #2a2a2a;
  min-height: 39px;
}

/* 主力户型 */
.viewer-pic {
  height: 2rem;
  overflow: hidden;
  margin: .1rem 0px;
  li {
    text-align: center;
    img {
      height: 2rem;
    }
  }
}

.link-3d {
  padding: 15px 0;
  a {
    display: block;
    width: 80%;
    font-size: 16px;
    color: #fff !important;
    background: #28c2fc;
    text-align: center;
    margin: 0 auto;
    padding: 8px 0;
    &:visited, &:active {
      color: #fff;
    }
  }
}

.main-type {
  padding: 0.15rem 0.1rem 0.45rem;
  .main-type-slide {
    overflow: hidden;
    margin-top: 0.1rem;
    .swiper-container {
      overflow: visible;
    }
    .swiper-slide {
      width: 41%;
      text-align: center;
      -webkit-box-sizing: border-box;
      -moz-box-sizing: border-box;
      box-sizing: border-box;
      padding-right: 0.07rem;
      .pic {
        position: relative;
        border-bottom: 0.03rem solid #28c2fc;
      }
      .pic-3d:after {
        content: '3D';
        color: white;
        background: #28c2fc;
        position: absolute;
        top: 0px;
        left: 0px;
        border-radius: 100%;
        padding: 3px;
        text-align: center;
        font-size: 0.1rem;
      }
    }
  }

  .main-type-slide .swiper-slide a,
  .main-type-slide .swiper-slide a img {
    display: block;
    width: 100%;
    height: auto;
  }

  .main-type-slide .swiper-slide a p {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background: rgba(0, 0, 0, .73);
    color: #fff;
    font-size: 0.1rem;
    line-height: 1.8;
  }

  .main-type-slide .swiper-slide .tit {
    font-size: 0.1rem;
    color: #2a2a2a;
    line-height: 1.8;
    margin-top: 0.05rem;
  }
}