@chartset 'utf-8';
@import "../lib/flexible";
@import "../lib/common";
@import "../lib/artDialog.css";
$cBlack: rgb(42, 42, 42);
body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
}

.wrap-box{
  height: 100vh;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-direction: column;
      flex-direction: column;
}
.banner-swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
  height: px2rem(380);
  .swiper-slide {
    img {
      width: 100%;
      height: px2rem(380);
    }
  }
  .swiper-pagination-bullet {
    width: 5px;
    height: 5px;
    display: inline-block;
    border-radius: 100%;
    background: white;
    opacity: .5;
    &.swiper-pagination-bullet-active {
      opacity: 1;
    }
  }
}


.container {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -ms-flex-direction: column;
      flex-direction: column;
}

.info {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: start;
      align-items: flex-start;
  margin: px2rem(20) px2rem(30);
  padding: px2rem(20) px2rem(30);
  background: url("../../img/index/ebg.png") 0 0 no-repeat;
  background-size: 100% 100%;

  .btn_scode {
    width: px2rem(116);
    height: px2rem(116);
  }
  .default, .actived {
    -ms-flex: 1;
        flex: 1;
    height: px2rem(116);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
        justify-content: space-between;
    -ms-flex-direction: column;
        flex-direction: column;
    -ms-flex-align: start;
        align-items: flex-start;
    color: rgb(42, 42, 42);
    h3 {
      font-size: 19px;
      color: rgb(42, 42, 42);
      line-height: 1;
    }
    .btn_active {
      font-size: 10px;
      color: white;
      background: rgb(42, 42, 42);
      padding: 4px 20px;
      border-radius: 20px;
      font-weight: bold;
    }
    p {
      line-height: 1;
      padding-top: px2rem(12);
    }
  }
  .actived {
    display: none;
  }
  &.activated {
    .default {
      display: none;
    }

    .actived {
      display: -ms-flexbox;
      display: flex;
    }
  }
}

.split {
  border-bottom: 1px solid rgba(42, 42, 42, 0.15);
}

.link-box {
  -ms-flex: 1;
      flex: 1;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
      align-items: center;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-direction: column;
      flex-direction: column;
  box-sizing: border-box;

  &:before,&:after{
    content: ' ';
    display: block;
  }
  .split_bg {
    display: block;
    width: 100%;
    height: 1px;
  }
  .items {
    width: 100%;
    padding: 0px px2rem(22);
    box-sizing: border-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
        align-items: center;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    .split {
      width: 1px;
      height: px2rem(208);
    }
    .item {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: center;
          justify-content: center;
      -ms-flex-align: center;
          align-items: center;
      -ms-flex-direction: column;
          flex-direction: column;
      color: $cBlack;
      font-size: px2rem(26);
      font-weight: bold;
      padding: px2rem(65) 0px;

      img {
        height: px2rem(66);
        margin-bottom: px2rem(30);
      }
    }
  }
}

.ui-dialog-body {
  .icon_close {
    width: px2rem(44);
    position: absolute;
    right: 6px;
    top: 6px;
  }
  .scode-avt {
    width: px2rem(400);
  }
  .pop-cont {
    position: relative;
    padding: px2rem(0) px2rem(80);
    height: px2rem(680);
    line-height: px2rem(680);
  }
}

.footer {
  height: px2rem(120);
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: justify;
      justify-content: space-between;
  -ms-flex-align: center;
      align-items: center;
  background: $cBlack;
  padding: 0px px2rem(100);
  /*position: fixed;*/
  bottom: 0px;
  left: 0px;
  width: 100%;
  box-sizing: border-box;
  a {
    padding-top: px2rem(66);
    color: white;
    font-size: px2rem(20);
    text-align: center;
    min-width: px2rem(120);
    display: block;
    height: 100%;
    box-sizing: border-box;
    &:nth-of-type(1) {
      background: url("../../img/index/h_1.png") center px2rem(14) no-repeat;
      background-size: px2rem(50) px2rem(50);
      &.on {
        background: url("../../img/index/h_1_on.png") center px2rem(14) no-repeat;
        background-size: px2rem(50) px2rem(50);
      }
    }
    &:nth-of-type(2) {
      background: url("../../img/index/h_2.png") center px2rem(14) no-repeat;
      background-size: px2rem(50) px2rem(50);
      &.on {
        background: url("../../img/index/h_2_on.png") center px2rem(14) no-repeat;
        background-size: px2rem(50) px2rem(50);
      }
    }
    &:nth-of-type(3) {
      background: url("../../img/index/h_3.png") center px2rem(14) no-repeat;
      background-size: px2rem(50) px2rem(50);
      &.on {
        background: url("../../img/index/h_3_on.png") center px2rem(14) no-repeat;
        background-size: px2rem(50) px2rem(50);
      }
    }
  }
}