@charset "utf-8";
@import "../lib/reset.css";
@import "../lib/flexible";
@import "../lib/common";

html, body {
  padding-bottom: px2rem(100);
}

.my_wraper {
  height: 100vh;
  background-size: 100%;
  background-position: bottom;
  .login_logo {
    text-align: center;
    padding: px2rem(180) px2rem(30) px2rem(100);
    img {
      width: px2rem(196);
      height: px2rem(196);
    }
  }

  .info {
    color: #7d7c7d;
    text-align: center;
    line-height: 1.8;
    .phone {
      color: $cRed;
    }
  }
  .get_quan {
    color: #7d7c7d;
    text-align: center;

    .tip {
      padding-bottom: px2rem(50);
    }
  }
  .ops {
    text-align: center;
    a {
      display: inline-block;
      border-width: 1px;
      border-color: $cRed;
      border-style: solid;
      width: px2rem(446);
      height: px2rem(60);
      line-height: px2rem(60);
      border-radius: px2rem(100);
      margin-top: px2rem(30);
      font-size: 15px;
      color: $cRed;
      &.btn_primary {
        background: $cRed;
        color: white;
      }
    }
  }
}

.change_account {

  .info {
    padding: px2rem(60);
    font-size: 13px;
    color: #7d7c7d;
    .title {
      padding: px2rem(60) 0px;
    }
    .phone-box {
      border-bottom: 1px solid $lineGray;
      padding-bottom: px2rem(20);

      .ipt_phone {
        border: none;
        width: 100%;
        font-size: 13px;
      }
    }
  }

  .ops {
    text-align: center;
    a {
      display: inline-block;
      border-width: 1px;
      border-color: $cRed;
      border-style: solid;
      width: px2rem(446);
      height: px2rem(60);
      line-height: px2rem(60);
      border-radius: px2rem(100);
      margin-top: px2rem(30);
      font-size: 15px;
      color: $cRed;
      &.btn_primary {
        background: $cRed;
        color: white;
      }
    }
  }
}

/*q_list*/
.q_list {
  color: #7d7c7d;
  font-size: 12px;
  .mitem {
    background: white;
    margin-bottom: px2rem(14);
  }
  .minfo {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: px2rem(18) px2rem(20);
    .more {
      display: flex;
      justify-content: space-between;
      align-items: center;
      span{
        display: block;
        width: px2rem(100);
        text-align: right;
      }
      img {
        display: block;
        height: px2rem(16);
        margin-left: px2rem(8);
      }
    }
  }
  .item {
    position: relative;
    background: white;
    padding: px2rem(36) px2rem(20);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    align-items: center;
    color: $cGrey;
    border-top: 1px solid $lineGray;
    border-bottom: 1px solid $lineGray;
    margin: 0px px2rem(20);
    box-sizing: border-box;
    .check-box {
      display: inline-block;
      width: px2rem(30);
      height: px2rem(30);
      border: 2px solid rgba(224, 226, 225, .6);
      border-radius: 100%;
      margin-right: px2rem(14);
      &.on {
        background: url("../../img/common/i-gou.png") center center no-repeat;
        -webkit-background-size: 70%;
        background-size: 70%;
      }
    }
    > img {
      width: px2rem(200);
      height: px2rem(200);
      border-radius: px2rem(10);
    }

    .info {
      -ms-flex: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: px2rem(16);
      position: relative;
      height: px2rem(196);
      box-sizing: border-box;
      h3 {
        font-size: px2rem(28);
        p {
          font-size: 12px;
          color: rgba(125, 124, 125, 0.6);
          padding-top: px2rem(4);
        }
      }
      .num {
        font-size: px2rem(32);
      }
      .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: px2rem(28);
        position: relative;
        .jf {
          > span {
            color: $cRed;
          }
        }
        > div {
          bottom: 5px;
          right: px2rem(0);
        }
        .send-num {
          display: flex;
          justify-content: space-between;
          align-items: center;
          width: px2rem(220);
          > span {
            display: inline-block;
            border-radius: 2px;
            width: px2rem(60);
            height: px2rem(42);
            line-height: px2rem(42);
            background-color: rgb(224, 226, 225);
            text-align: center;
            color: #333;
          }
          > input {
            border: 1px solid $lineGray;
            border-radius: 2px;
            width: px2rem(60);
            height: px2rem(42);
            line-height: px2rem(42);
            font-size: 15px;
            text-align: center;
            color: #7d7c7d;
          }
        }
      }

    }
  }
  .summary {
    padding: px2rem(20);
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: white;
    span {
      i {
        font-style: normal;
        color: $cRed;
      }
    }
    > span {
      display: inline-block;
      padding: 2px 12px;
      font-size: 12px;
      color: $cRed;
      border: 1px solid $cRed;
      border-radius: 10px;
      margin-left: px2rem(50);
      &.btn_primary {
        background-color: $cRed;
        color: white;
      }
    }
  }
  .more_list {
    display: none;
    &.on{
      display: block;
    }
    .pline {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding: px2rem(20) px2rem(40);
      i {
        width: px2rem(4);
        height: px2rem(4);
        border-radius: 100%;
        background: $cRed;
      }
      .txt{
        flex: 1;
        padding-left: px2rem(15);
      }
      .num{
        width: px2rem(140);
      }
      .tq{
        color: $cRed;
        text-decoration: underline;
      }
    }
  }
}

.sel-all {
  position: fixed;
  bottom: px2rem(100);
  width: 100%;
  height: px2rem(96);
  line-height: px2rem(96);
  border-top: 1px solid rgb(224, 226, 225);
  background: white;
  display: flex;
  span {
    vertical-align: middle;
  }

  .sel-box {
    flex: 1;
    display: flex;
    justify-content: space-between;
    padding-left: px2rem(20);
    font-size: 16px;
    color: #7d7c7d;
    i {
      font-style: normal;
    }
    .check-box-all {
      .check-box {
        display: inline-block;
        width: px2rem(30);
        height: px2rem(30);
        border: 2px solid rgba(224, 226, 225, .6);
        border-radius: 100%;
        margin-right: px2rem(14);
      }
      &.on {
        .check-box {
          background: url("../../img/common/i-gou.png") center center no-repeat;
          -webkit-background-size: 70%;
          background-size: 70%;
        }
      }
    }
    &.default {
      display: none;
      &.active {
        display: flex;
      }
      .check-box-all {
        color: $cRed;
      }
      .buy {
        display: inline-block;
        height: px2rem(96);
        background: $cRed;
        color: white;
        width: px2rem(240);
        text-align: center;
      }
    }
    &.edit {
      display: none;
      &.active {
        display: flex;
      }
      .delete {
        padding-right: px2rem(30);
      }
      .i-del {
        width: px2rem(24);
        margin-left: px2rem(16);
      }
    }
  }
}