@import "normalize.css";
@import "ui-dialog.css";
@import "http://at.alicdn.com/t/font_f8c566ng97o80k9.css";

/*页脚 list start*/
.footer {
    height: 180px;
    background: #f5f5f5;
}

.footer .f-wrap {
    width: 1200px;
    margin: 0 auto;
}

.footer a,.link a {
    text-decoration: none;
    font-size: 12px;
    color: #666;
}

.footer_con {
    margin-top: 50px;
    height: 100%;
    padding: 25px 0 0 130px;
    box-sizing: border-box;
}

.footer_con dl {
    float: left;
    width: 142px;
    font-size: 12px;
    margin-right: 60px;
}

.footer_con dl dt {
    line-height: 30px;
    vertical-align: middle;
    font-size: 16px;
    color: #333;
    border-bottom: #ededed solid 1px;
    margin: 12px 0;
}

.footer_con dl dd {
    line-height: 21px;
}

.footer_con dl dt span {
    display: inline-block;
    width: 22px;
    height: 22px;
    position: relative;
    top: 6px;
    margin-right: 6px;
}

.footer_con dl:nth-child(1) dt span {
    background: url(../imgs/f_ico.png) no-repeat 0 0;
}

.footer_con dl:nth-child(2) dt span {
    background: url(../imgs/f_ico.png) no-repeat 0 -23px;
}

.footer_con dl:nth-child(3) dt span {
    background: url(../imgs/f_ico.png) no-repeat 0 -46px;
}

.footer_con dl:nth-child(4) dt span {
    background: url(../imgs/f_ico.png) no-repeat 0 -69px;
}

.footer_con dl:nth-child(5) dt span {
    background: url(../imgs/f_ico.png) no-repeat 0 -92px;
}

.footer_con dl dd i {
    position: relative;
    top: 2px;
    margin-right: 5px;
}

/*页脚 list End*/
/*页脚 list start*/
.link {
    height: 95px;
    border-top: #ededed solid 1px;
    background: #f5f5f5;
}

.link_mode {
    width: 225px;
    margin: 10px auto;
    text-align: center;
    margin-top: 30px;
}

.link_mode ul {
    line-height: 12px;
}

.link_mode ul li {
    float: left;
    padding: 0 11px;
    border-left: #949494 solid 1px;
}

.link_mode ul li.none_border {
    border-left: none;
}

.copyright {
    text-align: center;
    color: #666;
    font-size: 14px;
}
/*页脚 list End*/

/*topbar*/
.topbar{width:100%;height:38px;line-height:38px;background:#333;color:#fff;}
.topbar .topbar-inner{width:1200px;margin:0 auto;}
.topbar .topbar-left{float:left;}
.topbar .topbar-right{float:right;}
.topbar a{color:#fff;display:inline-block;font-size:12px;}
.topbar a:hover{text-decoration:underline;}
.topbar .topbar-left a{margin-right:14px;}
.topbar .topbar-right a{margin-left:14px;}
/*header*/
.header{padding-top:46px;font-size:12px;}
.header .header-inner{width:1200px;margin:0 auto;}
.header .logo{width:271px;height:48px;background:url(../imgs/common/logo.png) no-repeat 0 0;display:block;float:left;}
.header .header-search{float:left;padding-left:129px;}
.header .header-search .input-search{display:inline-block;width:340px;height:27px;line-height:27px;border:1px solid #f4d05e;background:#fff;padding:0 5px;}
.header .header-search .btn-search{display:inline-block;background:#f4d05e;width:58px;height:29px;line-height:29px;font-size:12px;color:#333;text-align:center;border:none;outline:none;}
.header .header-search .search-keywords{padding-top:5px;}
.header .header-search .search-keywords a{display:inline-block;font-size:12px;color:#999;margin-right:10px;}
.header .shopCart{float:right;position:relative;z-index:50;}
.header .shopCart .cartHead{width:110px;height:28px;line-height:28px;text-align:center;position:relative;background:#f2f2f2;border:1px solid #e8e8e8;z-index:53;}
.header .shopCart .cartHead .prodNumber{position:absolute;top:-6px;right:2px;background:url(../imgs/common/num-bg.png) no-repeat 0 0;width:15px;height:14px;line-height:14px;color:#fff;text-align:center;}
.header .chaImgbox{background:#fff;border:1px solid #e8e8e8;width:47px;
height:47px;vertical-align:middle;text-align:center;float:left;overflow: hidden;margin-right:5px;}
.header .chaImgbox img{display:inline;vertical-align:middle;width:47px;
height:47px;}
.header .btn-settle{background:#e93b39;width:90px;height:30px;line-height:30px;font-size:14px;color:#ffffff;text-align:center;border:none;outline:none;float:right;}
.header .sumProd{float:left;line-height:30px;}
.header .cartHead .icon-cart{display:inline-block;color:#e93b39;}
.header .cartHead .mycart{display:inline-block;}
.header .cartBody{position:absolute;right:0;top:29px;background:#fff;border:1px solid #f4d05e;width:268px;padding-top:15px;z-index:52;display:none;}
.header .cartFoot{background:#fdf6df;border-top:1px solid #f4d05e;height:30px;padding:10px;}
.header .cartFoot .sumProd .number{color:#e93b39;}
.header .cartMenu li{width:100%;font-size:12px;margin-bottom:14px;}
.header .cartMenu li a{display:block;margin:0 8px;height:50px;border-bottom:1px dashed #bfbfbf;padding-bottom:14px;}
.header .cartMenu li:last-child a{border-bottom:none;}
.header .cartTxt{float:left;width:106px;margin-right:5px;padding-top:7px;line-height:18px}
.header .cartTxt .title{height:18px;line-height:18px;width:106px;word-wrap:normal;white-space:nowrap;overflow: hidden;text-overflow:ellipsis;color:#333;}
.header .cartTxt .property{color:#999;}
.header .cartTxt .colorTxt{float:left;}
.header .cartTxt .number{float:right;}
.header .integral{float:left;color:#e93b39;line-height:49px;white-space:nowrap;width:70px;text-align:center;overflow:hidden;text-overflow:ellipsis;}
.header .cartClose{float:right;color:#999;line-height:49px;}
.header .shopCart:hover .cartBody{display:block;}
.header .shopCart:hover .cartBody{display:block;}
.header .shopCart:hover .cartHead{background:#fff;border-color:#f4d05e;border-bottom-color:#fff;}

/*navigation*/
.navigation{padding-top:40px;}
.navigation .navigation-inner{width:1200px;margin:0 auto;}
.navigation .category-nav{width:170px;float:left;position:relative;z-index:60;}
.navigation .category-nav .category-head{width:170px;height:35px;background:#f4d05e;line-height:35px;text-align:center;cursor:pointer;}
.navigation .category-nav .category-head .txt{font-size:14px;color:#333;}
.navigation .category-nav .category-head .iconfont{font-size:16px;color:#515151;vertical-align:middle;display:inline-block;margin-left:4px;-moz-transition:all 0.5s;-webkit-transition:all 0.5s;-o-transition:all 0.5s;transition:all 0.5s;}
.navigation .category-Body{position:absolute;z-index:61;top:35px;left:0;background:#fff;width:170px;display:none;}
.navigation .category-list{padding:10px 0;}
.navigation .category-list li{position:relative;}
.navigation .category-list .category-title{display:block;width:170px;height:38px;line-height:38px;font-size:14px;color:#333;text-align:center;border-top:1px solid transparent;border-bottom:1px solid transparent;position:relative;z-index:62;}
.navigation .category-list li:hover .category-title{background:#f8e39e;border-top:1px solid #f4d05e;border-bottom:1px solid #f4d05e;border-right:1px solid #f8e39e;}
.navigation .category-list li:hover .category-sub{display:block;}
.navigation .category-sub{position:absolute;top:0;left:169px;width:105px;background:#f8e39e ;padding:0 20px;text-align:left;font-size:12px;border:1px solid #f4d05e;z-index:61;display:none;}
.navigation .category-sub a{color:#333;}
.navigation .category-sub a:hover{color:#e93b39;text-decoration: underline;}
.navigation .category-sub dt{height:36px;line-height:36px;border-bottom:1px dashed #bda044;margin-bottom:4px;}
.navigation .category-sub dd{height:28px;line-height:28px;}
.navigation .category-nav:hover .category-Body,.navigation .category-nav.show .category-Body{display:block;}
.navigation .category-nav:hover .category-head .iconfont,.navigation .category-nav.show .category-head .iconfont{-webkit-transform:rotate(-180deg);-moz-transform:rotate(-180deg);-o-transform:rotate(-180deg);transform:rotate(-180deg);}
.navigation .main-nav{font-size:0;float:right;}
.navigation .main-nav .main-nav-link{font-size:14px;display:inline-block;margin-right:46px;color:#333;line-height:34px;}
.navigation .main-nav .main-nav-link:last-child{margin-right:0px;}
/*banner*/
.banner{width:100%;height:420px;position:relative;}
.banner-list{width:100%;height:420px;overflow: hidden}
.banner-list li a{display:block;height:420px;}
.banner-list li img{height:420px;margin: 0px auto;width: 100%}
.banner .banner-munu{position:absolute;height:16px;background:rgba(0,0,0,0.3);border-radius:12px;bottom:17px;left:50%;margin-left:-48px;padding-left:10px;}

.banner .banner-munu a{display:inline-block;background:#fff;width:8px;height:8px;border-radius:100%;margin-right:6px;vertical-align:top;margin-top:4px;transition: width .5s ease}
.banner .banner-munu .on{background:#f4d05e;border-radius:12px;width:14px;height:8px;}

.banner-moudle{position:absolute;top:10px;left:50%;margin-left:370px;width:230px;height:400px;background:#fff;}
.banner-moudle .moudle-head{font-size:14px;color:#333;border-bottom:1px solid #e8e8e8;height:46px;line-height:46px;font-family:STHeitiSC-Medium;padding:0 20px;}
.banner-moudle .moudle-body{padding:10px 20px;}
.banner-moudle .notice-list li a{display:block;font-family:STHeitiSC-Light;font-size:12px;color:#333;}
.banner-moudle .notice-list li a:hover{color:#e93b39;}
.banner-moudle .notice-list li{line-height:30px;height:30px;}

.telecost-form{font-size:12px;}
.telecost-form .form-group{margin-bottom:7px;}
.telecost-form .form-group .label-tit{float:left;text-align:right;width:60px;line-height:30px;}
.telecost-form .form-group .number{line-height:30px;color:#e93b39;}
.telecost-form .form-group .form-input{float:right;width:130px;}
.telecost-form .form-group input{height:28px;line-height:28px;border:1px solid #e8e8e8;width:120px;padding:0 4px;outline:none;}
.telecost-form .btn-recharge{display:inline-block;background:#ecc95b;width:130px;height:30px;line-height:30px;font-size:16px;text-align:center;border:none;outline:none;}

/*crumbs*/
.crumbs{background:#f2f2f2;width:100%;height:60px;line-height:60px;}
.crumbs .crumbs-txt{width:1200px;margin:0 auto;font-size:14px;color:#333;}
.crumbs .crumbs-txt a{color:#333;}
.crumbs .crumbs-txt a,.crumbs .crumbs-txt span{margin-right:5px;}
.crumbs .crumbs-txt a:hover{text-decoration:underline;}


