@charset "utf-8";
@import "../lib/flexible";
@import "../lib/reset.css";
@import "../lib/common";

.banner-box {
  position: relative;
  .banner-swiper {
    overflow: hidden;
    height: px2rem(640);
  }
  .swiper-pagination {
    &.swiper-pagination-red {
      text-align: right;
      padding-right: px2rem(50);
      box-sizing: border-box;
      .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
        border-radius: 100%;
        margin: 0px 3px;
      }

      .swiper-pagination-bullet-active {
        background: $cRed;
      }
    }
  }
}

.xsq {
  display: flex;
  justify-content: space-between;
  .jf-info {
    background: #de172a;
    font-size: 12px;
    width: px2rem(380);
    color: white;
    padding: px2rem(18) px2rem(40);
    line-height: 1.8;
    .new {
      span {
        font-size: 13px;
      }
    }
    .old {
      img {
        width: px2rem(128);
      }
      span {
        text-decoration: line-through;
        padding: px2rem(20);
      }
    }
  }
  .time-cd {
    display: block;
    background: #fce7e9;
    text-align: center;
    flex: 1;
    color: #de172a;
    padding-bottom: 4px;
    .tdesc {
      background: transparent;
      color: #de172a;
    }
    .time_w {
      height: px2rem(54);
      padding-top: px2rem(10);
      b {
        border-radius: 2px;
        overflow: hidden;
        display: inline-block;
        vertical-align: middle;
        padding: 0px 1px;
        background: #de172a;
      }
      span {
        background: transparent;
        font-size: 14px;
        padding: 3px 0px;
        margin-right: 0px;
      }
    }
  }
}

.p-info {
  margin-top: px2rem(20);
  margin-bottom: px2rem(150);
  background: white;
  padding: px2rem(30);
  font-size: 13px;
  color: $cGrey;
  .summary {
    line-height: 1.6;
    border-bottom: 1px solid $lineGray;
    padding: 0px px2rem(10);
    padding-bottom: px2rem(10);
    h3 {
      color: rgb(42, 42, 42);
      font-size: 14px;
    }
    p {
      color: $cGrey;
    }
  }
  .types {
    padding: px2rem(20) px2rem(10);
    display: flex;
    flex-wrap: wrap;
    .list {
      span {
        display: inline-block;
        border: 1px solid $cRed;
        border-radius: 20px;
        padding: 1px px2rem(30);
        margin-left: px2rem(20);
        color: $cRed;
        &.on {
          color: white;
          background: $cRed;
        }
      }
    }
  }
  .nums {
    padding: px2rem(15) px2rem(10);
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    p {
      padding-left: px2rem(20);
    }
    .btn, input {
      border: none;
      border-radius: 2px;
      background-color: rgb(224, 226, 225);
      width: px2rem(60);
      height: px2rem(44);
      line-height: px2rem(44);
      text-align: center;
    }
    input {
      background: white;
      border: 1px solid $lineGray;
    }
  }
}

.op {
  position: fixed;
  width: 100%;
  bottom: px2rem(65);
  display: flex;
  margin-top: px2rem(20);
  margin-bottom: px2rem(40);
  background: white;
  a {
    font-size: 16px;
    width: 50%;
    height: px2rem(102);
    line-height: px2rem(100);
    text-align: center;
    color: $cGrey;
    &.btn-dh {
      background: #de172a;
      color: white;
    }
  }
}

.p-detail {
  padding-bottom: px2rem(150);
  .p-bg {
    width: 100%;
  }
}