@import "../lib/flexible";
@import "../lib/common.css";
@import "../lib/artDialog.css";

$fontGray: #8f8f8f;
$lineGray: rgba(216, 216, 216, 0.25);
$cBlack: rgb(42, 42, 42);

body {
    max-width: 500px;
    position: relative;
    margin: 0px auto;

    .arrowUp {
        position: fixed;
        width: 100%;
        bottom: px2rem(140);
        display: flex;
        justify-content: space-evenly;
        padding: 0px .2rem;
        box-sizing: border-box;
        transition: bottom 1s;

        &.rotate180 {
            transform: rotate(180deg);
            top: .2rem;
            bottom: auto;
        }

        &.hide {
            display: none;
        }

        img {
            width: px2rem(44);
            height: px2rem(44);
        }
    }
}

.cube {
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -ms-backface-visibility: hidden;
    backface-visibility: hidden;

    -webkit-perspective: 1000;
    -moz-perspective: 1000;
    -ms-perspective: 1000;
    perspective: 1000;
}

.wrap-box {
    height: 100vh;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    -ms-flex-direction: column;
    flex-direction: column;

    .top {
        position: relative;
        overflow: hidden;
        transition: all 1s;
        height: px2rem(588);
        -webkit-backface-visibility: hidden;
        -moz-backface-visibility: hidden;
        -ms-backface-visibility: hidden;
        backface-visibility: hidden;

        -webkit-perspective: 1000;
        -moz-perspective: 1000;
        -ms-perspective: 1000;
        perspective: 1000;

        &.swiperUp {
            opacity: 0;
            height: 0px;
            transform: scale(0);
        }
    }

    .container {
        flex: 1;
        overflow: hidden;

        &::after {
            content: " ";
            display: block;
            height: 2.5rem;
            position: relative;
        }
    }

    &.swiperUp {
        height: auto;

        .container {
            height: 100vh;
            flex: auto;
            overflow: scroll;
        }
    }
}

.banner-swiper {
    width: 100%;
    position: relative;
    overflow: hidden;
    height: px2rem(380);

    .swiper-slide {
        img {
            width: 100%;
            height: px2rem(380);
        }
    }

    .swiper-pagination-bullet {
        width: 5px;
        height: 5px;
        display: inline-block;
        border-radius: 100%;
        background: white;
        opacity: 0.5;

        &.swiper-pagination-bullet-active {
            opacity: 1;
        }
    }
}

.info {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: start;
    align-items: flex-start;
    margin: px2rem(20) px2rem(30);
    padding: px2rem(20) px2rem(30);
    background: url("../../img/index/ebg.png") 0 0 no-repeat;
    background-size: 100% 100%;

    .btn_scode {
        width: px2rem(120);
        height: px2rem(120);
    }

    .default,
    .actived {
        -ms-flex: 1;
        flex: 1;
        height: px2rem(120);
        display: -ms-flexbox;
        display: flex;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-align: start;
        align-items: flex-start;
        color: rgb(42, 42, 42);

        h3 {
            font-size: px2rem(38);
            color: rgb(42, 42, 42);
            line-height: 1;
        }

        .btn_active {
            font-size: 10px;
            color: white;
            background: #ffa800;
            padding: 2px 23px;
            border-radius: 25px;
        }

        p {
            line-height: 1;
            padding-top: px2rem(4);
            font-size: 12px;
        }

        .mark {
            font-size: 12px;
            color: white;
            background: #ffa800;
            padding: 1px 15px;
            border-radius: 30px;
            transform: scale(0.8);
            display: inline-block;
            transform-origin: left;
        }
    }

    .actived {
        display: none;
    }

    &.activated {
        .default {
            display: none;
        }

        .actived {
            display: -ms-flexbox;
            display: flex;
        }
    }
}

.split {
    border-bottom: 1px solid rgba(42, 42, 42, 0.15);
}

.link-box {
    -ms-flex: 1;
    flex: 1;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-direction: column;
    flex-direction: column;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &:before,
    &:after {
        content: " ";
        display: block;
    }

    .link-panel {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }

    .swiper-button-prev {
        background: url(../../img/index/icon_left.png) 0px 0px no-repeat;
        background-size: px2rem(24) px2rem(44);
        width: px2rem(24);
        height: px2rem(44);
        margin-top: -px2rem(22);

        &.swiper-button-disabled {
            display: none;
        }
    }

    .swiper-button-next {
        background: url(../../img/index/icon_right.png) 0px 0px no-repeat;
        background-size: px2rem(24) px2rem(44);
        width: px2rem(24);
        height: px2rem(44);
        margin-top: -px2rem(22);

        &.swiper-button-disabled {
            display: none;
        }
    }

    .split_bg {
        display: block;
        width: 100%;
        height: 1px;
    }

    .items {
        width: 100%;
        box-sizing: border-box;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        flex-wrap: wrap;
        padding: 0px px2rem(0); //缩边

        .split {
            width: 1px;
            height: px2rem(208);
        }

        .item {
            display: -ms-flexbox;
            display: flex;
            -ms-flex-pack: center;
            justify-content: center;
            -ms-flex-align: center;
            align-items: center;
            -ms-flex-direction: column;
            flex-direction: column;
            color: $cBlack;
            font-size: px2rem(26);
            font-weight: bold;
            padding: px2rem(15) 0px; //65
            width: 30%;

            img {
                height: px2rem(75);
                margin-bottom: px2rem(15);
            }
        }
    }
}

.ui-dialog-body {
    .icon_close {
        width: px2rem(44);
        position: absolute;
        right: 6px;
        top: 6px;
    }

    .scode-avt {
        width: px2rem(400);
    }

    .pop-cont {
        position: relative;
        padding: px2rem(0) px2rem(80);
        height: px2rem(680);
        line-height: px2rem(680);
    }
}

.footer {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 10;
    height: px2rem(120);
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    -ms-flex-align: center;
    align-items: center;
    background: $cBlack;
    padding: 0px px2rem(100);
    /*position: fixed;*/
    bottom: 0px;
    left: 0px;
    width: 100%;
    box-sizing: border-box;

    a {
        padding-top: px2rem(66);
        color: white;
        font-size: px2rem(20);
        text-align: center;
        min-width: px2rem(120);
        display: block;
        height: 100%;
        box-sizing: border-box;

        &:nth-of-type(1) {
            background: url("../../img/index/h_1.png") center px2rem(14) no-repeat;
            background-size: px2rem(50) px2rem(50);

            &.on {
                background: url("../../img/index/h_1_on.png") center px2rem(14) no-repeat;
                background-size: px2rem(50) px2rem(50);
            }
        }

        &:nth-of-type(2) {
            background: url("../../img/index/h_2.png") center px2rem(14) no-repeat;
            background-size: px2rem(50) px2rem(50);

            &.on {
                background: url("../../img/index/h_2_on.png") center px2rem(14) no-repeat;
                background-size: px2rem(50) px2rem(50);
            }
        }

        &:nth-of-type(3) {
            background: url("../../img/index/h_3.png") center px2rem(14) no-repeat;
            background-size: px2rem(50) px2rem(50);

            &.on {
                background: url("../../img/index/h_3_on.png") center px2rem(14) no-repeat;
                background-size: px2rem(50) px2rem(50);
            }
        }
    }
}

.baoxiang {
    position: fixed;
    z-index: 2;
    right: 0px;
    bottom: px2rem(350);

    img {
        width: px2rem(160);
    }
}

.ui-dialog {
    border: none !important;
}