@charset "UTF-8";
/**
 *  为了和字体适配一样的非字体元素准备的转化方法
 */
@import "../lib/common.css";
@import "../lib/artDialog.css";
body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
  background: white;
  min-height: 100vh;
  font-size: 13px;
}

.quanyi {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.quanyi .q_left {
  width: 80px;
  text-align: center;
  color: rgba(42, 42, 42, 0.502);
  position: fixed;
  left: 0px;
  top: 0px;
  height: 100vh;
  background: #f4f4f4;
}
.quanyi .q_left li {
  height: 1.3333333333rem;
  line-height: 1.3333333333rem;
  border-bottom: 1px solid rgba(216, 216, 216, 0.25);
}
.quanyi .q_left li:nth-of-type(1) {
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
}
.quanyi .q_left li.on {
  color: #2a2a2a;
  position: relative;
  background: white;
}
.quanyi .q_left li.on:before {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 3px;
  height: 100%;
  background-color: #ffa800;
}
.quanyi .q_right {
  width: calc(100% - 80px);
  margin-left: 80px;
}
.quanyi .q_right .map {
  height: 11.3333333333rem;
  width: 100%;
}
.quanyi .q_right .map img {
  width: 100%;
  height: 100%;
}
.quanyi .q_right .menu_1 {
  height: 1.0666666667rem;
  line-height: 1.0666666667rem;
  background: white;
  color: rgba(42, 42, 42, 0.502);
  border-bottom: 1px solid rgba(216, 216, 216, 0.25);
}
.quanyi .q_right .menu_1 .swiper-slide {
  width: auto;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  height: 100%;
}
.quanyi .q_right .menu_1 .swiper-slide > span {
  display: inline-block;
  -webkit-transition: all 0.3s ease;
  transition: all 0.3s ease;
  width: 1.7333333333rem;
  text-align: center;
  border-right: 1px solid rgba(216, 216, 216, 0.25);
  height: 0.6666666667rem;
  line-height: 0.6666666667rem;
}
.quanyi .q_right .menu_1 .swiper-slide.active {
  position: relative;
  color: white;
  background: #ffa800;
}
.quanyi .q_right .cont {
  padding: 0.4666666667rem;
  padding-right: 0.4rem;
  background: white;
}
.quanyi .q_right .cont .title {
  position: relative;
  padding-left: 5px;
  border-left: 3px solid #ffa800;
  line-height: 1.1;
  margin-top: 6px;
  margin-bottom: 6px;
}
.quanyi .q_right .cont .clist .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 0.2933333333rem 0px;
}
.quanyi .q_right .cont .clist .item .iconb {
  width: 3.3333333333rem;
  height: 1.9733333333rem;
}
.quanyi .q_right .cont .clist .item .info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-size: 12px;
  line-height: 1.5;
  padding-left: 0.2666666667rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.quanyi .q_right .cont .clist .item .info .ctitle {
  font-size: 17px;
}
.quanyi .q_right .cont .clist .item .date {
  color: rgba(42, 42, 42, 0.502);
}
.quanyi .q_right .cont .clist .item .clink {
  color: #ffa800;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.quanyi .q_right .cont .clist .item .clink::after {
  content: " ";
  display: inline-block;
  width: 0.1866666667rem;
  height: 0.3333333333rem;
  background: url(../../img/icon_r.png) 0px 0px no-repeat;
  background-size: cover;
}
.quanyi .q_right .cont .cards > a {
  display: block;
  padding-top: 0.2666666667rem;
  padding-right: 0.2rem;
}
.quanyi .q_right .cont .cards img {
  width: 100%;
}
.quanyi .q_right .cont .cards-box {
  border-top: 1px solid rgba(216, 216, 216, 0.25);
  padding-top: 0.4rem;
}

.vip_dt {
  width: 100%;
}

.liuyan {
  border-top: 1px solid rgba(216, 216, 216, 0.25);
  margin: 0.4666666667rem;
  padding-top: 0.4666666667rem;
  color: #2a2a2a;
  padding-bottom: 1.3333333333rem;
}
.liuyan .title {
  color: rgba(42, 42, 42, 0.502);
  padding-bottom: 0.7733333333rem;
}
.liuyan .list {
  font-size: 13px;
  line-height: 1.6;
}
.liuyan .list .item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding-bottom: 0.6666666667rem;
}
.liuyan .list .item .avt {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 2px;
}
.liuyan .list .item .info {
  padding-left: 0.3466666667rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.liuyan .list .item .info .name {
  color: rgba(42, 42, 42, 0.502);
}
.liuyan .list .item .info .auser {
  border-left: 2px solid #00c5ff;
  padding-left: 0.2rem;
  line-height: 1.1;
  color: rgba(42, 42, 42, 0.502);
  margin: 0.1333333333rem 0px;
}
.liuyan .list .item .info .btn_del {
  color: #385082;
  font-size: 14px;
}

.vip_bg_box {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1.1733333333rem;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background: #ffa800;
}
.vip_bg_box .vline {
  display: inline-block;
  width: 1px;
  height: 0.9333333333rem;
  background: rgba(243, 240, 240, 0.8);
}
.vip_bg_box a {
  height: 1.1733333333rem;
  font-size: 15px;
  color: white;
  background: #ffa800;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.vip_bg_box a:nth-of-type(1) {
  width: 2.6666666667rem;
  background: #2a2a2a;
}
.vip_bg_box a:nth-of-type(n+2) {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.vip_bg_box a:nth-of-type(n+2)::after {
  display: inline-block;
  width: 1px;
  height: 0.9333333333rem;
  background: rgba(243, 240, 240, 0.8);
}
.vip_bg_box a > img {
  width: 0.4rem;
  margin-right: 0.1333333333rem;
  margin-bottom: 1px;
}

.liuyan-box {
  position: relative;
}
.liuyan-box textarea {
  font-size: 13px;
  background-color: white;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  height: 4rem;
  width: 100%;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0.1866666667rem 0.24rem;
  color: #2a2a2a;
  width: 7.8666666667rem;
}
.liuyan-box textarea::-webkit-input-placeholder {
  color: rgba(42, 42, 42, 0.302);
}
.liuyan-box .limit {
  position: absolute;
  right: 0.2rem;
  bottom: 0.1866666667rem;
  color: rgba(42, 42, 42, 0.5);
  font-size: 13px;
}

.ui-dialog-body .pop-cont {
  padding: 1.3333333333rem 0.4666666667rem;
}