@fontGray: #8f8f8f;
@lineGray: rgba(216, 216, 216, 0.25);
@cBlack: #2a2a2a;
@cGray: rgba(42, 42, 42, 0.502);
@cBlue: #ffa800;

body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
  background: #f4f4f4;
  min-height: 100vh;
  font-size: 13px;
}
.comment {
  padding: 0.5rem;
  .selection {
    border-radius: 0.15rem;
    background-color: rgb(255, 255, 255);
    box-shadow: 0px 2px 3px 0px rgba(0, 0, 0, 0.14);
    height: 1.28rem;
    overflow: hidden;
    margin-bottom: 0.3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;

    select {
      flex: 1;
      height: 100%;
      border: none;
      font-size: 16px;
      color: rgba(143, 143, 143, 0.88);
      padding-left: 0.4rem;
    }
    img {
      width: 0.15rem;
      margin-right: 0.4rem;
    }
  }
  .liuyan-box {
    position: relative;

    textarea {
      font-size: 15px;
      background-color: rgb(255, 255, 255);
      border: 1px solid rgba(0, 0, 0, 0.1);
      box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.14);
      border-radius: 5px;
      height: 3rem;
      width: 100%;
      box-sizing: border-box;
      padding: 0.3rem 0.22rem;
      color: @cBlack;
      width: 100%;
      font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
      &::-webkit-input-placeholder {
        color: rgba(42, 42, 42, 0.302);
      }
    }

    .limit {
      position: absolute;
      right: 0.15rem;
      top: 2.54rem;
      color: rgba(42, 42, 42, 0.5);
      font-size: 13px;
    }
    .tip {
      font-size: 13px;
      color: rgb(143, 143, 143);
      line-height: 1.875;
      margin-top: 0.4rem;
    }
  }
}
.footer {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 0.88rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background: #ffa800;

  .vline {
    display: inline-block;
    width: 1px;
    height: 0.7rem;
    background: rgba(243, 240, 240, 0.8);
  }

  a {
    height: 0.88rem;
    font-size: 15px;
    color: white;
    background: #ffa800;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;

    &:nth-of-type(1) {
      width: 2rem;
      background: #2a2a2a;
    }

    &:nth-of-type(n + 2) {
      flex: 1;

      &::after {
        //content: "";
        display: inline-block;
        width: 1px;
        height: 0.7rem;
        background: rgba(243, 240, 240, 0.8);
      }
    }

    > img {
      width: 0.3rem;
      margin-right: 0.1rem;
      margin-bottom: 1px;
    }
  }
}
