@charset "utf-8";
@import "../lib/reset.css";
@import "../lib/common.css";
html,
body {
  font-size: 0.28rem;
}
.banner-box {
  margin-bottom: 0.35rem;
}
.banner-box-qy {
  position: relative;
  margin-bottom: 0.4rem;
}
.banner-box-qy .banner-swiper {
  overflow: hidden;
  height: 3.1rem;
}
.banner-box-qy .banner-swiper .swiper-slide {
  box-sizing: border-box;
}
.banner-box-qy .banner-swiper img {
  width: 100%;
  height: 100%;
}
.banner-box-qy .swiper-pagination {
  bottom: 0.1rem !important;
}
.stitle {
  color: #2a2a2a;
  font-size: 0.32rem;
  text-align: center;
  padding: 0.1rem 0px;
}
.categorys {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding-bottom: 0.3rem;
}
.categorys a {
  display: block;
  font-size: 0.24rem;
  color: #7d7c7d;
  text-align: center;
  width: 25%;
  margin-top: 0.38rem;
}
.categorys a img {
  width: 0.82rem;
}
.categorys a span {
  display: block;
  color: #2a2a2a;
  padding: 0.1rem 0px 0.05rem;
}
.categorys a i {
  font-style: normal;
}
.categorys a.hot {
  position: relative;
}
.categorys a.hot::after {
  content: "";
  position: absolute;
  top: -0.1rem;
  right: 0.3rem;
  width: 0.6rem;
  height: 0.29rem;
  background: url(../../img/index/icon_hot.png) 0px 0px no-repeat;
  background-size: cover;
}
.fuli_box {
  padding: 0.25rem 0px 0.55rem;
  overflow: hidden;
}
.fuli_box a {
  display: block;
  transition: all 0.8s;
  transform: scale(0.9) !important;
}
.fuli_box a img {
  width: 100%;
  height: 100%;
}
.fuli_box a.swiper-slide-active {
  transform: scale(1) !important;
}
.ad_swiper {
  position: relative;
  overflow: hidden;
  margin: 0.2rem 0px 0.4rem;
}
.ad_swiper.outer img {
  width: 100%;
}
.ad_swiper.inner .swiper-slide {
  display: block;
  padding: 0px 0.2rem;
  box-sizing: border-box;
}
.ad_swiper.inner .swiper-slide img {
  width: 100%;
  border-radius: 0.1rem;
}
.ad-recom {
  display: flex;
  justify-content: space-between;
}
.ad-recom img {
  width: 100%;
}
.pbox .title {
  font-size: 0.3rem;
  color: #7d7c7d;
  text-align: center;
  padding-top: 0.48rem;
  font-weight: bold;
}
.pbox.xianshi .inner-title {
  margin: 0.2rem 0px 0.1rem;
}
.inner-title {
  font-size: 0.32rem;
  color: #2a2a2a;
  text-align: center;
  position: relative;
}
.inner-title .show-more {
  position: absolute;
  right: 0.25rem;
  top: 0.08rem;
  color: #7d7c7d;
  display: flex;
  align-items: center;
  font-size: 0.24rem;
  font-weight: normal;
}
.inner-title .show-more img {
  margin-left: 0.06rem;
}
.pd-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0.26rem 0.2rem;
}
.pd-list li {
  width: 50%;
  padding: 0.07rem;
  box-sizing: border-box;
}
.pd-list li.guang .pro_pic {
  position: relative;
}
.pd-list li.guang .pro_pic::after {
  content: "";
  position: absolute;
  left: 50%;
  margin-left: -0.84rem;
  top: 50%;
  margin-top: -0.84rem;
  width: 1.68rem;
  height: 1.68rem;
  background: url(../../img/index/icon_guang.png) 0px 0px no-repeat;
  background-size: cover;
}
.pd-list li.vip .pro_pic {
  position: relative;
}
.pd-list li.vip .pro_pic::before {
  content: "";
  position: absolute;
  right: -0.08rem;
  top: 0.2rem;
  width: 0.92rem;
  height: 0.92rem;
  background: url(../../img/index/icon_vip_big.png) 0px 0px no-repeat;
  background-size: cover;
}
.pd-list li > a {
  display: block;
  width: 100%;
  background: white;
  border-radius: 0.1rem;
  color: #2a2a2a;
  font-size: 0.26rem;
  box-sizing: border-box;
  padding: 0.2rem;
}
.pd-list li > a .libao_price {
  color: #8f8f8f;
  padding: 0.15rem 0px 0.08rem;
  text-decoration: line-through;
}
.pd-list li > a .vip_mark {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.pd-list li > a .vip_mark > img {
  height: 0.26rem;
  margin-right: 0.08rem;
}
.pd-list li > a .vip_mark > img.icon_zx {
  height: 0.37rem;
}
.pd-list li > a .vip_mark .price {
  font-size: 0.32rem;
  color: #de172a;
  padding-right: 0.08rem;
}
.pd-list li > a .pro_pic {
  position: relative;
  width: 2.92rem;
  height: 2.92rem;
  margin: 0 auto;
  margin-bottom: 10px;
  text-align: center;
}
.pd-list li > a .pro_pic .bg {
  width: 100%;
  height: 100%;
  display: block;
}
.pd-list li > a .pro_text_con p {
  margin-bottom: 6px;
  margin-top: 3px;
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 2;
  overflow: hidden;
}
.pd-list li > a .jf {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #7d7c7d;
}
.pd-list li > a .jf .limit-jf {
  font-style: normal;
  font-size: 0.24rem;
}
.pd-list li > a .jf .limit-jf span {
  color: #de172a;
}
.pd-list li > a .jf .origin-jf {
  font-style: normal;
  font-size: 0.2rem;
}
.pd-list li > a .jf .origin-jf span {
  text-decoration: line-through;
}
.pd-list li > a .btn-qd {
  text-align: center;
}
.pd-list li > a .btn-qd .btn {
  width: 1.9rem;
  height: 0.42rem;
  line-height: 0.4rem;
  margin: 10px auto;
  border: none;
  background: #de172a;
  border-radius: 0.2rem;
  font-size: 0.24rem;
  color: white;
  cursor: pointer;
  text-align: center;
}
.rank-box {
  width: 100%;
  overflow-y: hidden;
  height: 2.23rem;
  padding-left: 0.5rem;
  padding-right: 10px;
  box-sizing: border-box;
  margin-bottom: 20px;
  position: relative;
}
.rank-box .left-rank {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 2.32rem;
  z-index: 300;
}
.rank-box .inner-rank-box li {
  width: 4.6rem;
}
.rank-box a {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 5px;
  background-color: white;
  width: 4.6rem;
  height: 2.32rem;
  font-size: 0.2rem;
  box-sizing: border-box;
  background: white;
}
.rank-box a > img {
  width: 2.1rem;
  height: 2.1rem;
}
.rank-box a .info-box {
  padding-right: 8px;
}
.rank-box a .info-box .jf {
  color: white;
  background: #de172a;
  border-radius: 10px;
  padding: 2px 9px;
}
.rank-box a .info-box .b-num {
  color: #7d7c7d;
  padding: 0.08rem 0px 0.04rem;
}
.rank-box a .info-box p {
  color: #2a2a2a;
}
.adbox {
  padding: 0.2rem 0px;
}
.adbox img {
  width: 100%;
}
.qy-list .inner-title {
  padding: 0.2rem 0px 0.1rem;
}
.qy-list .categorys {
  padding-bottom: 0.6rem;
}
