@charset "UTF-8";
@import url(../lib/reset.css);
@import url(../lib/artDialog.css);
@chartset 'utf-8';
/*
    @author xiao
    @des: APP端基础方法
    @使用心得:
        -适配方案参考淘宝开源库lib.flexible
        -布局rem动态适配
        -字体dpr动态适配
        -和文字相关的布局用px写死比较好。。。因为用rem会和没有用rem布局的字体有错位
        -目前市面上有三种代表的适配方案：
            1. 直接750设计稿除以2适配所有机型，布局采用百分比：代表网站 拉勾网
            2. 动态改变html font-size基准，所有元素以rem适配：代表网站 小米网
            3. 动态改变html font-size基准，所有除字体相关元素以外的rem适配，字体只按分辨率适配：代表网站 淘宝网
 */
/**
 * 基本思想描述：
 * 多屏适配布局问题
 * 移动端布局，为了适配各种大屏手机，目前最好用的方案莫过于使用相对单位rem。
 * 基于rem的原理，我们要做的就是: 针对不同手机屏幕尺寸和dpr动态的改变根节点html的font-size大小(基准值)。
 * 这里我们提取了一个公式(rem表示基准值)
 * rem = document.documentElement.clientWidth * dpr / 10
 * 说明：
 * 1）乘以dpr，是因为页面有可能为了实现1px border页面会缩放(scale) 1/dpr 倍(如果没有，dpr=1)。
 * 2）除以10，是为了取整，方便计算(理论上可以是任何值)
 * 所以就像下面这样，html的font-size可能会：
 * iPhone3gs: 320px / 10 = 32px
 * iPhone4/5: 320px * 2 / 10 = 64px
 * iPhone6: 375px * 2 / 10 = 75px
 * iPhone6plus: 414 * 3 / 10 = 124.2px
 */
/*
    px转换成rem
 */
/*
    默认已iPhone6的750为基准开发
    font-size 不推荐转换成rem
    原因：我们不希望文本在Retina屏幕下变小，
    另外，我们希望在大屏手机上看到更多文本，
    以及，现在绝大多数的字体文件都自带一些点阵尺寸，通常是16px和24px，所以我们不希望出现13px和15px这样的奇葩尺寸。
    注意设计稿是2x屏幕, 所以1x屏幕需要除以2
 */
/**
 *  为了和字体适配一样的非字体元素准备的转化方法
 */
@chartset 'utf-8';
html, body {
  padding: 0px;
  margin: 0px;
  background: #fff;
  font-size: 0.32rem; }

.wrapper {
  position: relative;
  max-width: 10rem;
  min-height: 100%;
  margin: 0px auto; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ui-dialog-body .icon_close {
  width: 0.58667rem;
  position: absolute;
  right: 6px;
  top: 6px; }
.ui-dialog-body .scode-avt {
  width: 5.33333rem; }
.ui-dialog-body .pop-cont {
  position: relative;
  padding: 0rem 1.06667rem;
  min-height: 3.73333rem;
  min-width: 5.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; }

.ui-dialog-footer .ui-dialog-button {
  justify-content: center; }
.ui-dialog-footer button {
  display: inline-block;
  background-color: #00c5ff;
  height: 0.93333rem;
  line-height: 0.93333rem;
  text-align: center;
  border-radius: 33px;
  border: none;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0px; }
  .ui-dialog-footer button.ui-dialog-autofocus {
    background-color: #00c5ff !important; }

.btn_defualt {
  display: block;
  width: 100%;
  height: 0.93333rem;
  line-height: 0.93333rem;
  border-radius: 33px;
  background-color: #00c5ff;
  border: none;
  font-size: 15px;
  color: white;
  text-align: center; }
  .btn_defualt.nobg {
    background: transparent;
    border: 1px solid #00c5ff;
    color: #00c5ff; }
  .btn_defualt.light {
    background-color: rgba(40, 194, 252, 0.2);
    color: #00c5ff; }

body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
  background: #f4f4f4;
  height: 100vh; }

.bg_box {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px; }
  .bg_box img {
    width: 100%; }

.wrap-box {
  font-size: 13px; }
  .wrap-box .tab {
    background: white;
    padding: 0.85333rem 0.93333rem 0.4rem; }
    .wrap-box .tab .tab-menu {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center; }
      .wrap-box .tab .tab-menu > li {
        width: 50%;
        height: 0.93333rem;
        line-height: 0.93333rem;
        color: #2a2a2a;
        padding-left: 0.74667rem;
        background: url("../../img/icon_check.png") 0px center no-repeat;
        -webkit-background-size: 0.45333rem 0.45333rem;
        background-size: 0.45333rem 0.45333rem; }
        .wrap-box .tab .tab-menu > li.on {
          background: url("../../img/icon_checked.png") 0px center no-repeat;
          -webkit-background-size: 0.45333rem 0.45333rem;
          background-size: 0.45333rem 0.45333rem; }
    .wrap-box .tab .tab-cont {
      display: none; }
      .wrap-box .tab .tab-cont:nth-of-type(1) {
        display: block; }
  .wrap-box .mform {
    padding-top: 1.06667rem; }
    .wrap-box .mform .pline {
      border-bottom: 1px solid rgba(216, 216, 216, 0.25);
      padding-bottom: 0.32rem;
      margin-bottom: 0.53333rem;
      display: flex;
      justify-content: flex-start;
      align-items: center; }
      .wrap-box .mform .pline input {
        border: none;
        width: 6.13333rem;
        font-size: 13px;
        line-height: 1.4;
        padding-left: .3em; }

.btn-box {
  padding: 0.93333rem; }

.fcontacts_list {
  padding: 0.18667rem 0.93333rem 0.4rem;
  background: white;
  color: rgba(42, 42, 42, 0.502);
  font-size: 13px; }
  .fcontacts_list .flist {
    padding-bottom: 0.53333rem; }
    .fcontacts_list .flist .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid rgba(216, 216, 216, 0.25);
      padding-bottom: 0.26667rem;
      padding-top: 0.53333rem; }
      .fcontacts_list .flist .item .info {
        width: 50%; }
      .fcontacts_list .flist .item .ops {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center; }
        .fcontacts_list .flist .item .ops a {
          color: rgba(42, 42, 42, 0.502);
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: 1.73333rem;
          text-align: right; }
          .fcontacts_list .flist .item .ops a img {
            height: 0.37333rem;
            margin-right: 0.09333rem; }
          .fcontacts_list .flist .item .ops a span {
            display: inline-block; }
    .fcontacts_list .flist p {
      line-height: 1.8; }

/*# sourceMappingURL=fcontacts.css.map */
