@import '../lib/common.css';

.location {
  text-align: center;
  padding: .35rem 0px;
  font-size: .3rem;
  display: flex;
  align-items: center;
  justify-content: center;

  img {
    width: .24rem;
    margin-right: .2rem;
  }
}

.list {
  .item {
    display: block;
    position: relative;

    >img {
      width: 100%;
    }

    .info {
      padding: .3rem .55rem .55rem .55rem;
      display: flex;
      align-items: flex-start;

      .left {
        flex: 1;

        h2 {
          font-size: .3rem;
          line-height: 1.667;
          color: rgb(42, 42, 42);
        }

        p {
          font-size: .24rem;
          color: rgb(143, 143, 143);
          line-height: 2.083;
        }
      }

      .right {
        font-size: .3rem;
        color: rgb(203, 0, 0);
        line-height: 1.151;

        span {
          color: rgb(203, 0, 0);
          font-size: .2rem;
          padding-left: .04rem;
        }
      }

    }
  }
}

.sel_city {
  background-color: rgba(42, 42, 42, 0.702);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  text-align: center;
  display: none;
  &.show{
    display: block;
  }
  ul {
    width: 4.4rem;
    margin: 1.38rem auto 0.38rem;
    background: white;
    border-radius: .1rem;
    height: 6.80rem;
    padding: .65rem 1rem;
    box-sizing: border-box;
    overflow-y: scroll;

    li {
      font-size: .24re, ;
      color: rgb(143, 143, 143);
      padding-left: .55rem;
      margin-bottom: .4rem;
      background: url(../../img/common/uncheck.png) 0px center no-repeat;
      background-size: auto .32rem;
      text-align: left;
      &.on{
        background: url(../../img/common/checked.png) 0px center no-repeat;
        background-size: auto .32rem;
      }
    }
  }

  .pop_close {
    width: .6rem;
    height: .6rem;
  }
}