@cBlack: #2a2a2a;
@lineGray: rgba(216, 216, 216, 0.25);

.ab_bg {
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
}

.sign-wrap {
    padding: 9px 22px;
    box-sizing: border-box;
    max-width: 500px;
    margin: 0px auto;

    .summary {
        position: relative;
        height: 95px;
        display: flex;
        justify-content: center;
        align-items: center;

        .mlogo {
            .ab_bg;
            height: 100%;
            width: 100%;
        }

        .sum {
            position: relative;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            z-index: 1;

            img {
                width: 56px;
            }

            .sign_days {
                position: absolute;
                font-size: 28px;
                color: rgb(231, 71, 68);
                line-height: 0;
                top: 28px;
                background: white;
                width: 36px;
                height: 14px;
                text-align: center;
                border-radius: 50%;
            }

            .title_days {
                text-align: center;
                color: rgb(255, 255, 255);
                line-height: 1;
                font-size: 13px;
                padding-top: 6px;
            }
        }

        .icon_rule {
            position: absolute;
            right: 12px;
            bottom: 12px;

            img {
                width: 48px;
            }
        }
    }

    .sign_box {
        .months {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: 25px 0px 20px 0px;

            img {
                width: 7px;
            }

            .month {
                font-size: 15px;
                color: rgb(42, 42, 42);
                line-height: 0;
            }
        }

        .calender {
            display: flex;
            justify-content: space-around;
            flex-wrap: wrap;
            background: url(../../img/sign/circle_bg.png) 0px 30px no-repeat;
            background-size: 100% 81%;
            padding: 0px 7px;
            box-sizing: border-box;

            .day-box {
                display: inline-block;
                width: calc(100% / 7);
                text-align: center;
                z-index: 2;

                .day {
                    height: 44px;
                    padding-top: 10px;
                    display: flex;
                    align-items: center;
                    justify-content: center;

                    img {
                        display: inline-block;
                        width: 26px;

                        &:nth-last-of-type(1) {
                            display: none;
                        }
                    }

                    &.signed {
                        img {
                            display: none;

                            &:nth-last-of-type(1) {
                                display: inline-block;
                            }
                        }
                    }
                }

                span {
                    font-size: 12px;
                    color: rgb(143, 143, 143);
                }
            }

            .tmp {
                flex: 1;
                background: #f4f4f4;
                margin-left: -15px;
            }
        }

        .btns {
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding-top: 25px;

            a {
                width: 47%;

                img {
                    width: 100%;
                }
            }

            .btn_sign {
                img {
                    display: block;

                    &:nth-last-of-type(1) {
                        display: none;
                    }
                }

                &.signed {
                    img {
                        display: none;

                        &:nth-last-of-type(1) {
                            display: block;
                        }
                    }
                }
            }
        }
    }

    .ads {
        padding: 25px 0px;

        a {
            img {
                width: 100%;
            }
        }
    }
}

.pop_box {
    background-color: rgba(42, 42, 42, 0.702);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;
    z-index: 100;

    &.show {
        display: flex;
    }

    .pop_close {
        position: absolute;
        right: 0.2rem;
        top: 0.2rem;
        width: 0.24rem;
    }

    .pop_cont {
        position: relative;

        border-radius: 0.1rem;
        background-color: white;

        .pop_wraper {
            height: 100%;
            box-sizing: border-box;
            overflow-y: scroll;
            padding: 0.1rem 0px;
            width: 6.16rem;
            height: 8.48rem;
            padding: 0.4rem 0.5rem 0.5rem 0.6rem;
            box-sizing: border-box;
        }

        .ptitle {
            font-size: 0.3rem;
            color: rgb(143, 143, 143);
            text-align: center;
            padding-bottom: 0.3rem;
        }

        p {
            color: rgb(143, 143, 143);
            line-height: 2.26;
            font-size: 0.24rem;
        }
    }
}

.pop_msg {
    .pop_cont {
        width: 225px;
        padding: 50px 0px;

        .pop_text {
            text-align: center;

            .stype {
                display: none;

                .icon_suc {
                    width: 72px;
                }

                &.sign_1 {
                    .icon_suc {
                        width: 99px;
                    }
                }
            }

            .sign_suc_text {
                font-size: 15px;
                color: rgb(231, 71, 68);
                line-height: 1.8;
                padding-top: 32px;

                span {
                    color: rgb(231, 71, 68);
                }
            }
        }
    }
}