.ab_bg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
}
.sign-wrap {
  padding: 9px 22px;
  box-sizing: border-box;
  max-width: 500px;
  margin: 0px auto;
}
.sign-wrap .summary {
  position: relative;
  height: 95px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.sign-wrap .summary .mlogo {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100%;
  width: 100%;
}
.sign-wrap .summary .sum {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  z-index: 1;
}
.sign-wrap .summary .sum img {
  width: 56px;
}
.sign-wrap .summary .sum .sign_days {
  position: absolute;
  font-size: 28px;
  color: #e74744;
  line-height: 0;
  top: 22px;
}
.sign-wrap .summary .sum .title_days {
  text-align: center;
  color: #ffffff;
  line-height: 1.5;
}
.sign-wrap .summary .icon_rule {
  position: absolute;
  right: 12px;
  bottom: 12px;
}
.sign-wrap .summary .icon_rule img {
  width: 48px;
}
.sign-wrap .sign_box .months {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 25px 0px 20px 0px;
}
.sign-wrap .sign_box .months img {
  width: 7px;
}
.sign-wrap .sign_box .months .month {
  font-size: 15px;
  color: #2a2a2a;
  line-height: 0;
}
.sign-wrap .sign_box .calender {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  background: url(../../img/sign/circle_bg.png) 0px 30px no-repeat;
  background-size: 100% 81%;
  padding: 0px 7px;
  box-sizing: border-box;
}
.sign-wrap .sign_box .calender .day-box {
  display: inline-block;
  width: calc(100% / 7);
  text-align: center;
}
.sign-wrap .sign_box .calender .day-box .day {
  height: 44px;
  padding-top: 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.sign-wrap .sign_box .calender .day-box .day img {
  display: inline-block;
  width: 26px;
}
.sign-wrap .sign_box .calender .day-box .day img:nth-last-of-type(1) {
  display: none;
}
.sign-wrap .sign_box .calender .day-box .day.signed img {
  display: none;
}
.sign-wrap .sign_box .calender .day-box .day.signed img:nth-last-of-type(1) {
  display: inline-block;
}
.sign-wrap .sign_box .calender .day-box span {
  font-size: 12px;
  color: #8f8f8f;
}
.sign-wrap .sign_box .calender .tmp {
  flex: 1;
  background: #f4f4f4;
}
.sign-wrap .sign_box .btns {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 25px;
}
.sign-wrap .sign_box .btns a {
  width: 47%;
}
.sign-wrap .sign_box .btns a img {
  width: 100%;
}
.sign-wrap .sign_box .btns .btn_sign img {
  display: block;
}
.sign-wrap .sign_box .btns .btn_sign img:nth-last-of-type(1) {
  display: none;
}
.sign-wrap .sign_box .btns .btn_sign.signed img {
  display: none;
}
.sign-wrap .sign_box .btns .btn_sign.signed img:nth-last-of-type(1) {
  display: block;
}
.sign-wrap .ads {
  padding: 25px 0px;
}
.sign-wrap .ads a img {
  width: 100%;
}
.pop_box {
  background-color: rgba(42, 42, 42, 0.702);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  z-index: 100;
}
.pop_box.show {
  display: flex;
}
.pop_box .pop_close {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 0.24rem;
}
.pop_box .pop_cont {
  position: relative;
  border-radius: 0.1rem;
  background-color: white;
}
.pop_box .pop_cont .pop_wraper {
  height: 100%;
  overflow-y: scroll;
  padding: 0.1rem 0px;
  width: 6.16rem;
  height: 8.48rem;
  padding: 0.4rem 0.5rem 0.5rem 0.6rem;
  box-sizing: border-box;
}
.pop_box .pop_cont .ptitle {
  font-size: 0.3rem;
  color: #8f8f8f;
  text-align: center;
  padding-bottom: 0.3rem;
}
.pop_box .pop_cont p {
  color: #8f8f8f;
  line-height: 2.26;
  font-size: 0.24rem;
}
.pop_msg .pop_cont {
  width: 225px;
  padding: 50px 0px;
}
.pop_msg .pop_cont .pop_text {
  text-align: center;
}
.pop_msg .pop_cont .pop_text .stype {
  display: none;
}
.pop_msg .pop_cont .pop_text .stype .icon_suc {
  width: 72px;
}
.pop_msg .pop_cont .pop_text .stype.sign_1 .icon_suc {
  width: 99px;
}
.pop_msg .pop_cont .pop_text .sign_suc_text {
  font-size: 15px;
  color: #e74744;
  line-height: 1.8;
  padding-top: 32px;
}
.pop_msg .pop_cont .pop_text .sign_suc_text span {
  color: #e74744;
}
/*# sourceMappingURL=./sign.css.map */