.check-info {
  background: white;
  padding: px2rem(60) px2rem(30);
  .title {
    font-size: 24px;
  }
  .tip {
    font-size: 14px;
    padding: px2rem(20) 0px px2rem(30);
  }
  form {
    > p {
      border-bottom: 1px solid #dddddd;
    }
    input {
      outline: none;
      -webkit-appearance: none;
      border: none;
      font-size: 16px;
      padding: px2rem(24) px2rem(0);
      width: 100%;
      color: #222;
      &[ name='mobile' ] {
        width: px2rem(460);
      }
      &.btn-login {
        margin-top: px2rem(40);
        background: $gold-color;
        color: white;
        border-radius: px2rem(12);
        &.active {
          background: $gold-color;
          color: white;
        }
      }
    }

    .get-code {
      position: relative;
    }
    .btn-get-code {
      position: absolute;
      right: 0px;
      top: px2rem(16);
      display: inline-block;
      padding: px2rem(10) px2rem(20);
      color: #bababa;
      border: 1px solid #d4d4d4;
      border-radius: px2rem(8);
      &.active {
        border: 1px solid #009add;
        color: #00a0e9;
      }
    }
  }
}

.now-lq {
  position: fixed;
  width: 100%;
  bottom: 0px;
  padding: px2rem(16) px2rem(46);
  box-sizing: border-box;
  border-top: 1px solid #ddd;
  background: white;
  a {
    display: inline-block;
    width: 100%;
    text-align: center;
    color: white;
    font-size: 16px;
    height: px2rem(74);
    line-height: px2rem(74);
    background: $gold-color;
    color: white;
    border-radius: px2rem(12);
  }
}