@charset "utf-8";
@import "../lib/reset.css";
@import "../lib/common.css";
.my-box .card {
  height: 3.74rem;
  margin: 0.3rem 0.6rem;
  border-radius: 0.2rem;
  background: url("../../img/my/card_bg.png") 0px 0px no-repeat;
  -webkit-background-size: cover;
  background-size: cover;
  box-sizing: border-box;
  padding: 0.42rem;
  color: #88543d;
}
.my-box .card .info {
  display: flex;
  align-items: flex-end;
  font-size: 0.3rem;
}
.my-box .card .info > img {
  width: 1.3rem;
  height: 1.3rem;
  border-radius: 100%;
}
.my-box .card .info .txt {
  flex: 1;
  margin-left: 0.3rem;
  font-size: 0.24rem;
}
.my-box .card .info .txt p {
  padding-top: 0.15rem;
}
.my-box .card .info .txt .mvip {
  font-size: 0.3rem;
  display: flex;
  align-items: flex-end;
}
.my-box .card .info .txt .mvip .icon_vip {
  display: inline-block;
  width: 0.46rem;
  height: 0.46rem;
  margin-right: 0.1rem;
}
.my-box .card .info .txt .mvip span {
  margin-bottom: -0.05rem;
}
.my-box .card.card_1 {
  background: url("../../img/my/card_bg_1.png") 0px 0px no-repeat;
  background-size: cover;
}
.my-box .card.card_1 .info .txt .mvip .icon_vip {
  background: url(../../img/my/icon_vip_1.png) 0px 0px no-repeat;
  background-size: cover;
}
.my-box .card.card_1 .info .txt .mvip .hy {
  color: #88543d;
}
.my-box .card.card_1 .card_num .scode {
  background: url(../../img/my/scode_1.png) 0px 0px no-repeat;
  background-size: cover;
}
.my-box .card.card_2 {
  background: url("../../img/my/card_bg_2.png") 0px 0px no-repeat;
  background-size: cover;
  color: #e2c79c;
}
.my-box .card.card_2 .info .txt .mvip .icon_vip {
  background: url(../../img/my/icon_vip_2.png) 0px 0px no-repeat;
  background-size: cover;
}
.my-box .card.card_2 .info .txt .mvip .hy {
  color: #e2c79c;
}
.my-box .card.card_2 .card_num .scode {
  background: url(../../img/my/scode_2.png) 0px 0px no-repeat;
  background-size: cover;
}
.my-box .card.card_3 {
  background: url("../../img/my/card_bg_3.png") 0px 0px no-repeat;
  background-size: cover;
  color: #fff1da;
}
.my-box .card.card_3 .info .txt .mvip .icon_vip {
  background: url(../../img/my/icon_vip_3.png) 0px 0px no-repeat;
  background-size: cover;
}
.my-box .card.card_3 .info .txt .mvip .hy {
  color: #fff1da;
}
.my-box .card.card_3 .card_num .scode {
  background: url(../../img/my/scode_3.png) 0px 0px no-repeat;
  background-size: cover;
}
.my-box .card .card_num {
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  font-size: 0.26rem;
}
.my-box .card .card_num .scode {
  display: inline-block;
  width: 0.62rem;
  height: 0.62rem;
}
.my-box .ad_box img {
  width: 100%;
}
.my-box .ad_box.ad_big {
  padding: 0.55rem 0px;
}
.my-box .categorys {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  padding: 0.44rem 0px;
}
.my-box .categorys a {
  display: block;
  font-size: 0.24rem;
  text-align: center;
  width: 25%;
}
.my-box .categorys a img {
  width: 0.9rem;
}
.my-box .categorys a span {
  display: block;
  color: #2a2a2a;
  padding: 0.1rem 0px 0.05rem;
}
.my-box .categorys a i {
  font-style: normal;
}
.my-box .categorys a.hot {
  position: relative;
}
.my-box .categorys a.hot::after {
  content: "";
  position: absolute;
  top: -0.1rem;
  right: 0.3rem;
  width: 0.6rem;
  height: 0.29rem;
  background: url(../../img/index/icon_hot.png) 0px 0px no-repeat;
  background-size: cover;
}
.my-box .my-list {
  padding: 10px 0.35rem 0px;
  background: white;
}
.my-box .my-list a {
  color: #2a2a2a;
  font-size: 0.24rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.25rem 0px;
}
.my-box .my-list a .icon {
  height: 0.34rem;
}
.my-box .my-list a span {
  flex: 1;
  padding-left: 0.12rem;
}
.my-box .my-list a .right {
  width: 0.12rem;
  margin-right: 0.2rem;
}
.my-box .kefu {
  padding: 0.3rem 0.6rem;
  background: white;
  text-align: center;
  font-size: 0.26rem;
  line-height: 1.6;
  color: #7d7c7d;
}
.my-box .kefu .red {
  color: #de172a;
}
.my-box .kefu .red a {
  color: #de172a;
}
.jf-list {
  color: #7d7c7d;
  font-size: 0.24rem;
}
.jf-list .item {
  background: white;
  margin-top: 0.16rem;
  padding: 0.22rem 0.66rem 0.05rem;
  line-height: 1.8;
}
.jf-list .item p {
  display: flex;
  justify-content: space-between;
}
.jf-list .item p .xf {
  color: #333;
}
.jf-list .item p .xf-num {
  font-size: 0.32rem;
  color: #de172a;
}
