@import "../lib/reset.css";
@import "../lib/common.css";

@red: #a11319;
html,
body {
    padding-bottom: 0px;
}

.wrap {
    padding-bottom: 60px;
    .ad_box {
        background: @red;
        img {
            height: 2.4rem;
            width: 100%;
        }
        &.ad_big {
            padding: 0.55rem 0px;
        }
    }
    .quanList {
        padding: 0.45rem 0.25rem;

        .item {
            display: flex;
            justify-content: space-between;
            align-items: flex-start;
            flex-direction: column;
            min-height: 1.7rem;
            box-shadow: 0.02rem 0.03rem 0.1rem 0px rgba(0, 0, 0, 0.14);
            border-radius: 0.15rem;
            box-sizing: border-box;
            margin-bottom: 0.32rem;
            color: #2a2a2a;
            background: white;
            .top {
                top: 3.66rem;
                display: flex;
                justify-content: space-between;
                align-items: center;
                width: 100%;
                padding: 0.35rem 0.3rem;
                box-sizing: border-box;

                > img {
                    width: 1.4rem;
                    height: 1.4rem;
                    margin-right: 0.25rem;

                    &.overdate {
                        width: 1.16rem;
                        height: 1.16rem;
                    }
                }

                .info {
                    flex: 1;

                    h3 {
                        font-size: 0.26rem;
                        color: rgb(42, 42, 42);
                        padding-bottom: 0.35rem;
                    }

                    > p {
                        font-size: 0.24rem;
                        color: #8f8f8f;
                        padding-bottom: 0.1rem;
                    }
                    .detail {
                        display: flex;
                        align-items: center;
                        line-height: 1;
                        .icon_vip {
                            width: 0.26rem;
                            height: 0.26rem;
                            margin-right: 0.1rem;
                        }
                        .price {
                            font-size: 0.32rem;
                            color: @red;

                            i {
                                font-size: 0.26rem;
                                font-style: normal;
                            }
                        }
                        .num {
                            flex: 1;
                            color: @red;
                            font-size: 0.26rem;
                            text-align: right;
                        }
                        .icon_zx{
                            height: .36rem;
                            margin-left: .1rem;
                        }
                    }
                }

                .use {
                    color: white;
                    display: inline-block;
                    background: rgb(42, 42, 42);
                    width: 1.4rem;
                    border-radius: 20px;
                    text-align: center;
                    font-size: 0.24rem;
                    padding: 2px 0px;
                }
            }

            .bottom {
                height: 0.42rem;
                text-align: right;
                width: 100%;
                box-sizing: border-box;
                display: flex;
                justify-content: space-between;
                align-items: center;
                padding: 0px 0.24rem;
                height: 0.44rem;

                a {
                    font-size: 0.24rem;
                    color: #222;
                }

                .instruction {
                    font-size: 0.24rem;
                    color: #222;
                }
            }

            .desc {
                display: none;
                font-size: 0.24rem;
                color: rgb(143, 143, 143);
                line-height: 1.667;
                border: 1px solid rgba(225, 225, 225, 0.6);
                border-top: none;
                background-color: rgb(255, 255, 255);
                padding: 0.24rem 0.2rem;
                margin-top: -1px;
                position: relative;

                &.show {
                    display: block;
                }

                &:before,
                &:after {
                    content: " ";
                    background: rgba(225, 225, 225, 0.6);
                    width: 1px;
                    height: 10px;
                    display: inline-block;
                    position: absolute;
                    top: -10px;
                }

                &:before {
                    left: -1px;
                }

                &:after {
                    right: -1px;
                }
            }
        }
    }

    .pay_box {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        display: block;
        height: 0.8rem;
        line-height: 0.8rem;
        background: white;
        color: rgb(42, 42, 42);
        box-shadow: 0rem -0.01rem 0.02rem 0px rgba(0, 0, 0, 0.04);
        display: flex;
        justify-content: space-between;
        .price {
            padding-left: 0.5rem;
        }
        .btn_pay {
            display: block;
            height: 100%;
            box-sizing: border-box;
            background-color: rgb(42, 42, 42);
            width: 2.5rem;
            color: white;
            text-align: center;
        }
    }
}
