@import "../lib/reset.css";
@import "../lib/popups.css";
html,
body {
  min-height: 100vh;
  font-size: 0.28rem;
  color: #2a2a2a;
  background: white;
}
html input::-webkit-input-placeholder,
body input::-webkit-input-placeholder,
html textarea::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: rgba(143, 143, 143, 0.6);
}
html input:-ms-input-placeholder,
body input:-ms-input-placeholder,
html textarea:-ms-input-placeholder,
body textarea:-ms-input-placeholder {
  color: rgba(143, 143, 143, 0.6);
}
body {
  max-width: 600px;
  padding: 0px;
  margin: 0px auto;
  background: #f4f4f4;
  color: #2a2a2a;
  padding-bottom: 100px;
  box-sizing: border-box;
}
body .flex-full-tmp {
  display: block;
}
body .loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 42, 42, 0.702);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .minH70 {
  min-height: 70vh;
}
body .rbox {
  padding: 0px 0.4rem;
  border-radius: 0.1rem;
}
body .rbox .rtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 18px;
}
body .rbox .rtitle > span {
  font-size: 18px;
  font-weight: bold;
}
body .rbox .rtitle > a {
  display: flex;
  font-size: 12px;
  align-items: center;
}
body .rbox .rtitle > a::before {
  content: "更多";
  color: #8f8f8f;
  padding-right: 5px;
}
body .rbox .rtitle > a > img {
  width: 11px;
}
body .rbox.ad {
  padding-top: 42px;
}
body .rbox.ad img {
  width: 100%;
}
body .rbox34 {
  padding: 0px 0.34rem;
  border-radius: 0.1rem;
}
body .split-logo {
  text-align: center;
  padding: 40px 0px 20px;
}
body .split-logo img {
  width: 2.36rem;
  opacity: 0.7;
}
body .tab .tab-menu {
  position: relative;
  border-bottom: 1px solid rgba(216, 216, 216, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
body .tab .tab-menu > li,
body .tab .tab-menu > a {
  float: left;
  width: 50%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.34rem;
  color: rgba(42, 42, 42);
}
body .tab .tab-menu > li:nth-last-of-type(1),
body .tab .tab-menu > a:nth-last-of-type(1) {
  border-right: none;
}
body .tab .tab-menu > li > span,
body .tab .tab-menu > a > span {
  display: inline-block;
  height: 100%;
  padding-top: 2px;
  box-sizing: border-box;
}
body .tab .tab-menu > li.on,
body .tab .tab-menu > a.on {
  position: relative;
  color: #2a2a2a;
}
body .tab .tab-menu > li.on > span,
body .tab .tab-menu > a.on > span {
  border-bottom: 1px solid rgba(42, 42, 42, 0.8);
}
body .tab .tab-cont {
  display: none;
}
body .tab .tab-cont:nth-of-type(1) {
  display: block;
}
.search-Box {
  padding: 0.15rem 0.4rem;
  position: relative;
}
.search-Box .icon-search {
  width: 0.28rem;
  height: 0.28rem;
  position: absolute;
  left: 0.66rem;
  top: 50%;
  margin-top: -0.14rem;
}
.search-Box .search-ipt {
  height: 0.6rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  border: none;
  padding-left: 0.66rem;
  font-size: 12px;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ellipsis.ellipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.header {
  height: 0.76rem;
  padding: 0px 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.headerH {
  height: 0.86rem;
}
.header.headerHH {
  height: 1.2rem;
}
.header .logo {
  height: 20px;
}
.header .msg {
  font-size: 12px;
}
.header .selcity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .selcity select {
  border: none;
  font-size: 15px;
  color: #8f8f8f;
}
.header .selcity .icon-down {
  height: 8px;
  margin-left: 6px;
}
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 82px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: white;
  z-index: 100;
}
.footer.fullScreen {
  padding-bottom: 12px;
}
.footer a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #8f8f8f;
  text-align: center;
}
.footer a::before {
  content: "";
  width: 38px;
  height: 38px;
  display: inline-block;
  padding-bottom: 5px;
  margin-top: -5px;
}
.footer a.sy::before {
  background: url(../../img/common/navs/sy.png) center center no-repeat;
  background-size: 27px 25px;
}
.footer a.fl::before {
  background: url(../../img/common/navs/fl.png) center center no-repeat;
  background-size: 28px 23px;
}
.footer a.sq::before {
  background: url(../../img/common/navs/sq.png) center center no-repeat;
  background-size: 26px 26px;
}
.footer a.fw::before {
  background: url(../../img/common/navs/fw.png) center center no-repeat;
  background-size: 26px 25px;
}
.footer a.wd::before {
  background: url(../../img/common/navs/wd.png) center center no-repeat;
  background-size: 18px 25px;
}
.footer a.on {
  color: #2a2a2a;
}
.footer a.on.sy::before {
  background: url(../../img/common/navs/sy-on.png) center center no-repeat;
  background-size: 27px 25px;
}
.footer a.on.fl::before {
  background: url(../../img/common/navs/fl-on.png) center center no-repeat;
  background-size: 28px 23px;
}
.footer a.on.sq::before {
  background: url(../../img/common/navs/sq-on.png) center center no-repeat;
  background-size: 26px 26px;
}
.footer a.on.fw::before {
  background: url(../../img/common/navs/fw-on.png) center center no-repeat;
  background-size: 26px 25px;
}
.footer a.on.wd::before {
  background: url(../../img/common/navs/wd-on.png) center center no-repeat;
  background-size: 18px 25px;
}
.footerBtns {
  position: fixed;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  text-align: center;
  background: #b7a793;
}
.footerBtns a {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #ffffff;
  font-size: 17px;
  position: relative;
}
.footerBtns a:nth-last-of-type(1)::after {
  content: none;
}
.footerBtns a::after {
  display: block;
  content: "";
  width: 1px;
  height: 39px;
  background-color: rgba(255, 255, 255, 0.402);
  position: absolute;
  top: 10px;
  right: 0px;
}
.banner-swiper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.banner-swiper .swiper-slide img {
  width: 100%;
}
.banner-swiper .swiper-pagination-bullets {
  bottom: 5px;
}
.banner-swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 0.5;
}
.banner-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.hmenus {
  overflow: hidden;
  margin: 0.2rem 0.4rem 0px;
}
.hmenus .swiper-containe {
  position: relative;
  height: 0.7rem;
  border-bottom: 1px solid rgba(216, 216, 216, 0.25);
}
.hmenus .swiper-containe .swiper-slide {
  width: auto;
  margin-right: 0.4rem;
  box-sizing: border-box;
  height: 100%;
  padding-top: 0.2rem;
  position: relative;
  bottom: -1px;
  z-index: 10;
}
.hmenus .swiper-containe .swiper-slide:nth-last-of-type(1) {
  margin-right: 0px;
}
.hmenus .swiper-containe .swiper-slide > span {
  transition: all 0.3s ease;
  display: block;
  font-size: 15px;
  color: #8f8f8f;
}
.hmenus .swiper-containe .swiper-slide.active {
  position: relative;
  border-bottom: 1px solid rgba(40, 40, 40, 0.8);
}
.hmenus .swiper-containe .swiper-slide.active span {
  color: #282828;
}
.hmenus .swiper-containe .swiper-slide.active:after {
  content: " ";
  background-color: #282828;
  border-radius: 2px;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
}
.pList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pList .item {
  display: block;
  width: 3.16rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}
.pList .item .pavt {
  display: block;
  width: 3.16rem;
  height: 3.16rem;
  border-radius: 0.1rem;
}
.pList .item .title {
  font-size: 14px;
  color: #2a2a2a;
  padding: 0px 0.1rem;
  padding-top: 0.1rem;
}
.pList .item .desc {
  font-size: 14px;
  color: #8f8f8f;
  padding: 0px 0.1rem;
  padding-top: 0.2rem;
  line-height: 1.4;
}
.pList .item .watch-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0.1rem;
  padding-top: 0.2rem;
}
.pList .item .watch-box .collect {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 13px;
  color: #a0a0a0;
}
.pList .item .watch-box .collect img {
  height: 9px;
  margin-right: 0.1rem;
}
.pList .item .watch-box .watches {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 13px;
  color: #a0a0a0;
}
.pList .item .watch-box .watches img {
  height: 9px;
  margin-right: 0.1rem;
}
.kefu {
  position: fixed;
  bottom: 100px;
  right: 0.4rem;
  z-index: 100;
}
.kefu img {
  display: block;
  width: 0.96rem;
}
body {
  padding-top: 0.4rem;
}
.grid a {
  display: flex;
  justify-content: space-between;
  margin-bottom: 20px;
}
.grid a:nth-last-of-type(1) {
  margin-bottom: 0px;
}
.grid a .avt {
  width: 1.8rem;
  height: 1.8rem;
}
.grid a .info {
  padding: 0.1rem 0.2rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  line-height: 1.7;
  box-sizing: border-box;
  flex: 1;
}
.grid a .info .txt {
  color: #8f8f8f;
  box-sizing: border-box;
  width: 100%;
  font-size: 14px;
}
.grid a .watches {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 12px;
  color: #8f8f8f;
}
.grid a .watches img {
  height: 9px;
  margin-right: 0.1rem;
}
.guixinFM {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.guixinFM .item {
  display: block;
  width: calc(50% - 0.15rem);
  margin-bottom: 0.5rem;
  border-radius: 0.1rem;
  overflow: hidden;
}
.guixinFM .item:nth-of-type(2n+1) {
  margin-right: 0.3rem;
}
.guixinFM .item .avt {
  display: block;
  width: 100%;
}
.guixinFM .item .desc {
  color: #8f8f8f;
  font-size: 12px;
  text-align: center;
  padding-top: 0.2rem;
}
.datas {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 0.2rem;
}
.datas .collect {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 12px;
  color: #a0a0a0;
}
.datas .collect img {
  height: 9px;
  margin-right: 0.1rem;
}
.datas .watches {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 12px;
  color: #a0a0a0;
}
.datas .watches img {
  height: 9px;
  margin-right: 0.1rem;
}
.guixinLive {
  padding-top: 0px;
}
.guixinLive .gx-banner-swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.guixinLive .gx-banner-swiper .swiper-slide img {
  width: 100%;
}
.guixinLive .gx-banner-swiper .swiper-pagination-bullets {
  bottom: 8px;
}
.guixinLive .gx-banner-swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 0.5;
}
.guixinLive .gx-banner-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.guixinLive .kecheng .rtitle {
  padding-top: 20px;
}
.guixinLive .gx-carousel-swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.guixinLive .gx-carousel-swiper .swiper-slide {
  width: 2.3rem;
  border-radius: 0.1rem;
  background-color: #fff;
  text-align: center;
  padding: 0.32rem 0px;
}
.guixinLive .gx-carousel-swiper .swiper-slide img {
  width: 1.54rem;
  height: 1.54rem;
  border-radius: 100%;
}
.guixinLive .gx-carousel-swiper .swiper-slide .desc {
  line-height: 1.667;
  font-size: 12px;
  padding-top: 0.12rem;
  text-align: center;
}
.guixinLive .gx-carousel-swiper .swiper-slide .desc .dtitle {
  font-size: 14px;
  color: #2a2a2a;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.guixinLive .gx-carousel-swiper .swiper-slide .desc .dtitle.ellipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.guixinLive .gx-carousel-swiper .swiper-slide .desc .txt {
  color: #8f8f8f;
  font-size: 12px;
  line-height: 1;
  padding-top: 0.05rem;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.guixinLive .gx-carousel-swiper .swiper-slide .desc .txt.ellipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.guixinLive .gx-carousel-swiper .swiper-pagination-bullets {
  bottom: 30px;
}
.guixinLive .gx-carousel-swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 0.5;
}
.guixinLive .gx-carousel-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.guixinLive .gx-FM .gx-lbox {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.guixinLive .gx-FM .gx-lbox img {
  height: 2.36rem;
}
.guixinLive .gx-FM .gx-lbox img:nth-last-of-type(1) {
  flex: 1;
  margin-left: 0.05rem;
}
.guixinLive .gx-Story .grid a {
  margin-bottom: 15px;
}
.guixinLive .gx-Story .grid a .avt {
  width: 2rem;
  height: 2rem;
}
.gxClass .grid a {
  margin-bottom: 15px;
}
.gxClass .grid a .avt {
  width: 2rem;
  height: 2rem;
}
.liuyanBox {
  background: white;
  padding-top: 0px;
}
.liuyanBox .liuyan {
  padding: 0px 0.4rem;
}
.liuyanBox .liuyan .ly-dec {
  width: 100%;
}
.liuyanBox .liuyan .ly-txt {
  text-align: center;
  padding-top: 0.3rem;
  padding-bottom: 0.6rem;
}
.liuyanBox .liuyan .ly-txt img {
  width: 4.2rem;
}
.liuyanBox .liuyan .ly .ipt-box {
  position: relative;
}
.liuyanBox .liuyan .ly .ipt-box textarea {
  font-size: 13px;
  width: 100%;
  box-sizing: border-box;
  border-width: 1px;
  border-color: rgba(183, 167, 147, 0.6);
  border-style: solid;
  border-radius: 0.1rem;
  background-color: #ffffff;
  height: 3.7rem;
  padding: 0.3rem 0.36rem;
  resize: none;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.liuyanBox .liuyan .ly .ipt-box .ipt-limit {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
  font-size: 12px;
  color: #8f8f8f;
}
.liuyanBox .liuyan .ly .ipt-box .ipt-limit span {
  color: #8f8f8f;
}
.liuyanBox .liuyan .ly .tip {
  font-size: 13px;
  padding-top: 0.4rem;
  color: #8f8f8f;
  line-height: 1.875;
}
.dianpingBox {
  padding-top: 0px;
}
.dianpingBox .kayang {
  padding: 0.4rem;
}
.dianpingBox .kayang img {
  width: 100%;
}
.dianpingBox .liuyan {
  padding: 0px 0.4rem;
}
.dianpingBox .liuyan.bgWhite {
  background: white;
}
.dianpingBox .liuyan .ly-dec {
  width: 100%;
}
.dianpingBox .dianping {
  background: white;
}
.dianpingBox .dianping .collectbox {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  background: white;
  padding-bottom: 0.6rem;
}
.dianpingBox .dianping .collectbox .collect {
  width: 0.98rem;
  height: 1.38rem;
  background: url(../../img/main/dianping-default.png) 0px 0px no-repeat;
  background-size: 0.97rem 0.98rem;
  color: #a0a0a0;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 13px;
  margin-left: 1rem;
}
.dianpingBox .dianping .collectbox .collect.on {
  background: url(../../img/main/dianping-ok.png) 0px 0px no-repeat;
  background-size: 0.97rem 0.98rem;
}
.dianpingBox .dianping .collectbox .watches {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 13px;
  color: #a0a0a0;
  padding-right: 0.1rem;
}
.dianpingBox .dianping .collectbox .watches img {
  height: 9px;
  margin-right: 0.1rem;
}
.dianpingBox .dianping .dplist {
  background: #f4f4f4;
}
.dianpingBox .dianping .dplist > h3 {
  font-size: 17px;
  padding: 0.4rem 0px;
}
.dianpingBox .dianping .dplist li {
  position: relative;
  width: 100%;
  border-bottom: 1px solid rgba(42, 42, 42, 0.1);
  padding-bottom: 0.5rem;
  margin-bottom: 25px;
}
.dianpingBox .dianping .dplist li:nth-last-of-type(1) {
  margin-bottom: 0px;
  border: none;
}
.dianpingBox .dianping .dplist li .avt {
  position: absolute;
  left: 0rem;
  top: 0px;
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 100%;
}
.dianpingBox .dianping .dplist li .right {
  margin-left: 1rem;
  line-height: 1.4;
}
.dianpingBox .dianping .dplist li .right .lyInfo {
  font-size: 14px;
  height: 0.8rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 0.06rem 0px;
  box-sizing: border-box;
}
.dianpingBox .dianping .dplist li .right .lyInfo .title {
  font-size: 14px;
}
.dianpingBox .dianping .dplist li .right .lyInfo .date {
  font-size: 14px;
  color: #8f8f8f;
}
.dianpingBox .dianping .dplist li .right .lytxt {
  font-size: 14px;
  padding: 0.1rem 0px;
}
.dianpingBox .dianping .dplist li .right .lytxt .ly-del {
  display: inline-block;
  background-color: #b7a793;
  width: 0.86rem;
  padding: 1px 0px;
  text-align: center;
  border-radius: 0.4rem;
  font-size: 14px;
  color: white;
  line-height: 1.2;
  margin-top: 0.2rem;
}
.dianpingBox .dianping .dplist li .right .replay-title {
  font-size: 14px;
  position: relative;
  padding: 0.16rem 0px;
  padding-left: 0.24rem;
}
.dianpingBox .dianping .dplist li .right .replay-title::before {
  content: '';
  background-color: #2a2a2a;
  width: 4px;
  height: 12px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -6px;
}
.dianpingBox .dianping .dplist li .right .replay-txt {
  font-size: 14px;
}
.liuyan-box {
  position: relative;
}
.liuyan-box textarea {
  font-size: 12px;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.05);
  border-radius: 5px;
  height: 3rem;
  width: 100%;
  box-sizing: border-box;
  padding: 0.14rem 0.18rem;
  color: #222222;
  width: 4.3rem;
  resize: none;
}
.liuyan-box textarea::-webkit-input-placeholder {
  color: rgba(42, 42, 42, 0.302);
}
.liuyan-box .limit {
  position: absolute;
  right: 0.15rem;
  bottom: 0.14rem;
  font-size: 12px;
}
.liuyan-box .limit span {
  color: #8f8f8f;
}
/*# sourceMappingURL=./guixin.css.map */