@import "../lib/reset.css";
@import "../lib/popups.css";
html,
body {
  min-height: 100vh;
  font-size: 0.28rem;
  color: #2a2a2a;
  background: white;
}
html input::-webkit-input-placeholder,
body input::-webkit-input-placeholder,
html textarea::-webkit-input-placeholder,
body textarea::-webkit-input-placeholder {
  color: rgba(143, 143, 143, 0.6);
}
html input:-ms-input-placeholder,
body input:-ms-input-placeholder,
html textarea:-ms-input-placeholder,
body textarea:-ms-input-placeholder {
  color: rgba(143, 143, 143, 0.6);
}
body {
  max-width: 600px;
  padding: 0px;
  margin: 0px auto;
  background: #f4f4f4;
  color: #2a2a2a;
  padding-bottom: 100px;
  box-sizing: border-box;
}
body .flex-full-tmp {
  display: block;
}
body .loading {
  position: fixed;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100vh;
  background-color: rgba(42, 42, 42, 0.702);
  display: flex;
  justify-content: center;
  align-items: center;
}
body .minH70 {
  min-height: 70vh;
}
body .rbox {
  padding: 0px 0.4rem;
  border-radius: 0.1rem;
}
body .rbox .rtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 38px;
  padding-bottom: 18px;
}
body .rbox .rtitle > span {
  font-size: 18px;
  font-weight: bold;
}
body .rbox .rtitle > a {
  display: flex;
  font-size: 12px;
  align-items: center;
}
body .rbox .rtitle > a::before {
  content: "更多";
  color: #8f8f8f;
  padding-right: 5px;
}
body .rbox .rtitle > a > img {
  width: 11px;
}
body .rbox.ad {
  padding-top: 42px;
}
body .rbox.ad img {
  width: 100%;
}
body .rbox34 {
  padding: 0px 0.34rem;
  border-radius: 0.1rem;
}
body .split-logo {
  text-align: center;
  padding: 40px 0px 20px;
}
body .split-logo img {
  width: 2.36rem;
  opacity: 0.7;
}
body .tab .tab-menu {
  position: relative;
  border-bottom: 1px solid rgba(216, 216, 216, 0.25);
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
}
body .tab .tab-menu > li,
body .tab .tab-menu > a {
  float: left;
  width: 50%;
  height: 0.8rem;
  line-height: 0.8rem;
  text-align: center;
  font-size: 0.34rem;
  color: rgba(42, 42, 42);
}
body .tab .tab-menu > li:nth-last-of-type(1),
body .tab .tab-menu > a:nth-last-of-type(1) {
  border-right: none;
}
body .tab .tab-menu > li > span,
body .tab .tab-menu > a > span {
  display: inline-block;
  height: 100%;
  padding-top: 2px;
  box-sizing: border-box;
}
body .tab .tab-menu > li.on,
body .tab .tab-menu > a.on {
  position: relative;
  color: #2a2a2a;
}
body .tab .tab-menu > li.on > span,
body .tab .tab-menu > a.on > span {
  border-bottom: 1px solid rgba(42, 42, 42, 0.8);
}
body .tab .tab-cont {
  display: none;
}
body .tab .tab-cont:nth-of-type(1) {
  display: block;
}
.search-Box {
  padding: 0.15rem 0.4rem;
  position: relative;
}
.search-Box .icon-search {
  width: 0.28rem;
  height: 0.28rem;
  position: absolute;
  left: 0.66rem;
  top: 50%;
  margin-top: -0.14rem;
}
.search-Box .search-ipt {
  height: 0.6rem;
  width: 100%;
  box-sizing: border-box;
  background-color: #ffffff;
  border-radius: 1rem;
  border: none;
  padding-left: 0.66rem;
  font-size: 12px;
}
.ellipsis {
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.ellipsis.ellipsis2 {
  display: -webkit-box;
  -webkit-line-clamp: 3;
}
.header {
  height: 0.76rem;
  padding: 0px 0.4rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header.headerH {
  height: 0.86rem;
}
.header.headerHH {
  height: 1.2rem;
}
.header .logo {
  height: 20px;
}
.header .msg {
  font-size: 12px;
}
.header .selcity {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.header .selcity select {
  border: none;
  font-size: 15px;
  color: #8f8f8f;
}
.header .selcity .icon-down {
  height: 8px;
  margin-left: 6px;
}
.footer {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 82px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0px 20px;
  background: white;
  z-index: 100;
}
.footer.fullScreen {
  padding-bottom: 12px;
}
.footer a {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  font-size: 12px;
  color: #8f8f8f;
  text-align: center;
}
.footer a::before {
  content: "";
  width: 38px;
  height: 38px;
  display: inline-block;
  padding-bottom: 5px;
  margin-top: -5px;
}
.footer a.sy::before {
  background: url(../../img/common/navs/sy.png) center center no-repeat;
  background-size: 27px 25px;
}
.footer a.fl::before {
  background: url(../../img/common/navs/fl.png) center center no-repeat;
  background-size: 28px 23px;
}
.footer a.sq::before {
  background: url(../../img/common/navs/sq.png) center center no-repeat;
  background-size: 26px 26px;
}
.footer a.fw::before {
  background: url(../../img/common/navs/fw.png) center center no-repeat;
  background-size: 26px 25px;
}
.footer a.wd::before {
  background: url(../../img/common/navs/wd.png) center center no-repeat;
  background-size: 18px 25px;
}
.footer a.on {
  color: #2a2a2a;
}
.footer a.on.sy::before {
  background: url(../../img/common/navs/sy-on.png) center center no-repeat;
  background-size: 27px 25px;
}
.footer a.on.fl::before {
  background: url(../../img/common/navs/fl-on.png) center center no-repeat;
  background-size: 28px 23px;
}
.footer a.on.sq::before {
  background: url(../../img/common/navs/sq-on.png) center center no-repeat;
  background-size: 26px 26px;
}
.footer a.on.fw::before {
  background: url(../../img/common/navs/fw-on.png) center center no-repeat;
  background-size: 26px 25px;
}
.footer a.on.wd::before {
  background: url(../../img/common/navs/wd-on.png) center center no-repeat;
  background-size: 18px 25px;
}
.footerBtns {
  position: fixed;
  bottom: -1px;
  left: 0px;
  width: 100%;
  height: 60px;
  box-sizing: border-box;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
  text-align: center;
  background: #b7a793;
}
.footerBtns a {
  display: block;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  color: #ffffff;
  font-size: 17px;
  position: relative;
}
.footerBtns a:nth-last-of-type(1)::after {
  content: none;
}
.footerBtns a::after {
  display: block;
  content: "";
  width: 1px;
  height: 39px;
  background-color: rgba(255, 255, 255, 0.402);
  position: absolute;
  top: 10px;
  right: 0px;
}
.banner-swiper {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.banner-swiper .swiper-slide img {
  width: 100%;
}
.banner-swiper .swiper-pagination-bullets {
  bottom: 5px;
}
.banner-swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 0.5;
}
.banner-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.hmenus {
  overflow: hidden;
  margin: 0.2rem 0.4rem 0px;
}
.hmenus .swiper-containe {
  position: relative;
  height: 0.7rem;
  border-bottom: 1px solid rgba(216, 216, 216, 0.25);
}
.hmenus .swiper-containe .swiper-slide {
  width: auto;
  margin-right: 0.4rem;
  box-sizing: border-box;
  height: 100%;
  padding-top: 0.2rem;
  position: relative;
  bottom: -1px;
  z-index: 10;
}
.hmenus .swiper-containe .swiper-slide:nth-last-of-type(1) {
  margin-right: 0px;
}
.hmenus .swiper-containe .swiper-slide > span {
  transition: all 0.3s ease;
  display: block;
  font-size: 15px;
  color: #8f8f8f;
}
.hmenus .swiper-containe .swiper-slide.active {
  position: relative;
  border-bottom: 1px solid rgba(40, 40, 40, 0.8);
}
.hmenus .swiper-containe .swiper-slide.active span {
  color: #282828;
}
.hmenus .swiper-containe .swiper-slide.active:after {
  content: " ";
  background-color: #282828;
  border-radius: 2px;
  width: 100%;
  height: 1px;
  position: absolute;
  bottom: -1px;
}
.pList {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pList .item {
  display: block;
  width: 3.16rem;
  margin-top: 0.5rem;
  line-height: 1.4;
}
.pList .item .pavt {
  display: block;
  width: 3.16rem;
  height: 3.16rem;
  border-radius: 0.1rem;
}
.pList .item .title {
  font-size: 14px;
  color: #2a2a2a;
  padding: 0px 0.1rem;
  padding-top: 0.1rem;
}
.pList .item .desc {
  font-size: 14px;
  color: #8f8f8f;
  padding: 0px 0.1rem;
  padding-top: 0.2rem;
  line-height: 1.4;
}
.pList .item .watch-box {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0px 0.1rem;
  padding-top: 0.2rem;
}
.pList .item .watch-box .collect {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 13px;
  color: #a0a0a0;
}
.pList .item .watch-box .collect img {
  height: 9px;
  margin-right: 0.1rem;
}
.pList .item .watch-box .watches {
  display: flex;
  align-items: center;
  line-height: 0.5;
  font-size: 13px;
  color: #a0a0a0;
}
.pList .item .watch-box .watches img {
  height: 9px;
  margin-right: 0.1rem;
}
.kefu {
  position: fixed;
  bottom: 100px;
  right: 0.4rem;
  z-index: 100;
}
.kefu img {
  display: block;
  width: 0.96rem;
}
.doLiuyan {
  padding-bottom: 0.5rem !important;
}
.doLiuyan .logo-big {
  text-align: center;
  padding: 0.7rem;
}
.doLiuyan .logo-big img {
  width: 2.3rem;
}
.doLiuyan .ipt-box {
  position: relative;
}
.doLiuyan .ipt-box textarea {
  font-size: 14px;
  width: 100%;
  box-sizing: border-box;
  border-radius: 0.1rem;
  background-color: #ffffff;
  height: 3.7rem;
  padding: 0.3rem 0.36rem;
  resize: none;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
}
.doLiuyan .ipt-box .ipt-limit {
  position: absolute;
  right: 0.3rem;
  bottom: 0.3rem;
  font-size: 13px;
  color: #8f8f8f;
}
.doLiuyan .ipt-box .ipt-limit span {
  color: #8f8f8f;
}
.doLiuyan .fileUpBox {
  position: relative;
  margin: 0px 0.1rem;
  margin-top: 0.35rem;
  margin-bottom: 0.2rem;
}
.doLiuyan .fileUpBox .fileup {
  position: relative;
  display: block;
  width: 1.22rem;
  height: 1.22rem;
  opacity: 0;
  z-index: 3;
}
.doLiuyan .fileUpBox .cropedBigImg {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1.22rem;
  height: 1.22rem;
  z-index: 2;
  border-radius: 0.1rem;
}
.doLiuyan .fileUpBox::after {
  content: " ";
  position: absolute;
  left: 0px;
  top: 0px;
  width: 1.22rem;
  height: 1.22rem;
  background: url(../../img/main/icon-addImg.png) 0px 0px no-repeat;
  background-size: 100% 100%;
  z-index: 1;
}
.doLiuyan .tip {
  margin: 0px 0.1rem;
  font-size: 14px;
  padding-top: 0.4rem;
  color: #8f8f8f;
  line-height: 1.875;
}
.myLiuyan {
  padding: 0.4rem;
}
.myLiuyan .item {
  margin-bottom: 0.7rem;
}
.myLiuyan .item .summ {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.myLiuyan .item .summ .date {
  font-size: 14px;
  position: relative;
  padding-left: 0.24rem;
  color: #8f8f8f;
  display: block;
  height: 12px;
  line-height: 12px;
}
.myLiuyan .item .summ .date::before {
  content: "";
  background-color: #2a2a2a;
  width: 4px;
  height: 12px;
  display: inline-block;
  position: absolute;
  left: 0px;
  top: 50%;
  margin-top: -6px;
}
.myLiuyan .item .summ .ly-del {
  display: inline-block;
  background-color: #b7a793;
  width: 0.86rem;
  padding: 1px 0px;
  text-align: center;
  border-radius: 0.4rem;
  font-size: 14px;
  color: white;
  line-height: 1.2;
}
.myLiuyan .item .ly-txt {
  font-size: 14px;
  color: #8f8f8f;
  line-height: 1.667;
  margin-top: 0.2rem;
  margin-left: 0.24rem;
}
.myLiuyan .item .avts {
  padding: 0.24rem;
  padding-top: 0.1rem;
  display: flex;
  flex-wrap: wrap;
}
.myLiuyan .item .avts .img-box {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 0.08rem;
  overflow: hidden;
  position: relative;
  margin-right: 0.1rem;
}
.myLiuyan .item .avts img {
  left: 0px;
  top: 0px;
  position: absolute;
  display: block;
}
.myLiuyan .item .reply {
  font-size: 14px;
  padding-top: 0.2rem;
  padding-left: 0.24rem;
  line-height: 1.667;
  background-repeat: no-repeat;
  background: url(../../img/main/reply_arrow.png) 0.6rem 2px no-repeat;
  background-size: 0.3rem 0.18rem;
}
.myLiuyan .item .reply .reply-cont {
  background-color: #ffffff;
  border-radius: 10px;
  padding: 0.3rem 0.25rem;
  font-size: 14px;
}
.myLiuyan .item .reply .rc {
  font-size: 14px;
  color: #b7a793;
}
/*# sourceMappingURL=./liuyan.css.map */