.banner-swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
}
.banner-swiper .swiper-slide img {
  width: 100%;
}
.banner-swiper .swiper-pagination-bullets {
  bottom: 10px;
}
.banner-swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 0.5;
}
.banner-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.ads-swiper {
  width: calc(100% - 40px);
  position: relative;
  overflow: hidden;
  margin: 0px 20px;
  padding-top: 50px;
}
.ads-swiper .swiper-slide img {
  width: 100%;
}
.ads-swiper .swiper-pagination-bullets {
  bottom: 4px;
}
.ads-swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 0.5;
}
.ads-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.scale-swiper {
  width: calc(100% + 20px);
  margin-left: -10px;
  position: relative;
  overflow: hidden;
}
.scale-swiper .swiper-slide img {
  width: 100%;
}
.scale-swiper .swiper-slide a {
  color: #8f8f8f;
}
.scale-swiper .swiper-slide .desc {
  display: none;
  line-height: 1.667;
  font-size: 13px;
  padding-top: 10px;
}
.scale-swiper .swiper-slide .desc .dtitle {
  color: #2a2a2a;
  font-size: 14px;
}
.scale-swiper .swiper-slide .desc .txt {
  color: #8f8f8f;
}
.scale-swiper .swiper-slide {
  text-align: center;
  transition: 300ms;
  transform: scale(0.8);
}
.scale-swiper .swiper-slide-active,
.scale-swiper .swiper-slide-duplicate-active {
  transform: scale(1);
}
.scale-swiper .swiper-slide-active .desc,
.scale-swiper .swiper-slide-duplicate-active .desc {
  display: block;
}
.carousel-swiper {
  width: 100%;
  position: relative;
  overflow: hidden;
}
.carousel-swiper .swiper-slide {
  width: 3.6rem;
  border-radius: 5px;
}
.carousel-swiper .swiper-slide img {
  width: 100%;
  height: 2.44rem;
  border-radius: 5px;
}
.carousel-swiper .swiper-slide .desc {
  line-height: 1.667;
  font-size: 12px;
  padding: 0px 0.1rem;
  padding-top: 0.12rem;
}
.carousel-swiper .swiper-slide .desc .dtitle {
  color: #8f8f8f;
}
.carousel-swiper .swiper-slide .desc .txt {
  color: #2a2a2a;
  font-size: 14px;
}
.carousel-swiper .swiper-pagination-bullets {
  bottom: 30px;
}
.carousel-swiper .swiper-pagination-bullet {
  width: 4px;
  height: 4px;
  display: inline-block;
  border-radius: 100%;
  background: white;
  opacity: 0.5;
}
.carousel-swiper .swiper-pagination-bullet.swiper-pagination-bullet-active {
  opacity: 1;
}
.headerTop {
  padding-top: 0.2rem;
}
.activity .hdimg {
  width: 100%;
}
.activity .atitle {
  font-size: 17px;
  line-height: 1.8;
  padding: 0px 0.05rem;
  padding-top: 8px;
}
.activity .ainfo {
  font-size: 13px;
  color: #8f8f8f;
  line-height: 1.667;
  padding: 0px 0.1rem;
}
.rongfen {
  border-radius: 5px;
  overflow: hidden;
}
.rongfen .rtitle {
  padding-top: 30px !important;
}
.rongfen .grid {
  display: flex;
  justify-content: space-between;
}
.rongfen .grid a {
  display: block;
  position: relative;
}
.rongfen .grid a .javt {
  position: absolute;
  right: 0.1rem;
  bottom: 0.1rem;
  display: flex;
  align-items: center;
}
.rongfen .grid a .javt img {
  height: 0.4rem;
  width: 0.4rem;
  border-radius: 100%;
}
.rongfen .grid a .javt span {
  color: white;
  padding-left: 0.1rem;
  font-size: 12px;
}
.rongfen .grid .r1 {
  margin-right: 0.15rem;
  width: 100%;
}
.rongfen .grid .r1 > img {
  display: block;
  width: 100%;
  height: 3rem;
}
.rongfen .grid .r2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.rongfen .grid .r2 img {
  display: block;
  height: 1.42rem;
  margin-bottom: 0.15rem;
}
.rongfen .grid .r2 img:nth-last-of-type(1) {
  margin-bottom: 0px;
}
.fuli {
  margin-top: 0.38rem;
  border-radius: 5px;
  overflow: hidden;
}
.fuli .ads {
  display: flex;
  justify-content: space-between;
  margin-bottom: 0.12rem;
}
.fuli .ads img {
  display: block;
  width: 2.16rem;
}
.fuli .grid {
  display: flex;
  justify-content: space-between;
}
.fuli .grid .r1 {
  margin-right: 0.15rem;
  width: 100%;
}
.fuli .grid .r1 img {
  display: block;
  width: 100%;
  height: 2.12rem;
}
.fuli .grid .r2 {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
}
.fuli .grid .r2 img {
  display: block;
  height: 1rem;
  margin-bottom: 0.15rem;
}
.fuli .grid .r2 img:nth-last-of-type(1) {
  margin-bottom: 0px;
}
.jiashu .ainfo {
  display: flex;
  justify-content: space-between;
}
.jiashu .ainfo a {
  display: inline-block;
  margin-bottom: 3px;
}
.jiashu .ainfo a:nth-last-of-type(1) {
  margin-bottom: 0px;
}
.jiashu .ainfo > div {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.jiashu .ainfo img {
  width: 3.28rem;
  display: block;
}
.live .hdimg {
  width: 100%;
}
.live .atitle {
  font-size: 15px;
  line-height: 1.667;
}
.live .ainfo {
  font-size: 12px;
  color: #8f8f8f;
  line-height: 1.667;
}
.huati .list .item {
  display: inline-block;
  margin-bottom: 0.3rem;
}
.huati .list .item .avt {
  display: block;
  width: 100%;
}
.huati .list .item .desc {
  font-size: 12px;
  color: #2a2a2a;
  line-height: 1.667;
  padding: 0.1rem 0px;
}
.huati .list .item .info {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.huati .list .item .info .left,
.huati .list .item .info .right {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 11px;
  color: #8f8f8f;
  line-height: 2;
}
.huati .list .item .info .left > img,
.huati .list .item .info .right > img {
  border-radius: 100%;
  margin-right: 0.06rem;
}
.huati .list .item .info .left > img.avater,
.huati .list .item .info .right > img.avater {
  width: 0.35rem;
  height: 0.35rem;
}
.huati .list .item .info .left > img.zan,
.huati .list .item .info .right > img.zan {
  height: 0.24rem;
}
/*# sourceMappingURL=./main.css.map */