@import url(../lib/reset.css);
/*common*/
.border-gradient:after {
  content: " ";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 1px;
  background-image: linear-gradient(0deg, #f00 50%, transparent 50%); }

.border_all:before {
  content: '';
  position: absolute;
  width: 200%;
  height: 200%;
  border: 1px solid red;
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  -webkit-transform: scale(0.5, 0.5);
  -ms-transform: scale(0.5, 0.5);
  -o-transform: scale(0.5, 0.5);
  transform: scale(0.5, 0.5);
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box; }

html, body {
  min-height: 100%;
  margin: 0px;
  padding: 0px;
  background: white;
  font-size: 15px;
  background: #f4f4f4;
  padding-bottom: 0.93333rem; }

body {
  max-width: 600px;
  margin: 0px auto; }

.header {
  position: relative;
  z-index: 401; }
  .header .main-nav {
    background-color: white;
    height: 1.17333rem;
    line-height: 1.14667rem;
    font-size: 16px;
    color: #7d7c7d;
    text-align: center;
    position: relative;
    border-bottom: 1px solid rgba(216, 216, 216, 0.3); }
    .header .main-nav .back {
      position: absolute;
      left: 0;
      top: 50%;
      margin-top: -0.58667rem;
      height: 100%;
      text-align: left;
      padding: 0px 0.32rem; }
    .header .main-nav img {
      height: 0.4rem; }
  .header .search-box {
    position: relative;
    width: 100%;
    top: 0rem;
    left: 0;
    height: 1.2rem;
    padding: 0px 0.46667rem;
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    z-index: 500;
    transition: 1s all; }
    .header .search-box.scrolled {
      position: fixed;
      background: rgba(125, 124, 125, 0.6); }
    .header .search-box .ipt-search {
      width: 100%;
      height: 0.8rem;
      border-radius: 5px;
      border-top-right-radius: 0px;
      border-bottom-right-radius: 0px;
      display: inline-block;
      border: none;
      background: rgba(255, 255, 255, 0.8);
      background-image: url("../../img/common/icon-search.png");
      background-repeat: no-repeat;
      background-position: 10px 8px;
      background-size: 0.44rem 0.45333rem;
      padding-left: 0.93333rem;
      font-size: 14px; }
    .header .search-box .btn-search {
      font-size: 14px;
      color: white;
      background: #de172a;
      height: 0.8rem;
      line-height: 0.84rem;
      width: 1.84rem;
      text-align: center;
      border-top-right-radius: 5px;
      border-bottom-right-radius: 5px;
      border: none; }
  .header .car_status {
    /* width: px2rem(120);*/
    position: absolute;
    right: 0.29333rem;
    font-style: normal; }

.p_header .main-nav {
  background-color: #f4f4f4;
  height: 1.17333rem;
  line-height: 1.14667rem;
  font-size: 16px;
  color: #7d7c7d;
  text-align: center;
  position: relative;
  display: flex;
  justify-content: space-around;
  padding: 0px 0.21333rem; }
  .p_header .main-nav a {
    color: #7d7c7d; }
    .p_header .main-nav a.on {
      border-bottom: 2px solid #de172a; }
  .p_header .main-nav .back {
    position: absolute;
    left: 0.29333rem;
    top: 50%;
    margin-top: -0.58667rem;
    height: 100%;
    width: 0.53333rem; }
  .p_header .main-nav img {
    height: 0.4rem; }

.gray {
  -webkit-filter: grayscale(100%);
  -moz-filter: grayscale(100%);
  -ms-filter: grayscale(100%);
  -o-filter: grayscale(100%);
  filter: grayscale(100%);
  filter: gray; }

.hide {
  display: none; }

.banner-box {
  position: relative; }
  .banner-box .banner-swiper {
    overflow: hidden;
    height: 5.73333rem; }
    .banner-box .banner-swiper img {
      width: 100%;
      height: 100%; }

/*countdown*/
.time-cd {
  position: relative;
  display: flex;
  justify-content: center;
  font-size: 12px;
  padding: 0.26667rem 0px; }
  .time-cd .tdesc {
    background: #de172a;
    color: white;
    padding: 0px 5px;
    height: 16px;
    line-height: 16px; }
  .time-cd .time_w {
    padding-left: 10px;
    height: 16px;
    line-height: 16px;
    overflow: hidden; }
    .time-cd .time_w span {
      display: inline-block;
      background: #333;
      color: white;
      margin-right: 1px;
      padding: 0px 2px;
      height: 16px;
      line-height: 16px; }
  .time-cd .l-more {
    position: absolute;
    color: #7d7c7d;
    display: flex;
    align-items: center;
    right: 0.33333rem;
    font-weight: normal; }
    .time-cd .l-more img {
      height: 0.2rem;
      margin-left: 0.08rem; }

.fix-footer {
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  height: 1.33333rem;
  background-color: white;
  box-shadow: 0px -1px 5px 0px rgba(219, 216, 216, 0.75);
  z-index: 410;
  text-align: center;
  box-sizing: border-box; }
  .fix-footer a {
    text-align: center;
    padding-top: 0.02667rem; }
  .fix-footer .f-icon {
    width: 100%;
    height: 0.50667rem;
    margin-top: 0.05333rem; }
    .fix-footer .f-icon.f-home {
      background: url("../../img/common/i-home.png") center 0px no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .fix-footer .f-icon.f-types {
      background: url("../../img/common/i-types.png") center 0px no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .fix-footer .f-icon.f-find {
      background: url("../../img/common/i-find.png") center 0px no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .fix-footer .f-icon.f-car {
      background: url("../../img/common/i-car.png") center 0px no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
    .fix-footer .f-icon.f-my {
      background: url("../../img/common/i-my.png") center 0px no-repeat;
      -webkit-background-size: contain;
      background-size: contain; }
  .fix-footer > a.on .f-icon.f-home {
    background: url("../../img/common/i-home-on.png") center 0px no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .fix-footer > a.on .f-icon.f-types {
    background: url("../../img/common/i-types-on.png") center 0px no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .fix-footer > a.on .f-icon.f-find {
    background: url("../../img/common/i-find-on.png") center 0px no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .fix-footer > a.on .f-icon.f-car {
    background: url("../../img/common/i-car-on.png") center 0px no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .fix-footer > a.on .f-icon.f-my {
    background: url("../../img/common/i-my-on.png") center 0px no-repeat;
    -webkit-background-size: contain;
    background-size: contain; }
  .fix-footer > a.on span {
    color: #de172a; }
  .fix-footer span {
    font-size: 0.24rem;
    color: #7d7c7d; }

.tab .tab-menu {
  position: relative;
  border-bottom: 1px solid rgba(216, 216, 216, 0.3);
  box-sizing: border-box;
  background: white;
  display: flex;
  justify-content: space-between; }
  .tab .tab-menu > li, .tab .tab-menu > a {
    float: left;
    width: 50%;
    height: 1.04rem;
    line-height: 1.04rem;
    text-align: center;
    font-size: 0.37333rem;
    color: #7d7c7d; }
    .tab .tab-menu > li:nth-last-of-type(1), .tab .tab-menu > a:nth-last-of-type(1) {
      border-right: none; }
    .tab .tab-menu > li.on, .tab .tab-menu > a.on {
      color: #de172a;
      border-bottom: 1px solid #de172a; }
.tab .tab-cont {
  display: none; }
  .tab .tab-cont:nth-of-type(1) {
    display: block; }

/*popBox*/
.pop-box {
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
  z-index: 10000;
  display: none; }
  .pop-box .pop-mask {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.4);
    z-index: 10001; }
  .pop-box .pop-wraper {
    position: absolute;
    width: 7.2rem;
    height: 4.29333rem;
    box-sizing: border-box;
    left: 50%;
    margin-left: -3.6rem;
    top: 50%;
    margin-top: -2.13333rem;
    z-index: 10002;
    border-radius: 0.26667rem;
    background: white; }
    .pop-box .pop-wraper .pop-content {
      position: relative;
      text-align: center; }
      .pop-box .pop-wraper .pop-content .pop-cont {
        height: 3.26667rem;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 13px;
        color: #7d7c7d;
        padding: 0px 1.33333rem;
        line-height: 1.8; }
      .pop-box .pop-wraper .pop-content .ops {
        border-top: 1px solid rgba(216, 216, 216, 0.3);
        display: flex;
        justify-content: space-between;
        align-items: center;
        text-align: center; }
        .pop-box .pop-wraper .pop-content .ops a {
          display: inline-block;
          width: 100%;
          height: 1.01333rem;
          line-height: 1.01333rem;
          font-size: 15px;
          color: #de172a; }
          .pop-box .pop-wraper .pop-content .ops a.btn-cancel {
            color: #7d7c7d;
            border-right: 1px solid rgba(216, 216, 216, 0.3); }
    .pop-box .pop-wraper .close {
      text-align: center;
      padding-top: 0.66667rem; }
      .pop-box .pop-wraper .close img {
        width: 0.82667rem; }

html, body {
  padding-bottom: 1.2rem; }

.f-orange {
  color: #de172a; }

.btn {
  display: inline-block;
  width: 1.96rem;
  height: 0.66667rem;
  line-height: 0.66667rem;
  text-align: center;
  color: white;
  background: #de172a;
  font-size: 0.32rem;
  border-radius: 0.13333rem;
  margin: 0px 0.08rem;
  box-sizing: border-box; }
  .btn.btn-look {
    border: 1px solid #de172a;
    background: white;
    color: #de172a; }
  .btn.counting {
    opacity: .6; }

.add-box {
  padding: 0.26667rem 0.4rem;
  margin: 0.13333rem 0px;
  color: #7d7c7d;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: white; }
  .add-box .summary .addr {
    display: flex;
    align-items: center; }
  .add-box .summary .name, .add-box .summary .phone {
    font-size: 15px;
    margin-right: 0.64rem; }
  .add-box .summary .def_addr {
    display: inline-block;
    background-color: #de172a;
    width: 0.96rem;
    color: white;
    font-size: 10px;
    text-align: center; }
  .add-box .detail {
    font-size: 12px;
    padding-top: 0.13333rem;
    line-height: 1.5; }
  .add-box .i-go {
    width: 0.18667rem;
    margin-left: 1.01333rem; }

.info-box {
  padding: 0.26667rem 0.4rem;
  padding-bottom: 0.26667rem;
  margin: 0.13333rem 0px;
  background: white; }
  .info-box .desc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: justify;
    justify-content: space-between;
    color: #7d7c7d; }
    .info-box .desc > img {
      width: 2.32rem;
      height: 2.32rem;
      border-radius: 0.13333rem; }
    .info-box .desc .info {
      -ms-flex: 1;
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
      padding-left: 0.21333rem;
      position: relative; }
      .info-box .desc .info h3 {
        font-size: 0.37333rem; }
      .info-box .desc .info .f-orange {
        bottom: 5px;
        font-size: 0.37333rem; }
      .info-box .desc .info .price {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 0.37333rem;
        position: relative; }
        .info-box .desc .info .price > div {
          bottom: 5px;
          right: 0rem; }

.pay-box {
  margin: 0.13333rem 0px;
  background: white;
  padding: 0px 0.4rem;
  margin-bottom: 2.66667rem; }
  .pay-box .prow {
    border-bottom: 1px solid rgba(216, 216, 216, 0.3);
    padding: 0.37333rem 0px;
    font-size: 0.37333rem;
    color: #2a2a2a;
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    color: #7d7c7d;
    font-size: 12px; }
    .pay-box .prow input {
      border: 1px solid transparent; }
    .pay-box .prow .label {
      display: inline-block;
      width: 1.65333rem;
      font-size: 13px;
      color: #706F70; }
    .pay-box .prow .pcont {
      flex: 1; }
      .pay-box .prow .pcont.dateway {
        padding-left: 0.13333rem; }
        .pay-box .prow .pcont.dateway p {
          height: 0.53333rem;
          display: flex;
          align-items: center; }
          .pay-box .prow .pcont.dateway p:before {
            content: ' ';
            display: inline-block;
            width: 0.34667rem;
            height: 100%;
            background: url("../../img/common/i-circle.png") 0px center no-repeat;
            -webkit-background-size: 0.29333rem 0.29333rem;
            background-size: 0.29333rem 0.29333rem;
            margin-right: 0.13333rem; }
          .pay-box .prow .pcont.dateway p.on:before {
            background: url("../../img/common/i-circle-on.png") 0px center no-repeat;
            -webkit-background-size: 0.29333rem 0.29333rem;
            background-size: 0.29333rem 0.29333rem; }
      .pay-box .prow .pcont textarea {
        width: 100%;
        height: 1.6rem;
        padding: 0.18667rem;
        border: 1px solid rgba(216, 216, 216, 0.3);
        box-sizing: border-box; }
    .pay-box .prow.pay-way {
      height: 1.4rem;
      line-height: 1.36rem;
      border-bottom: 1px solid rgba(216, 216, 216, 0.3);
      justify-content: flex-start; }
      .pay-box .prow.pay-way > a {
        margin-left: 0.26667rem; }
        .pay-box .prow.pay-way > a img {
          border: 1px solid #c7c7c7;
          width: 2.66667rem;
          border-radius: 0.13333rem; }
        .pay-box .prow.pay-way > a.on img {
          border: 1px solid #de172a; }

.buy-box {
  position: fixed;
  left: 0px;
  bottom: 1.33333rem;
  width: 100%;
  background: white;
  color: #7d7c7d; }
  .buy-box .jf-use {
    border-bottom: 1px solid rgba(216, 216, 216, 0.3);
    font-size: 0.37333rem;
    line-height: 1.01333rem;
    padding-left: 0.4rem; }
    .buy-box .jf-use > span {
      color: #de172a; }
  .buy-box .jf-sum {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
    justify-content: space-around;
    height: 1.2rem; }
  .buy-box .buy-price {
    -ms-flex: 1;
    flex: 1;
    padding-left: 0.4rem;
    font-size: 0.4rem;
    line-height: 1.22667rem;
    color: #de172a;
    font-size: 0.42667rem; }
  .buy-box .link-buy {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-align: center;
    align-items: center;
    height: 100%;
    width: 3.2rem;
    background: #de172a;
    color: white;
    font-size: 0.42667rem; }

/*dh-scu*/
.dh-suc {
  padding-top: 2.32rem;
  text-align: center;
  font-size: 14px;
  color: #7d7c7d; }
  .dh-suc > img {
    width: 1.33333rem; }
  .dh-suc .desc {
    padding-top: 0.64rem;
    padding-bottom: 1.49333rem; }
  .dh-suc .ops {
    text-align: center; }
    .dh-suc .ops > a {
      display: inline-block;
      padding: 2px 15px;
      font-size: 12px;
      color: #de172a;
      border: 1px solid #de172a;
      border-radius: 10px;
      margin: 0px 0.48rem; }
      .dh-suc .ops > a.on {
        background: #de172a;
        color: white; }

.tab .tab-menu {
  justify-content: space-around; }
  .tab .tab-menu li {
    width: 12%; }

/*my orders*/
.my-orders {
  color: #7d7c7d;
  font-size: 12px; }
  .my-orders .my-order {
    display: block;
    margin-top: 0.16rem;
    background: white;
    padding: 0.26667rem;
    padding-top: 0px;
    color: #7d7c7d; }
    .my-orders .my-order.order_detail .title, .my-orders .my-order.order_detail .desc, .my-orders .my-order.order_detail .detail, .my-orders .my-order.order_detail .summary, .my-orders .my-order.order_detail .logistics {
      padding-left: 0.26667rem;
      padding-right: 0.26667rem; }
    .my-orders .my-order .title {
      height: 0.93333rem;
      line-height: 0.93333rem;
      display: flex;
      justify-content: space-between; }
      .my-orders .my-order .title .status {
        color: #de172a; }
    .my-orders .my-order .desc {
      display: -ms-flexbox;
      display: flex;
      -ms-flex-pack: justify;
      justify-content: space-between;
      color: #7d7c7d;
      border-top: 1px solid rgba(216, 216, 216, 0.3);
      border-bottom: 1px solid rgba(216, 216, 216, 0.3);
      padding: 0.26667rem 0px; }
      .my-orders .my-order .desc > img {
        width: 2.13333rem;
        height: 2.13333rem;
        border-radius: 0.13333rem; }
      .my-orders .my-order .desc .info {
        -ms-flex: 1;
        flex: 1;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding-left: 0.21333rem;
        position: relative; }
        .my-orders .my-order .desc .info h3 {
          font-size: 0.37333rem;
          width: 100%;
          overflow: hidden;
          text-overflow: ellipsis;
          white-space: nowrap; }
          .my-orders .my-order .desc .info h3 p {
            font-size: 12px;
            color: rgba(125, 124, 125, 0.6);
            padding-top: 0.05333rem; }
        .my-orders .my-order .desc .info .num {
          margin-left: 1px; }
        .my-orders .my-order .desc .info .price {
          display: flex;
          justify-content: space-between;
          align-items: center;
          font-size: 0.37333rem;
          position: relative; }
          .my-orders .my-order .desc .info .price > div {
            bottom: 5px;
            right: 0rem; }
    .my-orders .my-order .detail {
      color: #7d7c7d;
      padding: 0.26667rem 0px;
      line-height: 1.5;
      border-bottom: 1px solid rgba(216, 216, 216, 0.3); }
      .my-orders .my-order .detail .addr {
        color: rgba(125, 124, 125, 0.6);
        padding-bottom: 0.26667rem; }
    .my-orders .my-order .logistics {
      color: #7d7c7d;
      line-height: 1.5;
      padding: 0.26667rem 0px;
      border-bottom: 1px solid rgba(216, 216, 216, 0.3); }
    .my-orders .my-order .summary {
      padding-top: 0.33333rem;
      padding-bottom: 0.06667rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 40px;
      box-sizing: border-box; }
      .my-orders .my-order .summary span:nth-of-type(2) {
        flex: 1;
        margin-left: 0.4rem; }
      .my-orders .my-order .summary span i {
        font-style: normal;
        color: #de172a;
        padding-right: 0.05333rem; }
      .my-orders .my-order .summary > button {
        display: inline-block;
        padding: 2px 10px;
        font-size: 12px;
        color: #de172a;
        border: 1px solid #de172a;
        border-radius: 10px;
        margin-left: 0.13333rem; }
        .my-orders .my-order .summary > button.btn-del {
          border: none;
          color: #7d7c7d; }
          .my-orders .my-order .summary > button.btn-del img {
            height: 0.37333rem;
            margin-right: 0.13333rem; }

/*get_qcode*/
.get_qcode {
  text-align: center; }
  .get_qcode .title {
    padding: 1.46667rem 0px 0.4rem; }
  .get_qcode .mobile {
    padding-bottom: 1.06667rem; }
  .get_qcode .btn-look {
    background: transparent; }
  .get_qcode .pay-box {
    padding: 0px 0.45333rem; }
    .get_qcode .pay-box span {
      color: #7d7c7d; }
  .get_qcode .btn-get-qcode {
    margin-top: 1.13333rem; }
    .get_qcode .btn-get-qcode a {
      border-radius: 0.8rem;
      font-size: 16px;
      background: #de172a;
      width: 4.37333rem;
      height: 0.81333rem;
      line-height: 0.88rem; }

/*card-pwd*/
.card-pwd {
  color: #7d7c7d;
  font-size: 12px; }
  .card-pwd .item {
    margin-top: 0.21333rem;
    background: white;
    padding: 0.26667rem;
    padding-top: 0px; }
    .card-pwd .item .title {
      padding: 0.32rem 10px;
      font-size: 13px; }
    .card-pwd .item .desc {
      color: #7d7c7d;
      border-top: 1px solid rgba(216, 216, 216, 0.3);
      border-bottom: 1px solid rgba(216, 216, 216, 0.3);
      padding: 0.4rem 10px;
      line-height: 1.6; }
    .card-pwd .item .summary {
      padding: 0.33333rem 10px 0.06667rem;
      display: flex;
      justify-content: space-between;
      align-items: center; }
      .card-pwd .item .summary > a {
        display: inline-block;
        padding: 2px 12px;
        font-size: 12px;
        color: white;
        border: 1px solid #de172a;
        border-radius: 20px;
        margin: 0px 0.08rem;
        background: #de172a; }

/*# sourceMappingURL=order.css.map */
