html,
body {
	background: #f5f5f5;
	margin-bottom: 50px;
}

.banner-swiper {
	width: 100%;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;

	.swiper-slide {
		img {
			//border-radius: .1rem;
			width: 100%;
		}
	}

	.swiper-pagination-bullets {
		bottom: 10px;
	}

	.swiper-pagination-bullet {
		width: 4px;
		height: 4px;
		display: inline-block;
		border-radius: 100%;
		background: white;
		opacity: 0.5;

		&.swiper-pagination-bullet-active {
			opacity: 1;
		}
	}
}

.flex {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.summary {
	background-color: white;
	background-image: url(../../img/home/top_bg.png);
	background-position: center 0.45rem;
	background-size: 1.7rem auto;
	background-repeat: no-repeat;

	.top {
		padding: 5px 16px;
		padding-top: 14px;
		.flex;

		.item {
			.flex;

			font-size: 15px;
			font-weight: bold;
			color: #333333;

			img {
				width: 0.44rem;
				margin-right: 5px;
			}

			&.kefu_item {
				font-weight: normal;
			}
		}
	}

	.list {
		padding: 8px 0px;
		padding-bottom: 0.5rem;
		.flex;

		.item {
			width: 25%;
			text-align: center;

			font-size: 0.26rem;
			color: #333333;
			line-height: 17px;

			img {
				width: 44px;
				height: 44px;
				display: inline-block;
			}

			span {
				display: block;
				padding-top: 5px;
			}
		}
	}
}

.tools {
	padding: 12px 0px;

	.list {
		.flex;
		justify-content: space-between;
		margin-bottom: 0.2rem;
		padding: 0px 26px;
		.item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			font-size: 0.26rem;
			img {
				width: 44px;
			}
		}
	}
}

.hot_qy {
	margin: 10px 16px;
	padding: 16px 10px;
	background-color: white;
	padding-bottom: 6px;
	border-radius: 5px;

	.mtitle {
		.flex;

		> span {
			font-size: 17px;
			font-weight: bold;
			color: #333333;
			line-height: 22px;
		}

		> a {
			.flex;

			font-size: 15px;
			color: #999999;

			img {
				width: 20px;
				margin-top: -2px;
			}
		}
	}

	.list {
		.flex;
		padding: 10px 0px;

		.item {
			img {
				width: 2.04rem;
				height: 2.04rem;
			}
		}
	}
}

.apps {
	padding-bottom: 20px;
	.list {
		.flex;
		margin-bottom: 10px;

		.item {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			width: 25%;
			font-size: 0.26rem;
			img {
				width: 44px;
				margin-bottom: 2px;
			}
		}
	}
}

.projects {
	padding: 10px 16px;
	display: flex;

	> div {
		width: 50%;

		&.left {
			margin-right: 5px;
		}

		&.right {
			margin-left: 5px;
		}
	}

	.item {
		display: inline-block;
		width: 100%;
		margin-bottom: 10px;
		background: #ffffff;
		box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.03);
		border-radius: 5px;

		> .avt {
			width: 100%;
			height: 167px;
			border-radius: 5px 5px 0px 0px;
		}

		> .rch {
			width: 100%;
			background: #ffffff;
			border-radius: 5px;
		}

		.ibox {
			padding: 10px;

			.desc {
				font-size: 15px;
			}

			.labels {
				padding: 8px 0px;

				span {
					background: #fff7e8;
					border-radius: 2px;
					color: #f86332;
					line-height: 17px;
					padding: 2px 8px;
					margin-right: 6px;
				}
			}

			.txt {
				color: #999999;
				height: 20px;
				padding-bottom: 5px;
			}

			.prices {
				font-size: 15px;
				color: #d10606;
				line-height: 20px;
			}
		}
	}
}

.dongtai {
	margin: 10px 16px;
	padding: 16px 14px;
	background-color: white;
	border-radius: 5px;
	&.dt_lsit {
		background: transparent;
		margin: 0px;
		padding-top: 0px;
		.list{
			padding-top: 10px;
		}
	}
	.mtitle {
		.flex;

		> span {
			font-size: 17px;
			font-weight: bold;
			color: #333333;
			line-height: 22px;
		}

		> a {
			.flex;

			font-size: 15px;
			color: #999999;

			img {
				width: 20px;
				margin-top: -2px;
			}
		}
	}

	.list {
		padding: 20px 0px;

		.item {
			display: flex;
			margin-bottom: 40px;

			&:nth-last-of-type(1) {
				margin-bottom: 0px;
			}

			.left {
				position: relative;

				> img {
					width: 90px;
					height: 90px;
				}

				.mark {
					position: absolute;
					right: 0px;
					bottom: 0px;
					font-size: 12px;
					color: #ffffff;
					font-weight: normal;
					background: rgba(0, 0, 0, 0.6);
					border-radius: 5px 0px 5px 0px;
					opacity: 0.8;
					display: flex;
					align-items: center;
					padding: 1px 4px;

					img {
						width: 15px;
					}
				}
			}

			.right {
				display: flex;
				flex-direction: column;
				justify-content: space-between;
				padding-left: 11px;
				margin: 10px 0px;

				h2 {
					font-size: 15px;
				}

				p {
					font-size: 13px;
					color: rgba(147, 147, 147, 1);
				}
			}
		}
	}
}

.fbottom {
	.flex;

	position: fixed;
	bottom: 0px;
	left: 0px;
	width: 100%;
	height: 50px;
	background: #ffffff;
	box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.05);

	> a {
		display: flex;
		flex-direction: column;
		align-items: center;
		justify-content: center;
		width: 50%;
		font-size: 11px;
		color: #333333;

		img {
			width: 25px;
		}
	}
}
