@chartset 'utf-8';
@import "../lib/flexible";
@import "../lib/common";
@import "../lib/artDialog.css";
$cBlack: #2a2a2a;
body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
  background: #f4f4f4;
  height: 100vh;
}

.bg_box {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  img {
    width: 100%;
  }
}

.wrap-box {
  font-size: 13px;
  .tab {
    background: white;
    padding: px2rem(64) px2rem(70) px2rem(30);
    .tab-menu {
      position: relative;
      box-sizing: border-box;
      display: flex;
      align-items: center;
      > li {
        width: 50%;
        height: px2rem(70);
        line-height: px2rem(70);
        color: $cBlack;
        padding-left: px2rem(56);
        background: url("../../img/icon_check.png") 0px center no-repeat;
        -webkit-background-size: px2rem(34) px2rem(34);
        background-size: px2rem(34) px2rem(34);
        &.on {
          background: url("../../img/icon_checked.png") 0px center no-repeat;
          -webkit-background-size: px2rem(34) px2rem(34);
          background-size: px2rem(34) px2rem(34);
        }
      }
    }
    .tab-cont {
      display: none;
      &:nth-of-type(1) {
        display: block;
      }
    }
  }

  .mform {
    padding-top: px2rem(80);
    .pline {
      border-bottom: 1px solid $lineGray;
      padding-bottom: px2rem(24);
      margin-bottom: px2rem(40);
      display: flex;
      justify-content: flex-start;
      align-items: center;
      input {
        border: none;
        width: px2rem(460);
        font-size: 13px;
        line-height: 1.4;
        padding-left: .3em;
      }
    }
  }

}

.btn-box {
  padding: px2rem(70);
}

.fcontacts_list {
  padding: px2rem(14) px2rem(70) px2rem(30);
  background: white;
  color: rgba(42, 42, 42, 0.502);
  font-size: 13px;
  .flist {
    padding-bottom: px2rem(40);
    .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid $lineGray;
      padding-bottom: px2rem(20);
      padding-top: px2rem(40);
      .info {
        width: 50%;
      }
      .ops {
        flex: 1;
        display: flex;
        justify-content: flex-end;
        align-items: center;

        a {
          color: rgba(42, 42, 42, 0.502);
          font-size: 13px;
          display: flex;
          align-items: center;
          justify-content: flex-end;
          width: px2rem(130);
          text-align: right;
          img {
            height: px2rem(28);
            margin-right: px2rem(7);
          }
          span {
            display: inline-block;
          }
        }
      }
    }
    p {
      line-height: 1.8;
    }
  }
}