@charset "UTF-8";
@import url(../lib/reset.css);
@import url(../lib/artDialog.css);
@chartset 'utf-8';
/*
    @author xiao
    @des: APP端基础方法
    @使用心得:
        -适配方案参考淘宝开源库lib.flexible
        -布局rem动态适配
        -字体dpr动态适配
        -和文字相关的布局用px写死比较好。。。因为用rem会和没有用rem布局的字体有错位
        -目前市面上有三种代表的适配方案：
            1. 直接750设计稿除以2适配所有机型，布局采用百分比：代表网站 拉勾网
            2. 动态改变html font-size基准，所有元素以rem适配：代表网站 小米网
            3. 动态改变html font-size基准，所有除字体相关元素以外的rem适配，字体只按分辨率适配：代表网站 淘宝网
 */
/**
 * 基本思想描述：
 * 多屏适配布局问题
 * 移动端布局，为了适配各种大屏手机，目前最好用的方案莫过于使用相对单位rem。
 * 基于rem的原理，我们要做的就是: 针对不同手机屏幕尺寸和dpr动态的改变根节点html的font-size大小(基准值)。
 * 这里我们提取了一个公式(rem表示基准值)
 * rem = document.documentElement.clientWidth * dpr / 10
 * 说明：
 * 1）乘以dpr，是因为页面有可能为了实现1px border页面会缩放(scale) 1/dpr 倍(如果没有，dpr=1)。
 * 2）除以10，是为了取整，方便计算(理论上可以是任何值)
 * 所以就像下面这样，html的font-size可能会：
 * iPhone3gs: 320px / 10 = 32px
 * iPhone4/5: 320px * 2 / 10 = 64px
 * iPhone6: 375px * 2 / 10 = 75px
 * iPhone6plus: 414 * 3 / 10 = 124.2px
 */
/*
    px转换成rem
 */
/*
    默认已iPhone6的750为基准开发
    font-size 不推荐转换成rem
    原因：我们不希望文本在Retina屏幕下变小，
    另外，我们希望在大屏手机上看到更多文本，
    以及，现在绝大多数的字体文件都自带一些点阵尺寸，通常是16px和24px，所以我们不希望出现13px和15px这样的奇葩尺寸。
    注意设计稿是2x屏幕, 所以1x屏幕需要除以2
 */
/**
 *  为了和字体适配一样的非字体元素准备的转化方法
 */
@chartset 'utf-8';
html, body {
  padding: 0px;
  margin: 0px;
  background: #fff;
  font-size: 0.32rem; }

.wrapper {
  position: relative;
  max-width: 10rem;
  min-height: 100%;
  margin: 0px auto; }

.flex {
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex; }

.flex-v {
  -webkit-box-orient: vertical;
  -webkit-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column; }

.flex-1 {
  -webkit-box-flex: 1;
  -webkit-flex: 1;
  -ms-flex: 1;
  flex: 1; }

.flex-align-center {
  -webkit-box-align: center;
  -webkit-align-items: center;
  -ms-flex-align: center;
  align-items: center; }

.flex-pack-center {
  -webkit-box-pack: center;
  -webkit-justify-content: center;
  -ms-flex-pack: center;
  justify-content: center; }

.flex-pack-justify {
  -webkit-box-pack: justify;
  -webkit-justify-content: space-between;
  -ms-flex-pack: justify;
  justify-content: space-between; }

.ui-dialog-body .icon_close {
  width: 0.58667rem;
  position: absolute;
  right: 6px;
  top: 6px; }
.ui-dialog-body .scode-avt {
  width: 5.33333rem; }
.ui-dialog-body .pop-cont {
  position: relative;
  padding: 0rem 1.06667rem;
  min-height: 3.73333rem;
  min-width: 5.33333rem;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px; }

.ui-dialog-footer .ui-dialog-button {
  justify-content: center; }
.ui-dialog-footer button {
  display: inline-block;
  background-color: #00c5ff;
  height: 0.93333rem;
  line-height: 0.93333rem;
  text-align: center;
  border-radius: 33px;
  border: none;
  color: white;
  font-size: 15px;
  box-sizing: border-box;
  padding: 0px; }
  .ui-dialog-footer button.ui-dialog-autofocus {
    background-color: #00c5ff !important; }

.btn_defualt {
  display: block;
  width: 100%;
  height: 0.93333rem;
  line-height: 0.93333rem;
  border-radius: 33px;
  background-color: #00c5ff;
  border: none;
  font-size: 15px;
  color: white;
  text-align: center; }
  .btn_defualt.nobg {
    background: transparent;
    border: 1px solid #00c5ff;
    color: #00c5ff; }
  .btn_defualt.light {
    background-color: rgba(40, 194, 252, 0.2);
    color: #00c5ff; }

body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
  background: #f4f4f4;
  min-height: 100vh;
  font-size: 13px; }

.quanyi {
  display: flex;
  justify-content: space-between;
  align-items: flex-start; }
  .quanyi .q_left {
    width: 80px;
    text-align: center;
    color: rgba(42, 42, 42, 0.502);
    position: fixed;
    left: 0px;
    top: 0px; }
    .quanyi .q_left li {
      height: 1.17333rem;
      line-height: 1.17333rem;
      border-bottom: 1px solid rgba(216, 216, 216, 0.25); }
      .quanyi .q_left li.on {
        color: #2a2a2a;
        position: relative;
        background: white; }
        .quanyi .q_left li.on:before {
          content: ' ';
          position: absolute;
          left: 0px;
          top: 0px;
          width: 3px;
          height: 100%;
          background-color: #00c5ff; }
  .quanyi .q_right {
    width: calc(100% - 80px);
    margin-left: 80px; }
    .quanyi .q_right .map {
      height: 11.33333rem;
      width: 100%; }
      .quanyi .q_right .map img {
        width: 100%;
        height: 100%; }
    .quanyi .q_right .menu_1 {
      height: 0.88rem;
      line-height: 0.88rem;
      background: white;
      color: rgba(42, 42, 42, 0.502); }
      .quanyi .q_right .menu_1 .swiper-slide {
        width: auto;
        box-sizing: border-box;
        height: 100%;
        border-right: 1px solid rgba(216, 216, 216, 0.25); }
        .quanyi .q_right .menu_1 .swiper-slide > span {
          display: inline-block;
          transition: all .3s ease;
          display: block;
          width: 1.46667rem;
          text-align: center; }
        .quanyi .q_right .menu_1 .swiper-slide.active {
          position: relative;
          color: white;
          background: #00c5ff; }
    .quanyi .q_right .cont {
      padding: 0.46667rem;
      padding-right: 0.26667rem;
      background: white; }
      .quanyi .q_right .cont .title {
        position: relative;
        padding-left: 5px;
        border-left: 3px solid #00c5ff;
        line-height: 1.1;
        margin-top: 6px;
        margin-bottom: 6px; }
      .quanyi .q_right .cont .clist .item {
        display: flex;
        justify-content: space-between;
        align-items: flex-start;
        padding: 0.29333rem 0px; }
        .quanyi .q_right .cont .clist .item .iconb {
          width: 1.98667rem;
          height: 1.98667rem; }
        .quanyi .q_right .cont .clist .item .info {
          display: flex;
          justify-content: space-between;
          flex-direction: column;
          font-size: 10px;
          line-height: 1.5;
          padding-left: 0.26667rem;
          flex: 1; }
          .quanyi .q_right .cont .clist .item .info .ctitle {
            font-size: 17px; }
        .quanyi .q_right .cont .clist .item .date {
          color: rgba(42, 42, 42, 0.502); }
      .quanyi .q_right .cont .cards > a {
        display: block;
        padding-top: 0.26667rem;
        padding-right: 0.2rem; }
      .quanyi .q_right .cont .cards img {
        width: 100%; }
      .quanyi .q_right .cont .cards-box {
        border-top: 1px solid rgba(216, 216, 216, 0.25);
        padding-top: 0.4rem; }

.vip_dt {
  width: 100%; }

.liuyan {
  border-top: 1px solid rgba(216, 216, 216, 0.25);
  margin: 0.46667rem;
  padding-top: 0.46667rem;
  color: #2a2a2a;
  padding-bottom: 1.33333rem; }
  .liuyan .title {
    color: rgba(42, 42, 42, 0.502);
    padding-bottom: 0.77333rem; }
  .liuyan .list {
    font-size: 13px;
    line-height: 1.6; }
    .liuyan .list .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: 0.66667rem; }
      .liuyan .list .item .avt {
        width: 0.8rem;
        height: 0.8rem;
        border-radius: 2px; }
      .liuyan .list .item .info {
        padding-left: 0.34667rem;
        flex: 1; }
        .liuyan .list .item .info .name {
          color: rgba(42, 42, 42, 0.502); }
        .liuyan .list .item .info .auser {
          border-left: 2px solid #00c5ff;
          padding-left: 0.2rem;
          line-height: 1.1;
          color: rgba(42, 42, 42, 0.502);
          margin: 0.13333rem 0px; }
        .liuyan .list .item .info .btn_del {
          color: #385082;
          font-size: 14px; }

.vip_bg_box {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 1.33333rem;
  line-height: 1.33333rem;
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center; }
  .vip_bg_box a {
    font-size: 18px;
    color: #0a8fdc;
    flex: 1;
    background: #00c5ff;
    color: white; }
    .vip_bg_box a:nth-of-type(1) {
      background: #c3ebf6;
      color: #00c5ff; }

.liuyan-box {
  position: relative; }
  .liuyan-box textarea {
    font-size: 13px;
    background-color: white;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 5px;
    height: 4rem;
    width: 100%;
    box-sizing: border-box;
    padding: 0.18667rem 0.24rem;
    color: #2a2a2a;
    width: 7.86667rem; }
    .liuyan-box textarea::-webkit-input-placeholder {
      color: rgba(42, 42, 42, 0.302); }
  .liuyan-box .limit {
    position: absolute;
    right: 0.2rem;
    bottom: 0.18667rem;
    color: rgba(42, 42, 42, 0.5);
    font-size: 13px; }

.ui-dialog-body .pop-cont {
  padding: 1.33333rem 0.46667rem; }

.ui-dialog-button {
  margin: 0.66667rem 0px; }
  .ui-dialog-button button {
    width: 100%;
    box-sizing: border-box;
    margin: 0px 6px; }

/*# sourceMappingURL=quanyi.css.map */
