@chartset 'utf-8';
@import "../lib/flexible";
@import "../lib/common";
@import "../lib/artDialog.css";
$cBlack: #2a2a2a;
$cGray: rgba(42, 42, 42, 0.502);

body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
  background: #f4f4f4;
  min-height: 100vh;
}

.vip_dt {
  width: 100%;
}

.liuyan {
  border-top: 1px solid $lineGray;
  margin: px2rem(35);
  padding-top: px2rem(35);
  color: $cBlack;
  padding-bottom: px2rem(100);

  .title {
    color: $cGray;
    padding-bottom: px2rem(58);
  }
  .list {
    font-size: 13px;
    line-height: 1.6;
    .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      padding-bottom: px2rem(50);
      .avt {
        width: px2rem(60);
        height: px2rem(60);
        border-radius: 2px;
      }
      .info {
        padding-left: px2rem(26);
        flex: 1;
        .name {
          color: $cGray;
        }
        .auser {
          border-left: 2px solid #00c5ff;
          padding-left: px2rem(15);
          line-height: 1.01;
          color: $cGray;
          margin: px2rem(10) 0px;
        }
        .btn_del {
          color: #385082;
          font-size: 14px;
        }
      }
    }
  }
}

.vip_bg_box {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: px2rem(100);
  line-height: px2rem(100);
  text-align: center;
  display: flex;
  justify-content: space-around;
  align-items: center;

  a {
    font-size: 18px;
    color: #0a8fdc;
    flex: 1;
    background: #00c5ff;
    color: white;
    &:nth-of-type(1) {
      background: #c3ebf6;
      color: #00c5ff;
    }
  }
}

.liuyan-box {
  position: relative;
  textarea {
    font-size: 14px;
    background-color: rgb(255, 255, 255);
    border: 1px solid rgba(0, 0, 0, .05);
    border-radius: 5px;
    height: px2rem(300);
    width: 100%;
    box-sizing: border-box;
    padding: px2rem(14) px2rem(18);
    color: $cBlack;
    width: px2rem(590);
    &::-webkit-input-placeholder {
      color: rgba(42, 42, 42, 0.302);
    }
  }
  .limit {
    position: absolute;
    right: px2rem(15);
    bottom: px2rem(14);
    color: rgba(42, 42, 42, 0.5);
    font-size: 14px;
  }
}
.ui-dialog-body .pop-cont{
  padding: px2rem(100) px2rem(35);
}
.ui-dialog-button{
  margin: px2rem(50) 0px;
  button{
    width: 100%;
    box-sizing: border-box;
    margin: 0px 6px;
  }
}