@charset "utf-8";
@import "../lib/artDialog.css";
html {
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  font-size: 100px;
  min-height: 100%;
  width: 100%;
}
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  padding: 0;
  margin: 0;
  border: 0;
  vertical-align: baseline;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: normal;
}
body {
  min-width: 320px;
  font-size: 0.14rem;
  background: #f4f4f4;
  text-rendering: optimizeLegibility;
  font-family: "Helvetica Neue", Helvetica, STHeiTi, sans-serif;
  min-height: 100%;
}
table {
  margin: auto;
  text-align: left;
  border-collapse: collapse;
  border-spacing: 0;
}
ol,
ul {
  list-style: none;
  list-style-type: none;
}
a img,
img {
  vertical-align: middle;
  border: none;
}
/* a style */
a {
  text-decoration: none;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
a:visited {
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
  outline: none;
}
a:active {
  outline: none;
}
a:focus {
  outline: none;
}
/* form style */
input,
textarea,
select,
button {
  vertical-align: middle;
  outline: none;
  background: inherit;
  appearance: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  -ms-appearance: none;
  -o-appearance: none;
  padding: 0;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
label {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
/* clearfix style */
.clearfix:after {
  display: block;
  clear: both;
  height: 0;
  content: "\20";
  visibility: hidden;
  overflow: hidden;
}
.clearfix {
  display: block;
  *zoom: 1;
}
* html .clearfix {
  height: 1%;
}
::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #8F8F8F;
}
:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #8F8F8F;
}
::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #8F8F8F;
}
:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #8F8F8F;
}
/* float style */
.fl {
  float: left;
}
.fr {
  float: right;
}
html,
body {
  padding: 0px;
  margin: 0px;
  background: #f6f7f9;
  font-size: 0.28rem;
}
body {
  position: relative;
  margin: 0px auto;
  max-width: 7.5rem;
}
body .pop_tpl {
  display: none;
}
body .card-info-box {
  position: relative;
  padding: 0.4rem 0.2rem;
}
body .card-info-box .info-bg {
  width: 100%;
}
body .card-info-box .info {
  width: 5.8rem;
  position: absolute;
  left: 0.96rem;
  top: 0.85rem;
  z-index: 1;
  color: #e9c596;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
body .card-info-box .info .m-info h3 {
  font-size: 0.34rem;
  padding-bottom: 0.14rem;
}
body .card-info-box .info .m-info p {
  font-size: 0.24rem;
}
body .card-info-box .info .price-box {
  margin-bottom: -0.15rem;
}
body .card-info-box .info .price-box .mark {
  font-size: 0.4rem;
}
body .card-info-box .info .price-box .num {
  font-size: 0.78rem;
}
body .card-info-box .info .date-box {
  font-size: 0.24rem;
}
.ui-dialog {
  overflow: hidden;
}
.ui-dialog .ui-dialog-body .icon_close {
  width: 0.4rem;
  position: absolute;
  right: 0.12rem;
  top: 0.12rem;
  opacity: 0.75;
}
.ui-dialog .pop-cont-box .get_code_box {
  border-radius: 0.1rem;
  background: white;
  width: 6rem;
  box-sizing: border-box;
  padding: 0.45rem 0.55rem;
  font-size: 0.28rem;
}
.ui-dialog .pop-cont-box .get_code_box .fline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 0.4rem;
  justify-content: center;
  border-bottom: 0.02rem solid rgba(42, 42, 42, 0.06);
  height: 0.75rem;
}
.ui-dialog .pop-cont-box .get_code_box .fline input {
  flex: 1;
  border: none;
  font-size: 0.26rem;
  color: #2a2a2a;
}
.ui-dialog .pop-cont-box .get_code_box .fline input::-webkit-input-placeholder {
  font-size: 0.26rem;
  color: rgba(42, 42, 42, 0.3);
}
.ui-dialog .pop-cont-box .get_code_box .fline .get_code {
  width: 1.6rem;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0.13rem;
  border: 1px solid rgba(42, 42, 42, 0.8);
  color: rgba(42, 42, 42, 0.8);
  border-radius: 0.1rem;
  padding: 0.06rem 0px;
  font-size: .26rem;
}
.ui-dialog .pop-cont-box .get_code_box .fline .get_code.counting {
  opacity: 0.6;
}
.ui-dialog .pop-cont-box .get_code_box .fline .ftip {
  font-size: 0.24rem;
  color: #ff0000;
}
.ui-dialog .pop-cont-box .pop-btn {
  display: block;
  width: 2.2rem;
  margin: .4rem auto;
  color: #2a2a2a;
  font-size: 0.3rem;
  text-align: center;
  background: #ffd900;
  padding: 0.1rem 0px;
  border-radius: .4rem;
}
.index-box {
  height: 100vh;
  box-sizing: border-box;
  overflow: hidden;
}
.index-box .ad-box {
  width: 100%;
  height: 100%;
}
.index-box .ad-box img {
  width: 100%;
  height: 100%;
}
.index-box .fix-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #ffd900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.9rem;
  color: #2a2a2a;
  font-size: 0.32rem;
}
.pay-box {
  min-height: 100vh;
}
.pay-box .detail {
  padding: 0.45rem 0.7rem;
  background: #fff;
  font-size: 0.28rem;
  color: #8f8f8f;
}
.pay-box .detail .red {
  color: #de172a;
}
.pay-box .detail .pline {
  padding-bottom: 0.4rem;
}
.pay-box .detail .pay-ways {
  display: flex;
  align-items: center;
  padding-left: 1rem;
}
.pay-box .detail .pay-ways img {
  width: 1.94rem;
}
.pay-box .detail .pay-ways .pay-way {
  border: 0.01rem solid #7d7c7d;
  border-radius: 0.05rem;
  margin-right: 0.28rem;
}
.pay-box .detail .pay-ways .pay-way.on {
  border: 0.01rem solid #de172a;
}
.pay-box .fix-bottom {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  overflow: hidden;
  height: 0.9rem;
  background: #e1e1e1;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.pay-box .fix-bottom .price {
  font-size: 0.34rem;
  color: #de172a;
  padding-left: 0.7rem;
}
.pay-box .fix-bottom .pay {
  display: block;
  height: 100%;
  width: 2.5rem;
  color: white;
  font-size: 0.3rem;
  background: #2a2a2a;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.pay-records .list {
  padding: 0.45rem 0.2rem 1rem;
}
.pay-records .list .item {
  background: white;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 0.25rem 0rem;
  margin-bottom: 0.23rem;
}
.pay-records .list .item .cop-logo {
  width: 1rem;
  height: 1rem;
  margin: 0px 0.25rem;
}
.pay-records .list .item .info {
  flex: 1;
  line-height: 1.4;
}
.pay-records .list .item .info h2 {
  font-size: 0.32rem;
  color: #2a2a2a;
  padding-bottom: 0.14rem;
}
.pay-records .list .item .info p {
  color: #8f8f8f;
}
.pay-records .list .item .status-info {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 0.25rem;
  height: 1.3rem;
  text-align: right;
}
.pay-records .list .item .status-info .price {
  font-size: 0.32rem;
}
.pay-records .list .item .status-info .status.red {
  color: #de172a;
}
.pay-records .fix-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #ffd900;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.9rem;
  color: #2a2a2a;
  font-size: 0.32rem;
}
.pay-center {
  height: 100vh;
  padding-top: 0.6rem;
  box-sizing: border-box;
}
.pay-center .list {
  display: flex;
  padding-bottom: 0.8rem;
  padding: 0px 0.15rem 0.8rem 0.15rem;
}
.pay-center .list .item {
  display: inline-block;
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #7d7c7d;
  font-size: 0.24rem;
}
.pay-center .list .item img {
  width: 1.2rem;
}
.pay-center .list .item p {
  padding-top: 0.2rem;
}
.pay-info {
  padding: 0.65rem 0.6rem;
}
.pay-info .cards {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.pay-info .cards .card {
  border-radius: 0.1rem;
  border: 1px solid #2a2a2a;
  width: 2rem;
  height: 1.3rem;
  text-align: center;
  margin-bottom: 0.14rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.pay-info .cards .card.on {
  border: 1px solid #ffd900;
  background-color: #ffd900;
}
.pay-info .cards .card h3 {
  font-size: 0.32rem;
  padding-bottom: 0.12rem;
}
.pay-info .cards .card p {
  font-size: 0.22rem;
}
.pay-info .mform {
  box-sizing: border-box;
  padding: 0.45rem 0rem;
  padding-top: 0.1rem;
  font-size: 0.28rem;
}
.pay-info .mform .fline {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  padding-top: 0.4rem;
  justify-content: center;
  border-bottom: 0.02rem solid rgba(42, 42, 42, 0.06);
  height: 0.75rem;
}
.pay-info .mform .fline input {
  flex: 1;
  border: none;
  font-size: 0.26rem;
  color: #2a2a2a;
}
.pay-info .mform .fline input::-webkit-input-placeholder {
  font-size: 0.26rem;
  color: rgba(42, 42, 42, 0.3);
}
.pay-info .mform .fline .get_code {
  width: 1.6rem;
  box-sizing: border-box;
  text-align: center;
  position: absolute;
  right: 0px;
  bottom: 0.13rem;
  border: 1px solid rgba(42, 42, 42, 0.8);
  color: rgba(42, 42, 42, 0.8);
  border-radius: 0.1rem;
  padding: 0.06rem 0px;
  font-size: .26rem;
}
.pay-info .mform .fline .get_code.counting {
  opacity: 0.6;
}
.pay-info .mform .fline .ftip {
  font-size: 0.24rem;
  color: #ff0000;
}
.pay-info .fix-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #2a2a2a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 0.9rem;
  color: white;
  font-size: 0.3rem;
}
.pay-info .tips {
  color: #7d7c7d;
  line-height: 1.8;
  padding-bottom: 1rem;
}
.pay-info .tips h3 {
  font-size: 0.26rem;
}
.pay-info .tips p {
  font-size: 0.24rem;
}
.quanyi-box .zhichong {
  text-align: center;
  color: #2a2a2a;
  background: #fff;
  padding: 0.45rem 0px;
  margin-top: -0.2rem;
}
.quanyi-box .zhichong h3 {
  font-size: 0.3rem;
  padding-bottom: 0.1rem;
  font-weight: bold;
}
.quanyi-box .zhichong h4 {
  font-size: 0.24rem;
  padding-bottom: 0.4rem;
}
.quanyi-box .zhichong .zc-choose {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
}
.quanyi-box .zhichong .zc-choose .cbox img {
  width: 1.3rem;
  margin: 0px 0.33rem;
}
.quanyi-box .zhichong .zc-choose .cbox img:nth-last-of-type(1) {
  display: none;
}
.quanyi-box .zhichong .zc-choose .cbox.on img:nth-of-type(1) {
  display: none;
}
.quanyi-box .zhichong .zc-choose .cbox.on img:nth-last-of-type(1) {
  display: inline-block;
}
.quanyi-box .discount {
  padding: 0.5rem 0.2rem;
  padding-bottom: 1.6rem;
}
.quanyi-box .discount .mtitle {
  text-align: center;
  padding-bottom: 0.35rem;
  font-size: 0.3rem;
  font-weight: bold;
}
.quanyi-box .discount .item {
  margin-bottom: 0.2rem;
}
.quanyi-box .discount .item.owned .detail .info .img-owned {
  display: block;
}
.quanyi-box .discount .item.owned .detail .info .btn-get {
  display: none;
}
.quanyi-box .discount .item .detail {
  height: 1.7rem;
  background: url(../../img/card-style.png) 0px 0px no-repeat;
  background-size: 100% 100%;
  z-index: 1;
  position: relative;
}
.quanyi-box .discount .item .detail .info {
  height: 1.28rem;
  display: flex;
  align-items: center;
  padding-right: 0.2rem;
}
.quanyi-box .discount .item .detail .info .i-logo {
  width: 0.8rem;
  margin: 0px 0.2rem;
}
.quanyi-box .discount .item .detail .info .list-box {
  flex: 1;
}
.quanyi-box .discount .item .detail .info .list-box h3 {
  color: #2a2a2a;
  font-size: 0.3rem;
  padding-bottom: 0.1rem;
}
.quanyi-box .discount .item .detail .info .list-box .edate {
  color: #8f8f8f;
  font-size: 0.24rem;
}
.quanyi-box .discount .item .detail .info .btn-get {
  background-color: #2a2a2a;
  padding: 0.06rem 0.24rem;
  font-size: 0.24rem;
  color: white;
  border-radius: 0.4rem;
  text-align: center;
}
.quanyi-box .discount .item .detail .info .img-owned {
  display: none;
  width: 1.16rem;
  margin-right: 0.15rem;
}
.quanyi-box .discount .item .detail .use-desc {
  text-align: right;
  font-size: 0.24rem;
  color: #2a2a2a;
  padding-right: 0.3rem;
  padding-top: 0.05rem;
}
.quanyi-box .discount .item .desc {
  display: none;
  font-size: 0.24rem;
  color: #7d7c7d;
  line-height: 1.7;
  padding: 0.4rem 0.24rem 0.3rem 0.24rem;
  background: #fff;
  margin-top: -0.1rem;
}
.quanyi-box .fix-bottom {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: #2a2a2a;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.quanyi-box .fix-bottom > a {
  height: 0.9rem;
  line-height: 0.9rem;
  color: white;
  font-size: 0.3rem;
  flex: 1;
  width: 50%;
}
.quanyi-box .fix-bottom > a.btn-record {
  background: #8f8f8f;
}
/*# sourceMappingURL=./main.css.map */