@import "../lib/reset.less";
@import "../lib/artDialog.css";

@fontGray: #8f8f8f;
@lineGray: rgba(216, 216, 216, 0.4);
@orange: #ffd900;
@cBlack: #2a2a2a;
@cGray: #7d7c7d;

html,
body {
    padding: 0px;
    margin: 0px;
    background: #f6f7f9;
    font-size: 0.28rem;
}

body {
    position: relative;
    margin: 0px auto;
    max-width: 7.5rem;

    .pop_tpl {
        display: none;
    }

    .card-info-box {
        position: relative;
        padding: 0.4rem 0.2rem;

        .info-bg {
            width: 100%;
        }

        .info {
            width: 5.8rem;
            position: absolute;
            left: 0.96rem;
            top: 0.85rem;
            z-index: 1;
            color: #e9c596;
            display: flex;
            justify-content: space-between;
            align-items: flex-end;

            .m-info {
                h3 {
                    font-size: 0.34rem;
                    padding-bottom: 0.14rem;
                }

                p {
                    font-size: 0.24rem;
                }
            }

            .price-box {
                margin-bottom: -0.15rem;

                .mark {
                    font-size: 0.4rem;
                }

                .num {
                    font-size: 0.78rem;
                }
            }

            .date-box {
                font-size: 0.24rem;
            }
        }
    }
}

.ui-dialog {
    overflow: hidden;

    .ui-dialog-body {
        .icon_close {
            width: 0.4rem;
            position: absolute;
            right: 0.12rem;
            top: 0.12rem;
            opacity: 0.75;
        }
    }

    .pop-cont-box {
        .get_code_box {
            border-radius: 0.1rem;
            background: white;
            width: 6rem;
            box-sizing: border-box;
            padding: 0.45rem 0.55rem;
            font-size: 0.28rem;

            .fline {
                display: flex;
                justify-content: space-between;
                align-items: center;
                position: relative;
                padding-top: 0.4rem;
                justify-content: center;
                border-bottom: 0.02rem solid rgba(42, 42, 42, 0.06);
                height: 0.75rem;

                input {
                    flex: 1;
                    border: none;
                    font-size: 0.26rem;
                    color: #2a2a2a;

                    &::-webkit-input-placeholder {
                        font-size: 0.26rem;
                        color: rgba(42, 42, 42, 0.3);
                    }
                }

                .get_code {
                    width: 1.6rem;
                    box-sizing: border-box;
                    text-align: center;
                    position: absolute;
                    right: 0px;
                    bottom: 0.13rem;
                    border: 1px solid rgba(42, 42, 42, 0.8);
                    color: rgba(42, 42, 42, 0.8);
                    border-radius: 0.1rem;
                    padding: 0.06rem 0px;
                    font-size: .26rem;

                    &.counting {
                        opacity: 0.6;
                    }
                }

                .ftip {
                    font-size: 0.24rem;
                    color: #ff0000;
                }
            }
        }

        .pop-btn {
            display: block;
            width: 2.2rem;
            margin: .4rem auto;
            color: #2a2a2a;
            font-size: 0.3rem;
            text-align: center;
            background: #ffd900;
            padding: 0.1rem 0px;
            border-radius: .4rem;
        }
    }
}

//首页
.index-box {
    height: 100vh;
    box-sizing: border-box;
    overflow: hidden;

    .ad-box {
        width: 100%;
        height: 100%;

        img {
            width: 100%;
            height: 100%;
        }
    }

    .fix-bottom {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: @orange;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.9rem;
        color: #2a2a2a;
        font-size: 0.32rem;
    }
}

//支付页
.pay-box {
    min-height: 100vh;

    .detail {
        padding: 0.45rem 0.7rem;
        background: #fff;
        font-size: 0.28rem;
        color: #8f8f8f;

        .red {
            color: #de172a;
        }

        .pline {
            padding-bottom: 0.4rem;
        }

        .pay-ways {
            display: flex;
            align-items: center;
            padding-left: 1rem;

            img {
                width: 1.94rem;
            }

            .pay-way {
                border: 0.01rem solid #7d7c7d;
                border-radius: 0.05rem;
                margin-right: 0.28rem;

                &.on {
                    border: 0.01rem solid #de172a;
                }
            }
        }
    }

    .fix-bottom {
        position: fixed;
        left: 0px;
        bottom: 0px;
        width: 100%;
        overflow: hidden;
        height: 0.9rem;
        background: #e1e1e1;
        display: flex;
        justify-content: space-between;
        align-items: center;

        .price {
            font-size: 0.34rem;
            color: #de172a;
            padding-left: 0.7rem;
        }

        .pay {
            display: block;
            height: 100%;
            width: 2.5rem;
            color: white;
            font-size: 0.3rem;
            background: #2a2a2a;
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;
        }
    }
}

//充值记录
.pay-records {
    .list {
        padding: 0.45rem 0.2rem 1rem;

        .item {
            background: white;
            display: flex;
            justify-content: flex-start;
            align-items: center;
            padding: 0.25rem 0rem;
            margin-bottom: 0.23rem;

            .cop-logo {
                width: 1rem;
                height: 1rem;
                margin: 0px 0.25rem;
            }

            .info {
                flex: 1;
                line-height: 1.4;

                h2 {
                    font-size: 0.32rem;
                    color: @cBlack;
                    padding-bottom: 0.14rem;
                }

                p {
                    color: #8f8f8f;
                }
            }

            .status-info {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
                padding-right: 0.25rem;
                height: 1.3rem;
                text-align: right;

                .price {
                    font-size: 0.32rem;
                }

                .status {
                    &.red {
                        color: #de172a;
                    }
                }
            }
        }
    }

    .fix-bottom {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: @orange;
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.9rem;
        color: #2a2a2a;
        font-size: 0.32rem;
    }
}

//充值中心
.pay-center {
    height: 100vh;
    padding-top: 0.6rem;
    box-sizing: border-box;

    .list {
        display: flex;
        padding-bottom: 0.8rem;
        padding: 0px 0.15rem 0.8rem 0.15rem;

        .item {
            display: inline-block;
            width: 25%;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-direction: column;
            color: @cGray;
            font-size: 0.24rem;

            img{
                width: 1.2rem;
            }
            p {
                padding-top: 0.2rem;
            }
        }
    }
}

.pay-info {
    padding: 0.65rem 0.6rem;

    .cards {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;

        .card {
            border-radius: 0.1rem;
            border: 1px solid rgb(42, 42, 42);
            width: 2rem;
            height: 1.3rem;
            text-align: center;
            margin-bottom: 0.14rem;

            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;

            &.on {
                border: 1px solid rgb(255, 217, 0);
                background-color: rgb(255, 217, 0);
            }

            h3 {
                font-size: 0.32rem;
                padding-bottom: 0.12rem;
            }

            p {
                font-size: 0.22rem;
            }
        }
    }

    .mform {
        box-sizing: border-box;
        padding: 0.45rem 0rem;
        padding-top: 0.1rem;

        font-size: 0.28rem;

        .fline {
            display: flex;
            justify-content: space-between;
            align-items: center;
            position: relative;
            padding-top: 0.4rem;
            justify-content: center;
            border-bottom: 0.02rem solid rgba(42, 42, 42, 0.06);
            height: 0.75rem;

            input {
                flex: 1;
                border: none;
                font-size: 0.26rem;
                color: #2a2a2a;

                &::-webkit-input-placeholder {
                    font-size: 0.26rem;
                    color: rgba(42, 42, 42, 0.3);
                }
            }

            .get_code {
                width: 1.6rem;
                box-sizing: border-box;
                text-align: center;
                position: absolute;
                right: 0px;
                bottom: 0.13rem;
                border: 1px solid rgba(42, 42, 42, 0.8);
                color: rgba(42, 42, 42, 0.8);
                border-radius: 0.1rem;
                padding: 0.06rem 0px;
                font-size: .26rem;

                &.counting {
                    opacity: 0.6;
                }
            }

            .ftip {
                font-size: 0.24rem;
                color: #ff0000;
            }
        }
    }

    .fix-bottom {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: rgb(42, 42, 42);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 0.9rem;
        color: white;
        font-size: 0.3rem;
    }

    .tips {
        color: @cGray;
        line-height: 1.8;
        padding-bottom: 1rem;

        h3 {
            font-size: 0.26rem;
        }

        p {
            font-size: 0.24rem;
        }
    }
}

//2权益列表页
.quanyi-box {
    .zhichong {
        text-align: center;
        color: @cBlack;
        background: #fff;
        padding: 0.45rem 0px;
        margin-top: -0.2rem;

        h3 {
            font-size: 0.3rem;
            padding-bottom: 0.1rem;
            font-weight: bold;
        }

        h4 {
            font-size: 0.24rem;
            padding-bottom: 0.4rem;
        }

        .zc-choose {
            display: flex;
            justify-content: center;
            align-items: center;
            text-align: center;

            .cbox {
                img {
                    width: 1.3rem;
                    margin: 0px 0.33rem;
                
                    &:nth-last-of-type(1){
                        display: none;
                    }
                }
                &.on{
                    img{
                        &:nth-of-type(1){
                            display: none;
                        }
                        &:nth-last-of-type(1){
                            display: inline-block;
                        }
                    }
                }
            }
        }
    }

    .discount {
        padding: 0.5rem 0.2rem;
        padding-bottom: 1.6rem;

        .mtitle {
            text-align: center;
            padding-bottom: 0.35rem;
            font-size: 0.3rem;
            font-weight: bold;
        }

        .item {
            margin-bottom: 0.2rem;

            &.owned {
                .detail .info .img-owned {
                    display: block;
                }

                .detail .info .btn-get {
                    display: none;
                }
            }

            .detail {
                height: 1.7rem;
                background: url(../../img/card-style.png) 0px 0px no-repeat;
                background-size: 100% 100%;
                z-index: 1;
                position: relative;

                .info {
                    height: 1.28rem;
                    display: flex;
                    align-items: center;
                    padding-right: 0.2rem;

                    .i-logo {
                        width: 0.8rem;
                        margin: 0px 0.2rem;
                    }

                    .list-box {
                        flex: 1;

                        h3 {
                            color: @cBlack;
                            font-size: 0.3rem;
                            padding-bottom: 0.1rem;
                        }

                        .edate {
                            color: @fontGray;
                            font-size: 0.24rem;
                        }
                    }

                    .btn-get {
                        background-color: rgb(42, 42, 42);
                        padding: 0.06rem 0.24rem;
                        font-size: 0.24rem;
                        color: white;
                        border-radius: 0.4rem;

                        text-align: center;
                    }

                    .img-owned {
                        display: none;
                        width: 1.16rem;
                        margin-right: 0.15rem;
                    }
                }

                .use-desc {
                    text-align: right;
                    font-size: 0.24rem;
                    color: rgb(42, 42, 42);
                    padding-right: 0.3rem;
                    padding-top: 0.05rem;
                }
            }

            .desc {
                display: none;
                font-size: 0.24rem;
                color: @cGray;
                line-height: 1.7;
                padding: 0.4rem 0.24rem 0.3rem 0.24rem;
                background: #fff;
                margin-top: -0.1rem;
            }
        }
    }

    .fix-bottom {
        position: fixed;
        bottom: 0px;
        left: 0px;
        width: 100%;
        background: rgb(42, 42, 42);
        text-align: center;
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 1;

        >a {
            height: 0.9rem;
            line-height: 0.9rem;
            color: white;
            font-size: 0.3rem;
            flex: 1;
            width: 50%;

            &.btn-record {
                background: #8f8f8f;
            }
        }
    }
}