@chartset 'utf-8';
@import "../lib/flexible";
@import "../lib/common";
@import "../lib/artDialog.css";
$cBlack: #2a2a2a;
body {
  max-width: 500px;
  position: relative;
  margin: 0px auto;
  background: #f4f4f4;
  height: 100vh;
}

.bg_box {
  position: fixed;
  width: 100%;
  bottom: 0px;
  left: 0px;
  img {
    width: 100%;
  }
  .bg_btn {
    display: block;
    height: px2rem(98);
    line-height: px2rem(98);
    font-size: 17px;
    text-align: center;
    color: white;
    background: #00c5ff;
  }
}

.baoming {
  font-size: 13px;
  color: rgba(42, 42, 42, 0.502);
  .info-box {
    display: flex;
    justify-content: space-around;
    background: white;
    padding: px2rem(64) px2rem(74) px2rem(0);
    .avater {
      padding: px2rem(10);
      border-radius: 2px;
      width: px2rem(168);
      height: px2rem(168);
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      background: url("../../img/avater_bg.png") 0px 0px no-repeat;
      -webkit-background-size: 100% 100%;
      background-size: 100% 100%;

      img {
        width: px2rem(140);
        border-radius: 2px;
      }
    }
    .info {
      flex: 1;
      margin-left: px2rem(40);
      line-height: 1.9;
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
      flex-direction: column;
      padding: px2rem(5) 0px;
      font-size: 14px;
      .mark {
        padding-left: px2rem(50);
        background: url("../../img/icon_check.png") 0px center no-repeat;
        -webkit-background-size: px2rem(34) px2rem(34);
        background-size: px2rem(34) px2rem(34);
        font-size: 14px;
        color: $cBlack;
        &.on {
          background: url("../../img/icon_checked.png") 0px center no-repeat;
          -webkit-background-size: px2rem(34) px2rem(34);
          background-size: px2rem(34) px2rem(34);
        }
      }
    }
  }
  .add_new {
    padding: px2rem(50) px2rem(74) px2rem(34);
    background: white;
  }
  .add_new_contact {
    padding: px2rem(42) px2rem(74);
    background: white;
  }
  .flist {
    margin-top: px2rem(20);
    padding-bottom: px2rem(40);
    background: white;
    padding: px2rem(64) px2rem(74);
    padding-bottom: 100px;

    &.minfo{
      padding: px2rem(64) px2rem(74);
      padding-top: px2rem(20);
    }
    .title {
      text-align: center;
      font-size: 15px;
    }
    .item {
      display: flex;
      justify-content: space-between;
      align-items: flex-end;
      border-bottom: 1px solid $lineGray;
      padding-bottom: px2rem(20);
      padding-top: px2rem(40);
      .info {
        &.check {
          padding-left: px2rem(50);
          background: url("../../img/icon_check.png") 0px center no-repeat;
          -webkit-background-size: px2rem(34) px2rem(34);
          background-size: px2rem(34) px2rem(34);
          &.on {
            background: url("../../img/icon_checked.png") 0px center no-repeat;
            -webkit-background-size: px2rem(34) px2rem(34);
            background-size: px2rem(34) px2rem(34);
          }
        }
      }
      .ops {
        display: flex;
        justify-content: center;
        align-items: center;
        a {
          color: rgba(42, 42, 42, 0.502);
          display: flex;
          align-items: center;
          justify-content: center;
          margin-left: px2rem(36);
          img {
            height: px2rem(28);
            margin-right: px2rem(7);
          }
          span{
            display: block;
            width: 30px;
          }
        }
      }
    }
    p {
      line-height: 1.8;
    }
  }
}