@import "../lib/flexible";
@import "../lib/artDialog.css";
@import "../lib/common";

$fontGray: #8f8f8f;
$lineGray: rgba(216, 216, 216, 0.25);
$cBlack: #2a2a2a;
$cGray: rgba(42, 42, 42, 0.502);
$cBlue: #ffa800;

body {
    max-width: 500px;
    position: relative;
    margin: 0px auto;
    background: #fff;
    min-height: 100vh;
    font-size: 14px;
}
.hkt {
    .banner {
        img {
            width: 100%;
        }
    }
    .hkt_form {
        position: relative;
        border-radius: 10px;
        background-color: rgb(255, 255, 255);
        width: px2rem(680);
        margin: 0px auto;
        margin-top: px2rem(-68);
        z-index: 2;
        padding: px2rem(40);
        padding-bottom: px2rem(70);
        box-sizing: border-box;
        .fline {
            border-bottom: 1px solid $lineGray;
            padding-top: px2rem(30);
            display: flex;
            justify-content: space-between;
            align-items: center;
            &.select {
                &::after {
                    content: ">";
                    color: #8f8f8f;
                }
            }
        }
        input,
        select {
            font-size: 14px;
            width: 100%;
            color: #8f8f8f;
            height: px2rem(60);
            border: none;
            outline: none;
        }
    }
    .op {
        text-align: center;
        padding: px2rem(70) px2rem(40);
        .mbtn {
            display: block;
            background: #ffa800;
            height: px2rem(80);
            line-height: px2rem(80);
            font-size: 17px;
            color: white;
            border-radius: 20px;
        }
    }
}
.hkt_detail {
    padding: 0px px2rem(35);
    li {
        position: relative;
        border-radius: px2rem(10);
        background-color: rgb(244, 244, 244);
        padding-top: px2rem(46);
        background: url(../../img/hkt_bg.png) 0px 0px no-repeat;
        background-size: 100% 100%;
        padding: px2rem(34) px2rem(36) px2rem(26) px2rem(46);
        display: flex;
        justify-content: space-between;
        overflow: hidden;
        height: px2rem(230);
        box-sizing: border-box;
        margin-top: px2rem(40);

        &::before {
            content: "";
            display: inline-block;
            width: px2rem(12);
            background: #f8ac26;
            position: absolute;
            left: 0px;
            top: 0px;
            height: 100%;
        }
        .info {
            flex: 1;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            color: #8f8f8f;
            .title {
                font-size: 16px;
                color: #2a2a2a;
                padding-bottom: px2rem(15);
            }
            .bt {
                display: flex;
                justify-content: space-between;
                align-items: center;
            }
            .ops {
                border: 1px solid #f8ac26;
                border-radius: 20px;
                overflow: hidden;
                display: flex;

                a {
                    display: inline-block;
                    width: px2rem(96);
                    height: px2rem(40);
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    color: #f8ac26;
                    &:nth-last-of-type(1) {
                        color: #fff;
                        background: #f8ac26;
                    }
                }
            }
        }
    }
}
