@charset "utf-8";
@import "../lib/flexible";
@import "../lib/reset.css";
@import "../lib/common.css";

$cRed: #de172a;
$cGrey: #7d7c7d;
$lGrey: #f4f4f4;
$gold-color: #de172a;
$lineGray: rgba(216, 216, 216, 0.5);
$bd-line: rgba(216, 216, 216, 0.3);

body {
    max-width: 500px;
    position: relative;
    margin: 0px auto;
    background-color: #f4f4f4;
    min-height: 100vh;
    font-size: 13px;
    background-image: url(../../img/common/bottom_bg.png);
    background-repeat: no-repeat;
    background-position: 0px bottom;
    background-size: 100%;
    padding-bottom: px2rem(120);
}
.my-box {
    color: #2a2a2a;
    padding: px2rem(24);
    .card {
        padding: px2rem(24) 0px;
        .info {
            padding: px2rem(42);
            background: url(../../img/my/card_bg.png) 0px 0px no-repeat;
            background-size: cover;
            text-align: center;
            font-size: 13px;
            > img {
                width: px2rem(150);
                height: px2rem(150);
                border-radius: 100%;
                margin-bottom: px2rem(25);
            }
            .txt {
                p {
                    padding-top: 6px;
                }
            }
        }
    }

    .my-list {
        background: white;
        border-radius: px2rem(15);
        margin-bottom: px2rem(24);
        box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.1);
        a {
            color: #2a2a2a;
            font-size: 16px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            padding: px2rem(30) px2rem(44);
            border-top: 1px solid $lineGray;

            .icon {
                height: px2rem(38);
            }
            span {
                flex: 1;
                padding-left: px2rem(12);
            }
            i {
                font-style: normal;
                color: #8f8f8f;
            }

            strong {
                font-weight: normal;
                color: white;
                background: rgb(236, 0, 0);
                border-radius: 50%;
                height: px2rem(30);
                line-height: px2rem(30);
                min-width: px2rem(30);
                text-align: center;
                font-size: 12px;
                margin-right: px2rem(8);
            }
            .right {
                width: px2rem(15);
            }
            &:nth-of-type(1) {
                border-top: none;
            }
        }
    }
    .kefu {
        padding: px2rem(30) px2rem(60);
        background: white;
        text-align: center;
        font-size: 13px;
        line-height: 1.6;
        color: #7d7c7d;
        .red {
            color: $cRed;
            a {
                color: $cRed;
            }
        }
    }
}

.jf-list {
    color: #7d7c7d;
    font-size: 12px;
    .item {
        background: white;
        margin-top: px2rem(16);
        padding: px2rem(22) px2rem(66) px2rem(5);
        line-height: 1.8;
        p {
            display: flex;
            justify-content: space-between;
            .xf {
                color: #333;
            }
            .xf-num {
                font-size: 16px;
                color: $cRed;
            }
        }
    }
}
