html,
body {
    padding: 0px;
    margin: 0px;
}

.aijia {
    position: relative;

    .aj_bg {
        display: block;
        width: 100%;
    }

    .link_box {
        position: absolute;
        top: 0px;
        left: 0px;
        padding: 0px .48rem;
        padding-top: 10.6rem;
        width: 100%;
        box-sizing: border-box;

        .link {
            display: block;
            position: relative;
            border-radius: .1rem;

            &.link_1 {
                height: 3.3rem;
            }
        }
    }

    .tehui {
        padding: 0px .32rem;
        padding-top: 2.3rem;

        >.link_2 {
            height: 2.75rem;
        }

        >.link_3 {
            height: 1.85rem;
        }

        .flex {
            display: flex;
            justify-content: space-between;
            margin: .1rem 0px;

            .link {
                width: calc(33.5% - 0.05rem);
                height: 2.5rem;
            }
        }
    }

    .xiari {
        padding: 0px .32rem;
        padding-top: 2.75rem;

        .flex {
            display: flex;
            justify-content: space-between;


            &.flex_1 {
                margin-bottom: .15rem;

                .link {
                    width: calc(50% - 0.05rem);
                    height: 3.74rem;
                }
            }

            &.flex_2 {
                .link {
                    width: calc(33.5% - 0.05rem);
                    height: 3.85rem;
                }
            }
        }
    }

    .huiben {
        padding: 0px .32rem;
        padding-top: 2.7rem;

        .link {
            height: 2.75rem;
        }
    }
}