html,
body {
  margin: 0px;
  padding: 0px;
}
html .bg-logo,
body .bg-logo {
  position: fixed;
  width: 100%;
  bottom: 80px;
  z-index: 0;
  text-align: center;
}
html .bg-logo img,
body .bg-logo img {
  width: 2.4rem;
}
html .check input,
body .check input {
  text-align: center;
  vertical-align: middle;
  border: none;
  appearance: none;
  -webkit-appearance: none;
  outline: none;
  cursor: pointer;
  border: 1px solid #d2c09e;
  width: 24px;
  height: 24px;
  display: flex;
  justify-content: center;
  align-items: center;
}
html .check input:checked::after,
body .check input:checked::after {
  content: '';
  display: inline-block;
  width: 16px;
  height: 12px;
  background: url(../../img/sign/icon_checked.png) 0px 0px no-repeat;
  background-size: 100% 100%;
}
html .check.flex,
body .check.flex {
  display: flex;
  font-size: 14px;
  color: #8f8f8f;
}
html .check.flex input,
body .check.flex input {
  margin-right: 8px;
}
.sign {
  padding: 20px;
  box-sizing: border-box;
  position: relative;
  padding-bottom: 120px;
  z-index: 1;
}
.sign .activity {
  padding-bottom: 40px;
}
.sign .activity .hdimg {
  width: 100%;
}
.sign .activity .info h3 {
  font-size: 14px;
  font-weight: bold;
  padding: 8px 0px;
  color: #2a2a2a;
}
.sign .activity .info p {
  font-size: 13px;
  padding: 0 1px;
  padding-bottom: 4px;
  color: #8f8f8f;
}
.sign .fellow .title {
  font-size: 15px;
  color: #2a2a2a;
  line-height: 1.667;
  font-weight: bold;
  display: flex;
  align-items: center;
}
.sign .fellow .title::before {
  content: '';
  display: inline-block;
  background-color: #2a2a2a;
  width: 5px;
  height: 18px;
  margin-right: 5px;
}
.sign .fellow .item {
  border-radius: 5px;
  background-color: #ffffff;
  padding: 14px;
  margin-top: 14px;
  margin-bottom: 8px;
  display: flex;
  align-items: center;
}
.sign .fellow .item .info-box {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding-left: 15px;
}
.sign .fellow .item .info-box .info {
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(143, 143, 143, 0.251);
  padding-bottom: 8px;
  font-size: 12px;
  color: #8f8f8f;
}
.sign .fellow .item .info-box .info p {
  margin-right: 15px;
  line-height: 1;
}
.sign .fellow .item .info-box .bot {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
}
.sign .fellow .item .info-box .bot .marks span {
  display: inline-block;
  background-color: rgba(143, 143, 143, 0.502);
  border-radius: 20px;
  font-size: 11px;
  color: #ffffff;
  padding: 1px 10px;
  margin-right: 5px;
}
.sign .fellow .item .info-box .bot .ops {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.sign .fellow .item .info-box .bot .ops a {
  display: inline-block;
  background-color: #b7a793;
  border-radius: 20px;
  font-size: 11px;
  color: #ffffff;
  padding: 1px 10px;
  margin-left: 15px;
}
.sign .fellow .add_new {
  margin-top: 20px;
}
.sign .fellow .add_new .btn_add_new {
  display: inline-block;
  width: 100%;
  border-width: 1px;
  border-color: #b7a793;
  border-style: solid;
  border-radius: 50px;
  text-align: center;
  color: #b7a793;
  font-size: 15px;
  padding: 5px 0px;
  background: #f4f4f4;
}
.edit_contacts {
  padding: 0.55rem;
}
.edit_contacts .mform .cline {
  display: flex;
  padding-top: 20px;
  padding-bottom: 40px;
}
.edit_contacts .mform .cline label {
  width: 50%;
}
.edit_contacts .mform .pline {
  line-height: 2.5;
  border-bottom: 1px solid rgba(143, 143, 143, 0.2);
  margin-bottom: 0.2rem;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.edit_contacts .mform .pline > span {
  padding: 0px 0.3em;
}
.edit_contacts .mform .pline label {
  display: inline-block;
  font-size: 0.24rem;
  width: 1rem;
  text-align: justify;
  text-align-last: justify;
  display: flex;
  justify-content: space-between;
}
.edit_contacts .mform .pline label span {
  font-size: 0.24rem;
}
.edit_contacts .mform .pline input {
  border: none;
  outline: none;
  font-size: 14px;
  background: transparent;
  height: 40px;
}
.edit_contacts .btn-box {
  width: 100%;
  box-sizing: border-box;
  padding-top: 55px;
}
.edit_contacts .btn-box .btn_defualt {
  border-radius: 60px;
  display: inline-block;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #b7a793;
  height: 40px;
  font-size: 16px;
  color: white;
}
.myAcitiviy {
  padding: 20px;
}
.myAcitiviy .item {
  margin-bottom: 30px;
}
.myAcitiviy .item .title {
  font-size: 15px;
  color: #2a2a2a;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(143, 143, 143, 0.2);
  padding-bottom: 11px;
  margin-bottom: 11px;
  white-space: nowrap;
  text-overflow: ellipsis;
  overflow: hidden;
}
.myAcitiviy .item .title::before {
  content: '';
  display: inline-block;
  background-color: #2a2a2a;
  width: 5px;
  height: 18px;
  margin-right: 5px;
  line-height: 0;
}
.myAcitiviy .opts {
  flex: 1;
  display: flex;
  justify-content: flex-end;
}
.myAcitiviy .opts a {
  display: inline-block;
  background-color: #b7a793;
  border-radius: 20px;
  font-size: 11px;
  color: #ffffff;
  padding: 1px 10px;
  margin-left: 10px;
}
.mfellow {
  padding: 20px;
  padding-top: 45px;
}
.mfellow .item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}
.mfellow .item .info {
  display: flex;
  align-items: center;
  font-size: 13px;
}
.mfellow .item .info::before {
  content: '';
  display: inline-block;
  background-color: #b7a793;
  width: 3px;
  height: 15px;
  margin-right: 5px;
  line-height: 0;
}
.mfellow .item .info p {
  margin-right: 10px;
  line-height: 1;
  color: #8f8f8f;
}
.mfellow .item .marks span {
  display: inline-block;
  background-color: rgba(143, 143, 143, 0.502);
  border-radius: 20px;
  font-size: 11px;
  color: #ffffff;
  padding: 1px 10px;
  margin-right: 5px;
}
.pop_box {
  background-color: rgba(42, 42, 42, 0.702);
  position: fixed;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100vh;
  box-sizing: border-box;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
}
.pop_box.show {
  display: flex;
}
.pop_box .pop_close {
  position: absolute;
  right: 0.2rem;
  top: 0.2rem;
  width: 17px;
}
.pop_box .pop_cont {
  position: relative;
  border-radius: 0.1rem;
  background-color: white;
  width: 70%;
  margin-top: -25%;
}
.pop_box .pop_cont .pop_wraper {
  height: 100%;
  overflow-y: scroll;
  padding: 1rem;
  box-sizing: border-box;
  padding-bottom: 18px;
}
.pop_box .pop_cont .pop_wraper .scode {
  width: 100%;
}
.pop_box .pop_cont .tip {
  font-size: 13px;
  color: #8f8f8f;
  text-align: center;
  padding-top: 34px;
}
.pop_box .pop_cont .tip span {
  color: #8f8f8f;
}
.bg_box {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  z-index: 2;
}
.bg_box .bg_btn {
  display: block;
  background-color: #b7a793;
  height: 60px;
  line-height: 60px;
  text-align: center;
  font-size: 17px;
  color: #ffffff;
}
/*# sourceMappingURL=./contact.css.map */