html,
body {
    margin: 0px;
    padding: 0px;

}

.sign {
    padding: 20px;
    box-sizing: border-box;
    position: relative;
    padding-bottom: 130px;
    .activity {
        .hdimg {
            width: 100%;
        }

        .info {
            h3 {
                font-size: 14px;
                font-weight: bold;
                padding: 8px 0px;
                color: #2a2a2a;
            }

            p {
                font-size: 13px;
                color: rgb(143, 143, 143);
                padding: 0 1px;
                padding-bottom: 4px;
                color: #8f8f8f;
            }
        }
    }

    .fellow {
        padding-top: 40px;

        .title {
            font-size: 15px;
            color: rgb(42, 42, 42);
            line-height: 1.667;
            font-weight: bold;
            display: flex;
            align-items: center;

            &::before {
                content: '';
                display: inline-block;
                background-color: rgb(42, 42, 42);
                width: 5px;
                height: 18px;
                margin-right: 5px;
            }
        }

        .item {
            border-radius: 5px;
            background-color: rgb(255, 255, 255);
            padding: 14px;
            margin-top: 14px;
            margin-bottom: 8px;
            display: flex;
            align-items: center;

            .check {
                input {
                    text-align: center;
                    vertical-align: middle;
                    border: none;
                    appearance: none;
                    -webkit-appearance: none;
                    outline: none;
                    cursor: pointer;
                    border: 1px solid #d2c09e;
                    width: 24px;
                    height: 24px;
                    display: flex;
                    justify-content: center;
                    align-items: center;

                    &:checked::after {
                        content: '';
                        display: inline-block;
                        width: 16px;
                        height: 12px;
                        background: url(../../img/sign/icon_checked.png) 0px 0px no-repeat;
                        background-size: 100% 100%;
                    }
                }


            }

            .info-box {
                flex: 1;
                display: flex;
                flex-direction: column;
                padding-left: 15px;

                .info {
                    display: flex;
                    align-items: center;
                    border-bottom: 1px solid rgba(143, 143, 143, 0.251);
                    padding-bottom: 8px;
                    font-size: 12px;
                    color: rgb(143, 143, 143);

                    p {
                        margin-right: 15px;
                        line-height: 1;
                    }
                }

                .bot {
                    display: flex;
                    justify-content: space-between;
                    align-items: center;
                    padding-top: 10px;

                    .marks {
                        span {
                            display: inline-block;
                            background-color: rgba(143, 143, 143, 0.502);
                            border-radius: 20px;
                            font-size: 11px;
                            color: rgb(255, 255, 255);
                            padding: 1px 10px;
                            margin-right: 5px;
                        }
                    }

                    .ops {
                        flex: 1;
                        display: flex;
                        justify-content: flex-end;

                        a {
                            display: inline-block;
                            background-color: rgb(183, 167, 147);
                            border-radius: 20px;
                            font-size: 11px;
                            color: rgb(255, 255, 255);
                            padding: 1px 10px;
                            margin-left: 15px;
                        }
                    }
                }
            }
        }

        .add_new {
            margin-top: 20px;

            .btn_add_new {
                display: inline-block;
                width: 100%;
                border-width: 1px;
                border-color: rgb(183, 167, 147);
                border-style: solid;
                border-radius: 50px;
                text-align: center;
                color: rgb(183, 167, 147);
                font-size: 15px;
                padding: 5px 0px;
                background: #f4f4f4;
            }
        }
    }
}

.bg_box {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
    z-index: 0;

    .bg_btn {
        display: block;
        background-color: rgb(183, 167, 147);
        height: 60px;
        line-height: 60px;
        text-align: center;
        font-size: 17px;
        color: rgb(255, 255, 255);        
    }

}