.dt_list {
  .item {
    margin-bottom: 0.4rem;
    border-bottom: 1px solid rgba(42, 42, 42, 0.15);
    margin: 0px 0.4rem;
    padding: 0.6rem 0px;
    &:nth-last-of-type(1) {
      border: none;
    }
    &.mitem {
      background-color: white;
      border-bottom: none;
      margin-bottom: 0px;
      margin: 0px;
      padding: 0.4rem;
      .cancel_box {
        padding-top: 0.4rem;
        text-align: right;
        .icon_cancel {
          width: 1.3rem;
        }
      }
    }
    .mtitle {
      color: #2a2a2a;
      font-size: 0.3rem;
      padding-bottom: 0.3rem;
    }
    .dt_avt {
      width: 100%;
    }
    .title {
      color: #2a2a2a;
      font-weight: bold;
      font-size: 0.34rem;
      padding-top: 0.4rem;
      padding-bottom: 0.15rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      .btn_gz {
        display: inline-block;
        color: white;
        font-size: 12px;
        border-radius: 20px;
        background: #b7a793;
        padding: 0.02rem 0.2rem;
        font-weight: normal;
      }
    }
    .sub_title {
      font-size: 0.3rem;
      padding-bottom: 0.25rem;
    }
    .desc {
      font-size: 0.24rem;
      color: #8f8f8f;
      line-height: 1.7;
    }
  }
}
.gz_list {
  padding: 1px 0px;
  .item {
    margin-bottom: 0.4rem;
    margin: .2rem 0.4rem;
    padding: 0.3rem;
    background-color: white;
    border-radius: .1rem;
    .info {
      .title {
        color: #2a2a2a;
        font-weight: bold;
        font-size: 0.34rem;
        padding-bottom: 0.15rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
        .btn_gz {
          display: inline-block;
          color: white;
          font-size: 12px;
          border-radius: 20px;
          background: #b7a793;
          padding: 0.02rem 0.2rem;
          font-weight: normal;
        }
      }
      .sub_title {
        font-size: 0.3rem;
        padding-bottom: 0.25rem;
      }
      .desc {
        font-size: 0.24rem;
        color: #8f8f8f;
        line-height: 1.7;
      }
    }
    .cancel_box {
      padding-top: 0.4rem;
      text-align: right;
      .icon_cancel {
        width: 1.3rem;
      }
    }
  }
}
