.z_huati .huati {
  background-color: white;
  padding: 0.4rem;
}
.z_huati .huati .ht_avt {
  width: 100%;
}
.z_huati .huati .title {
  color: #2a2a2a;
  font-weight: bold;
  font-size: 0.34rem;
  padding-top: 0.4rem;
  padding-bottom: 0.15rem;
}
.z_huati .huati .sub_title {
  font-size: 0.3rem;
  padding-bottom: 0.25rem;
}
.z_huati .huati .desc {
  font-size: 0.24rem;
  color: #8f8f8f;
  line-height: 1.7;
}
.z_huati .ht_list {
  padding: 0.4rem;
  padding-top: 0px;
}
.z_huati .ht_list .ht_item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 5px;
  background: #FFFFFF;
  padding: 0.3rem;
  margin-bottom: 0.14rem;
}
.z_huati .ht_list .ht_item .left {
  display: flex;
  align-items: center;
}
.z_huati .ht_list .ht_item .icon_ht {
  width: 1rem;
  height: 1rem;
  border-radius: 1rem;
}
.z_huati .ht_list .ht_item .info {
  padding-left: 0.3rem;
}
.z_huati .ht_list .ht_item .info .title {
  color: #2a2a2a;
  font-weight: bold;
  font-size: 0.34rem;
  padding-bottom: 0.15rem;
}
.z_huati .ht_list .ht_item .info .desc {
  font-size: 0.24rem;
  color: #8f8f8f;
  line-height: 1.7;
}
.z_huati .ht_list .ht_item .icon_tl {
  width: 1.3rem;
}
