@charset "utf-8";
@import "../lib/flexible";
@import "../lib/artDialog.css";
@import "../lib/common";


html, body {
  margin: 0px;
  background: #f6f7f9;
  padding: 0px;
}

.f-orange {
  color: $orange;
}

.banner-swiper {
  overflow: hidden;
  height: px2rem(458);
  img {
    width: 100%;
    height: 100%;
  }
}


.wrapper {
  position: relative;
  background: #fff;
  max-width: 600px;
  margin: px2rem(20);
  border-radius: px2rem(8);
  margin-bottom: px2rem(100);
  > .info {
    padding: px2rem(70) 0px px2rem(0);
    text-align: center;
    h3 {
      font-size: 17px;
      color: rgb(42, 42, 42);
      padding-bottom: px2rem(40);
    }
    .btn{
      font-size: 14px;
      width: px2rem(320);
    }
    .desc {
      text-align: left;
      padding: px2rem(40) px2rem(40) px2rem(20);
      font-size: 14px;
      color: rgb(42, 42, 42);
      line-height: 2;
      text-align: justify;
    }
  }
  .split {
    background: #f6f7f9;
    padding-bottom: 0px;
    img {
      width: 100%;
    }
  }
  .info-desc {
    font-size: px2rem(24);
    color: rgb(136, 136, 136);
    line-height: 1.5;
    padding-left: px2rem(100);
    padding-bottom: px2rem(24);
  }
  .desc-box {
    padding-bottom: px2rem(10);
    margin-top: px2rem(10);
    li {
      padding: px2rem(0) 0px;
      margin: 0px px2rem(24);

      img {
        width: 100%;
        padding-bottom: px2rem(24);
      }
      .title {
        position: relative;
        font-size: px2rem(28);
        color: rgb(42, 42, 42);
        padding: px2rem(20) px2rem(15);
        &:before, &:after {
          display: inline-block;
          position: absolute;
          content: ' ';
        }

        &:before {
          width: px2rem(6);
          background: $orange;
          height: px2rem(30);
          top: 50%;
          margin-top: - px2rem(15);
          left: 0px;
        }
        &:after {
          right: 0px;
          width: px2rem(26);
          height: px2rem(26);
          top: 50%;
          margin-top: - px2rem(13);
          text-align: center;
          background: url("../../img/common/arrow-right.png") no-repeat;
          background-size: contain;
        }
      }

      .info {
        display: none;
        font-size: 12px;
        color: #8f8f8f;
        line-height: 2;
        padding-bottom: px2rem(15);

        padding-top: px2rem(10);
        text-align: justify;
        .stitle {
          color: #8f8f8f;
          font-weight: bold;
          line-height: 2;
          padding-bottom: 4px;
        }
      }
      &.unfold {
        .title {
          &:after {
            right: px2rem(8);
            background: url("../../img/common/arrow-top.png") no-repeat;
            background-size: contain;
          }
        }
        .info {
          display: block;
        }
      }
    }
  }
}


.btn_live {
  position: fixed;
  bottom: 0px;
  left: 0px;
  width: 100%;
  background: $orange;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  height: px2rem(90);
  line-height: px2rem(90);
  color: #2a2a2a;
  font-size: 16px;
}