@charset "utf-8";
@import "./flexible";
@import "./common";
@import "./animate.min.css";

.wraper {
  max-width: 768px;
  margin: 0px auto;
  background: white;
  min-height: 100vh;
  .banner {
    img {
      width: 100%;
    }
  }
  .list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: px2rem(30) px2rem(18);

    a {
      width: px2rem(340);
      text-align: center;
      padding-bottom: px2rem(26);
      img {
        display: block;
        width: 100%;
      }
      .title {
        font-size: 12px;
        font-family: "Microsoft YaHei";
        color: rgb(143, 143, 143);
        padding-top: px2rem(18);
      }
    }
  }
}