@import "../lib/flexible";
@import "../lib/common.css";
@import "../lib/artDialog.css";
$fontGray: #8f8f8f;
$lineGray: rgba(216, 216, 216, 0.25);
$cBlack: #2a2a2a;
$cGray: rgba(42, 42, 42, 0.502);
$cBlue: #ffa800;

body {
    max-width: 500px;
    position: relative;
    margin: 0px auto;
    background: white;
    min-height: 100vh;
    font-size: 13px;
    background-color: #101626;
}

.gaobaiList {
    padding: px2rem(30) px2rem(20);

    .banner_box {
        position: relative;

        .banner {
            width: 100%;
        }

        .show_rule {
            position: absolute;
            right: 0px;
            top: .43rem;
            width: 1.3rem;
        }
    }
}

.pop_box {
    background-color: rgba(42, 42, 42, 0.702);
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100vh;
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    align-items: center;
    display: none;

    &.show {
        display: flex;
    }

    .pop_close {
        position: absolute;
        right: .2rem;
        top: .2rem;
        width: .24rem;
    }

    .pop_cont {
        position: relative;

        border-radius: .1rem;
        background-color: white;

        .pop_wraper {
            height: 100%;
            box-sizing: border-box;
            overflow-y: scroll;
            padding: .1rem 0px;
            width: 6.16rem;
            height: 8.48rem;
            padding: .4rem .5rem .5rem .6rem;
            box-sizing: border-box;
        }

        .ptitle {
            font-size: .3rem;
            color: rgb(143, 143, 143);
            text-align: center;
            padding-bottom: .3rem;
        }

        p {
            color: rgb(143, 143, 143);
            line-height: 2.26;
            font-size: .24rem;
        }
    }
}

.footer {
    position: fixed;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: px2rem(88);
    text-align: center;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: #ffa800;

    .vline {
        display: inline-block;
        width: 1px;
        height: px2rem(70);
        background: rgba(243, 240, 240, 0.8);
    }

    a {
        height: px2rem(88);
        font-size: 15px;
        color: white;
        background: #ffa800;
        color: white;
        display: flex;
        align-items: center;
        justify-content: center;

        &:nth-of-type(1) {
            width: px2rem(200);
            background: #2a2a2a;
        }

        &:nth-of-type(n+2) {
            flex: 1;

            &::after {
                //content: "";
                display: inline-block;
                width: 1px;
                height: px2rem(70);
                background: rgba(243, 240, 240, 0.8);
            }
        }

        >img {
            width: px2rem(30);
            margin-right: px2rem(10);
            margin-bottom: 1px;
        }
    }
}

.liuyan-box {
    position: relative;

    textarea {
        font-size: 13px;
        background-color: rgb(255, 255, 255);
        border: 1px solid rgba(0, 0, 0, 0.1);
        border-radius: 5px;
        height: px2rem(300);
        width: 100%;
        box-sizing: border-box;
        padding: px2rem(14) px2rem(18);
        color: $cBlack;
        width: px2rem(590);

        &::-webkit-input-placeholder {
            color: rgba(42, 42, 42, 0.302);
        }
    }

    .limit {
        position: absolute;
        right: px2rem(15);
        bottom: px2rem(14);
        color: rgba(42, 42, 42, 0.5);
        font-size: 13px;
    }
}

.ui-dialog-body .pop-cont {
    padding: px2rem(100) px2rem(35);
}