/*猜你喜欢*/
.guess-likes {
    background: #ffffff;
    border: 1px solid #e8e8e8;
    margin-top: 40px;

}

.guess-likes .l-title {
    background: #f2f2f2;
    height: 50px;
    line-height: 50px;
    font-size: 18px;
    color: #333333;
    text-align: left;
    padding-left: 20px;
}
/*猜你喜欢轮播图*/
.picScroll-left{ overflow:hidden; position:relative; padding: 20px 0px;}
.picScroll-left .hd{ overflow:hidden;  height:30px; background:#f4f4f4; padding:0 10px;  }
.picScroll-left .hd ul{ float:right; overflow:hidden; zoom:1; margin-top:10px; zoom:1; }
.picScroll-left .hd ul li{ float:left;  width:200px; overflow:hidden; margin-right:5px; text-indent:-9999px; cursor:pointer;}
.picScroll-left .hd ul li.on{ background-position:0 0; }
.picScroll-left .bd{ padding:10px;width: 980px;margin: 0 auto;}
.picScroll-left .bd ul{ overflow:hidden; zoom:1; }
.picScroll-left .bd ul li{width: 250px; float:left; _display:inline; overflow:hidden; text-align:center; color:#333333;}
.picScroll-left .bd ul li img{  height:170px; display:inline-block; }
.picScroll-left .bd ul li .title{width:220px;overflow:hidden;text-overflow:ellipsis;white-space: nowrap;padding: 10px 0px;}
.picScroll-left .bd ul li .mark-red{font-size: 18px;}
.picScroll-left .prev,.picScroll-left .next{position:absolute;top:105px;left:40px;background:#f2f2f2;width:22px;height:58px;line-height: 58px;text-align: center;}
.picScroll-left .next{left:auto;right: 40px;}
.picScroll-left .iconfont{color:#515151;font-size: 18px;font-weight: bold}
.picScroll-left>a:hover{background:#f4d05e;}