@charset "utf-8";
@import "./flexible";
@import "./common";

$border-color: rgba(143, 143, 143, .4);

.wraper {
  max-width: 1024px;
  margin: 0px auto;
  background: url("../img/bg.jpg") 0px 0px no-repeat;
  -webkit-background-size: 100% 100%;
  background-size: 100% 100%;
  min-height: 100vh;
  padding: px2rem(57) px2rem(45);
  box-sizing: border-box;
  color: #8F8F8F;
}

.info {
  border-radius: px2rem(16);
  margin-bottom: px2rem(15);
  text-align: center;
  padding: px2rem(40) 0px px2rem(30);
  background: white;
  .tip {
    font-size: 13px;
  }
  .jifen {
    font-size: 30px;
  }
}

.details {
  border-radius: px2rem(16);
  background: white;
  padding: px2rem(10) px2rem(20);
  .list {
    padding: px2rem(24) px2rem(2);
    border-bottom: 1px solid $border-color;
    &:nth-last-of-type(1) {
      border-bottom: none;
    }
    .title {
      font-size: px2rem(30);
      padding-bottom: px2rem(12);
    }
    .item {
      display: flex;
      justify-content: space-between;
      font-size: px2rem(22);
    }
  }
}